<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>废弃设备</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
</head>

<body>
    <form class="layui-form layui-form-pane" name="feiqiForm" id="feiqiForm" >
    <input type="hidden" id="id" name="id"  th:value="${feiqi?.id}">
    <input type="hidden" id="scc1" name="scc1"  th:value="${scc1}">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">处理工艺/设施名称</label>
            <div class="layui-input-block" >
                <input id="feiqiNo" name="feiqiNo" th:value="${feiqi?.deviceName}"  class="layui-input"  type="text" lay-verify="required">
            </div>
        </div>
        <div class="layui-inline" >
            <label class="layui-form-label">废弃类型Ⅰ</label>
            <div class="layui-input-block">
                <select id="scc2" name="scc2" th:field="*{feiqi.scc2}" lay-filter="functio" lay-verify="required">
                    <option value="">请选择</option>
                    <option th:each="scc2 : ${scc2s}" th:value="${scc2.scc2}" th:text="${scc2.description}">
                    </option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">废弃类型Ⅱ</label>
            <div class="layui-input-block">
                <select id="scc3" name="scc3" th:field="*{feiqi.scc3}" lay-filter="fueltype" lay-verify="required">
                    <option value="">请选择</option>
                    <option th:each="scc3 : ${scc3s}" th:value="${scc3.scc3}" th:text="${scc3.description}">
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline" >
            <label class="layui-form-label">处理技术</label>
            <div class="layui-input-block" >
                <select id="scc4" name="scc4" th:field="*{feiqi.scc4}" lay-filter="model" lay-verify="required">
                    <option value="">请选择</option>
                    <option th:each="scc4 : ${scc4s}" th:value="${scc4.scc4}" th:text="${scc4.description}">
                    </option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">SCC编码</label>
            <div class="layui-input-block">
                <input id="sccCode" name="sccCode" th:value="${feiqi?.sccCode}" class="layui-input"  readonly="readonly" type="text" lay-verify="required|number">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">处理量</label>
            <div class="layui-input-block">
                <input id="unit" name="unit" th:value="${feiqi?.watter}" class="layui-input" type="text" placeholder="污水处理量(单位m3/年)/年固体废弃物处理量（单位：吨/年）" lay-verify="required">
            </div>
        </div>
        <div class="layui-inline" >
            <label class="layui-form-label">设备经度</label>
            <div class="layui-input-block">
                <input id="lon1" name="lon1" th:value="${feiqi?.lon1}" class="layui-input"  type="text" placeholder="93.68~96.30" lay-verify="required|longitude">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline" >
            <label class="layui-form-label">设备纬度</label>
            <div class="layui-input-inline" >
                <input id="lat1" name="lat1" th:value="${feiqi?.lat1}" class="layui-input" type="text" placeholder="34.37~49.55" lay-verify="required|latitude">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">一月</label>
            <div class="layui-input-block">
                <input id="janUseamount" name="janUseamount" th:value="${feiqi?.janUseamount}" class="layui-input" type="text" lay-verify="number">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" >二月</label>
            <div class="layui-input-block" >
                <input id="febUseamount" name="febUseamount" th:value="${feiqi?.febUseamount}"  class="layui-input" type="text" lay-verify="number">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">三月</label>
            <div class="layui-input-block">
                <input id="marUseamount" name="marUseamount" th:value="${feiqi?.marUseamount}" class="layui-input" type="text" lay-verify="number">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">四月</label>
            <div class="layui-input-block">
                <input id="aprUseamount" name="aprUseamount" th:value="${feiqi?.aprUseamount}" class="layui-input" type="text" lay-verify="number">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">五月</label>
            <div class="layui-input-block" >
                <input id="mayUseamount" name="mayUseamount" th:value="${feiqi?.mayUseamount}"  class="layui-input" type="text" lay-verify="number">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">六月</label>
            <div class="layui-input-block">
                <input id="juneUseamount" name="juneUseamount" th:value="${feiqi?.juneUseamount}" class="layui-input" type="text" lay-verify="number">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">七月份</label>
            <div class="layui-input-block">
                <input id="julyUseamount" name="julyUseamount" th:value="${feiqi?.julyUseamount}" class="layui-input" type="text" lay-verify="number">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">八月</label>
            <div class="layui-input-block" >
                <input id="augUseamount" name="augUseamount" th:value="${feiqi?.augUseamount}"  class="layui-input" type="text" lay-verify="number">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">九月</label>
            <div class="layui-input-block">
                <input id="septUseamount" name="septUseamount" th:value="${feiqi?.septUseamount}" class="layui-input" type="text" lay-verify="number">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">十月</label>
            <div class="layui-input-block">
                <input id="octUseAmount" name="octUseAmount" th:value="${feiqi?.octUseAmount}" class="layui-input" type="text" lay-verify="number">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">十一月</label>
            <div class="layui-input-block" >
                <input id="novUseamount" name="novUseamount" th:value="${feiqi?.novUseamount}"  class="layui-input" type="text" lay-verify="number">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">十二月</label>
            <div class="layui-input-block">
                <input id="decUseamount" name="decUseamount" th:value="${feiqi?.decUseamount}" class="layui-input" type="text" lay-verify="number">
            </div>
        </div>
    </div>
    <shiro:hasPermission name="factoryAuth:feiqi:update">
        <div class="layui-input-inline login-btn" style="margin-left: 40%;margin-top: 10px">
            <button class="layui-btn layui-btn-blue" lay-filter="edit" value="submit" type="submit" lay-submit="">保存提交</button>
        </div>
    </shiro:hasPermission>
</form>

    <script th:src="@{/lib/jquery/jquery.min.js}"></script>
    <script th:src="@{/lib/layui/layui.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/lib/echarts/echarts.min.js}"></script>

    <script type="application/javascript">
        layui.use(['form', 'layer','jquery'], function(){
            $ = layui.jquery;
            var form = layui.form
                , layer = layui.layer
            form.verify({
                "longitude": function(value, item) {
                    var reg = new RegExp(/^[\-\+]?(0(\.\d{1,10})?|([1-9](\d)?)(\.\d{1,10})?|1[0-7]\d{1}(\.\d{1,10})?|180\.0{1,10})$/);
                    if(value.length > 0 ){
                        if (!reg.test(value)) {
                            return '经度整数部分为0-180,小数部分为0到6位!'
                        }
                    }
                }, "latitude": function(value, item) {
                    var reg = new RegExp(/^[\-\+]?((0|([1-8]\d?))(\.\d{1,10})?|90(\.0{1,10})?)$/);
                    if(value.length > 0 ){
                        if (!reg.test(value)) {
                            return '纬度整数部分为0-90,小数部分为0到6位!\''
                        }
                    }
                }
            })
            form.on('select(functio)',function(data){
                var formData = {};
                var t = $('form').serializeArray();
                $.each(t, function() {
                    formData [this.name] = this.value;
                });
                var scc1=formData["scc1"];
                var scc2=data.value;
                $.ajax({
                    url: '/factoryAuth/seleScc2/' + scc2,
                    data: {scc1: scc1,scc2: scc2},//发送的参数
                    type: "post",
                    success: function (datas) {
                        $("select[name=scc3]").html('<option value="">请选择</option>'); //清空
                        $("select[name=scc4]").html('<option value="">请选择</option>'); //清空
                        if(datas.length>0){
                            $.each(datas, function(key, val) {
                                var option1 = $("<option>").val(val.scc3).text(val.description);
                                $("select[name=scc3]").append(option1);
                                form.render('select');
                            });
                        }else{
                            form.render('select');
                        }
                    },
                    error:function(){
                        //失败执行的方法
                        layer.msg("更新失败!", {icon: 6});
                    }
                })
            });
            form.on('select(fueltype)',function(data){
                var formData = {};
                var t = $('form').serializeArray();
                $.each(t, function() {
                    formData [this.name] = this.value;
                });
                var scc1=formData["scc1"];
                var scc2=formData["activitiesCategory"];

                var scc3=data.value;
                $.ajax({
                    url: '/factoryAuth/seleScc3/' + scc2+"/"+scc3,
                    data: {scc1: scc1,scc2: scc2,scc3: scc3},//发送的参数
                    type: "post",
                    success: function (datas) {
                        $("select[name=scc4]").html('<option value="">请选择</option>'); //清空
                        if(datas.length>0){
                            $.each(datas, function(key, val) {
                                var option1 = $("<option>").val(val.scc4).text(val.description);
                                $("select[name=scc4]").append(option1);
                                form.render('select');
                            });
                        }else{
                            form.render('select');
                        }
                    },
                    error:function(){
                        //失败执行的方法
                        layer.msg("更新失败!", {icon: 6});
                    }
                })
            });
            //监听提交
            form.on('submit(edit)', function (form) {
                var data = form.field;
                $.post('/factoryAuth/feiqi/edit/' + data.id , form.field, function (result) {
                    handlerResult(result, function (data) {
                        layer.msg("提交成功！",{icon: 6, time:1000});
                    });
                });
                return false;
            });
        });
    </script>
</body>
</html>