/* ----- 滚动条样式 ----- */

::-webkit-scrollbar{width: 8px; height: 8px;background: transparent;}
::-webkit-scrollbar-button:vertical{display: none;}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner{background-color: #e2e2e2;}
::-webkit-scrollbar-thumb{border-radius: 8px; background-color: #a6a6a6;}
::-webkit-scrollbar-thumb:vertical:hover{background-color: #7f7f7f;}
::-webkit-scrollbar-thumb:vertical:active{background-color: rgba(0,0,0,.38);}

/* ----- 滚动条样式 ----- */


* {
    box-sizing: border-box;
}

.page-loading {
    z-index: 9999999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
}

.rubik-loader {
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.z-body {
    margin: 30px;
}


.x-admin-carousel, .layui-carousel, .x-admin-carousel > [carousel-item] > * {
    background-color: #fff
}

.x-admin-backlog .x-admin-backlog-body {
    display: block;
    padding: 10px 15px;
    background-color: #f8f8f8;
    color: #999;
    border-radius: 2px;
    transition: all .3s;
    -webkit-transition: all .3s
}

.x-admin-backlog-body h3 {
    padding-bottom: 10px;
    font-size: 12px
}

.x-admin-backlog-body p cite {
    font-style: normal;
    font-size: 30px;
    font-weight: 300;
    color: #009688
}

.x-admin-backlog-body:hover {
    background-color: #CFCFCF;
    color: #888
}



.login-main {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    margin: 0 auto;
}

.login-main header {
    margin-top: 150px;
    height: 35px;
    line-height: 35px;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
}

.login-main header, .login-main form, .login-main form .layui-input-inline{
    margin-bottom: 15px;
}

.login-main form .layui-input-inline, .login-main form .layui-input-inline input, .login-main form .layui-input-inline button {
    width: 100%;
}

.login-main form .login-btn {
    margin-bottom: 5px;
}

.layui-btn-blue {
    background-color: #02a7f0;
}

/* dtree 下拉树样式 */
.dtree-select {
    position: absolute;
    max-height: 500px;
    height: 350px;
    overflow: auto;
    width: 100%;
    z-index: 123;
    display: none;
    border: 1px solid silver;
    top: 42px;
}

.layui-show {
    display: block !important;
}
/*字体样式*/
.vintage1{
    background: #EEE url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAHklEQVQImWNkYGBgYGD4//8/A5wF5SBYyAr+//8PAPOCFO0Q2zq7AAAAAElFTkSuQmCC) repeat;
    text-shadow: 5px -5px black, 4px -4px white;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text }
.vintage2{
    color: transparent;
    -webkit-text-stroke: 1px red;
    letter-spacing: 0.04em;}
.vintage3 {
    color: transparent;
    background-color : blue;
    text-shadow : rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
    -webkit-background-clip : text;
}
.vintage4{
    color: gold;
    letter-spacing: 0;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135 }
.vintage5{
    font-family:cursive;text-shadow:6px 2px 2px #333;color:deeppink
}
.text{
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    background-image: -webkit-linear-gradient(left,blue,#66ffff 10%,#cc00ff 20%,#CC00CC 30%, #CCCCFF 40%, #00FFFF 50%,#CCCCFF 60%,#CC00CC 70%,#CC00FF 80%,#66FFFF 90%,blue 100%);
    -webkit-text-fill-color: transparent;/* 将字体设置成透明色 */
    -webkit-background-clip: text;/* 裁剪背景图，使文字作为裁剪区域向外裁剪 */
    -webkit-background-size: 200% 100%;
    -webkit-animation: masked-animation 4s linear infinite;
    font-size: 35px;
}