<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>装置密封点</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
</head>

<body>
    <div class="z-body animated fadeIn">
        <form class="layui-form layui-form-pane">
            <input type="hidden" id="comId" name="comId" >
            <div class="layui-form-item">
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px">年份</label>
                    <div class="layui-input-block" style="width: 240px">
                        <input type="text" class="layui-input" id="year" name="year" placeholder="年份">
                    </div>
                </div>
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px">城市</label>
                    <div class="layui-input-block" style="width: 240px">
                        <select id="cityCode" name="cityCode" lay-filter="cityCode">
                            <option value="">请选择</option>
                            <option th:each="city : ${citys}" th:value="${city.cityCode}" th:text="${city.cityName}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px">区县</label>
                    <div class="layui-input-block" style="width: 240px">
                        <select id="countyId" name="countyId" lay-filter="countyId">
                            <option value="">请选择</option>
                            <option th:each="county : ${countys}" th:value="${county.countyId}" th:text="${county.countyName}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px;">企业名称</label>
                    <div class="layui-input-block"  style="width: 240px;">
                        <input id="companyName" name="companyName" class="layui-input" type="text"  lay-verify="required|chinese">
                    </div>
                </div>
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px;">地址</label>
                    <div class="layui-input-block"  style="width: 240px;">
                        <input id="address" name="address" class="layui-input" type="text"  lay-verify="required|chinese">
                    </div>
                </div>
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px;">企业备注</label>
                    <div class="layui-input-block" style="width: 240px;">
                        <input id="category" name="category" class="layui-input" type="text"  lay-verify="">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px;">经度</label>
                    <div class="layui-input-block"  style="width: 240px;">
                        <input id="longitude" name="longitude" class="layui-input" type="text"  lay-verify="required|longitude">
                    </div>
                </div>
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px;">纬度</label>
                    <div class="layui-input-block"  style="width: 240px;">
                        <input id="latitude" name="latitude" class="layui-input" type="text"  lay-verify="required|latitude">
                    </div>
                </div>
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px">四级编码</label>
                    <div class="layui-input-block" style="width: 240px">
                        <select id="scc4" name="scc4" lay-filter="model" lay-verify="required">
                            <option value="">请选择</option>
                            <option th:each="scc4 : ${scc4s}" th:value="${scc4.scc4}" th:text="${scc4.description}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px;">活动水平</label>
                    <div class="layui-input-block"  style="width: 240px;">
                        <input id="activity" name="activity" class="layui-input" type="text"  lay-verify="required|pos-num">
                    </div>
                </div>
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px;">密封类型</label>
                    <div class="layui-input-block" style="width: 240px;">
                        <input id="unitType" name="unitType" class="layui-input" type="text"  lay-verify="required">

                    </div>
                </div>
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px;">计量单位</label>
                    <div class="layui-input-block" style="width: 240px;">
                        <select id="activityUnit" name="activityUnit" lay-verify="required">
                            <option value="" >请选择</option>
                            <option value="吨" >吨</option>
                            <option value="立方米">立方米</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 190px">污染物系统运算/人工填报</label>
                    <div class="layui-input-block" style="width: 160px">
                        <input type="checkbox" id="isCul" name="isCul" lay-skin="switch" lay-filter="isCul" lay-text="ON|OFF">
                    </div>
                </div>
            </div>
            <div id="emissionDiv" name="emissionDiv" style="display: none" >
                <div class="layui-form-item">
                    <div class="layui-inline" style="width: 350px;">
                        <label class="layui-form-label" style="width: 180px;">PM2.5</label>
                        <div class="layui-input-block" >
                            <input id="pm25Emission" name="pm25Emission" style="width: 170px;" class="layui-input" type="text" lay-verify="pos-num">
                        </div>
                    </div>
                    <div class="layui-inline" style="width: 350px;">
                        <label class="layui-form-label" style="width: 180px;">PM10</label>
                        <div class="layui-input-block">
                            <input id="pm10Emission" name="pm10Emission" style="width: 170px;" class="layui-input" type="text" lay-verify="pos-num">
                        </div>
                    </div>
                    <div class="layui-inline" style="width: 350px;">
                        <label class="layui-form-label"  style="width: 180px;">CO</label>
                        <div class="layui-input-block">
                            <input id="coEmission" name="coEmission" style="width: 170px;" class="layui-input" type="text" lay-verify="pos-num">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline" style="width: 350px;">
                        <label class="layui-form-label" style="width: 180px;">VOCs</label>
                        <div class="layui-input-block" >
                            <input id="vocEmission" name="vocEmission" style="width: 170px;" class="layui-input" type="text" lay-verify="pos-num">
                        </div>
                    </div>
                    <div class="layui-inline" style="width: 350px;">
                        <label class="layui-form-label" style="width: 180px;">SO2</label>
                        <div class="layui-input-block">
                            <input id="so2Emission" name="so2Emission" style="width: 170px;" class="layui-input" type="text" lay-verify="pos-num">
                        </div>
                    </div>
                    <div class="layui-inline" style="width: 350px;">
                        <label class="layui-form-label"  style="width: 180px;">NOx</label>
                        <div class="layui-input-block">
                            <input id="noxEmission" name="noxEmission" style="width: 170px;" class="layui-input" type="text" lay-verify="pos-num">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline" style="width: 350px;">
                        <label class="layui-form-label" style="width: 180px;">NH3</label>
                        <div class="layui-input-block" >
                            <input id="nh3Emission" name="nh3Emission" style="width: 170px;" class="layui-input" type="text" lay-verify="pos-num">
                        </div>
                    </div>
                    <div class="layui-inline" style="width: 350px;">
                        <label class="layui-form-label" style="width: 180px;">OC</label>
                        <div class="layui-input-block">
                            <input id="ocEmission" name="ocEmission" style="width: 170px;" class="layui-input" type="text" lay-verify="pos-num">
                        </div>
                    </div>
                    <div class="layui-inline" style="width: 350px;">
                        <label class="layui-form-label"  style="width: 180px;">BC</label>
                        <div class="layui-input-block">
                            <input id="bcEmission" name="bcEmission" style="width: 170px;" class="layui-input" type="text" lay-verify="pos-num">
                        </div>
                    </div>
                </div>
            </div>
            <shiro:hasPermission name="factoryAuth:scatteredCoal:update">
                <div class="layui-input-inline login-btn" style="margin-left: 40%;margin-top: 10px">
                    <button class="layui-btn layui-btn-blue"  lay-submit=""  lay-filter="edit">提交保存</button>
                </div>
            </shiro:hasPermission>
        </form>
    </div>
    <script th:src="@{/lib/jquery/jquery.min.js}"></script>
    <script th:src="@{/lib/layui/layui.js}"></script>
    <script th:src="@{/js/common.js}"></script>

    <script type="application/javascript">
        layui.use(['form', 'layer','jquery'], function(){
            $ = layui.jquery;
            var form = layui.form
                , layer = layui.layer

            //监听提交
            form.on('submit(edit)', function (form) {
                form.field._method = 'PUT';
                var data = form.field;
                var isCul=$('input[name="isCul"]:checked').is(':checked');
                data.isCul=isCul;
                $.post('/source/process/shSeal/edit', form.field, function (result) {
                    handlerResult(result, function (data) {
                        layer.msg("提交成功！",{icon: 6, time:1000});
                    });
                });
                return false;
            });
        });
    </script>
</body>
</html>