<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>排放因子修改</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
</head>

<body>
    <div class="z-body animated fadeIn" >
        <form class="layui-form layui-form-pane">
            <div class="layui-form-item">
                <label for="pm" class="layui-form-label"> PM </label>
                <div class="layui-input-block" >
                    <input type="text" id="pm" name="pm" th:value="${scc?.pm}" lay-verify="required|pos-num" lay-vertype="tips" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="pm10" class="layui-form-label"> PM10 </label>
                <div class="layui-input-block" >
                    <input type="text" id="pm10" name="pm10" th:value="${scc?.pm10}" lay-verify="required|pos-num" lay-vertype="tips" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="pm25" class="layui-form-label"> PM25 </label>
                <div class="layui-input-block" >
                    <input type="text" id="pm25" name="pm25" th:value="${scc?.pm25}" lay-verify="required|pos-num" lay-vertype="tips" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="nox" class="layui-form-label"> NOX </label>
                <div class="layui-input-block" >
                    <input type="text" id="nox" name="nox" th:value="${scc?.nox}" lay-verify="required|pos-num" lay-vertype="tips" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="so2" class="layui-form-label"> SO2 </label>
                <div class="layui-input-block" >
                    <input type="text" id="so2" name="so2" th:value="${scc?.so2}" lay-verify="required|pos-num" lay-vertype="tips" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="nh3" class="layui-form-label"> NH3 </label>
                <div class="layui-input-block" >
                    <input type="text" id="nh3" name="nh3" th:value="${scc?.nh3}" lay-verify="required|pos-num" lay-vertype="tips" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="vocs" class="layui-form-label"> VOCS </label>
                <div class="layui-input-block" >
                    <input type="text" id="vocs" name="vocs" th:value="${scc?.vocs}" lay-verify="required|pos-num" lay-vertype="tips" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="co" class="layui-form-label"> CO </label>
                <div class="layui-input-block" >
                    <input type="text" id="co" name="co" th:value="${scc?.co}" lay-verify="required|pos-num" lay-vertype="tips" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="oc" class="layui-form-label"> OC </label>
                <div class="layui-input-block" >
                    <input type="text" id="oc" name="oc" th:value="${scc?.oc}" lay-verify="required|pos-num" lay-vertype="tips" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="bc" class="layui-form-label"> BC </label>
                <div class="layui-input-block" >
                    <input type="text" id="bc" name="bc" th:value="${scc?.bc}" lay-verify="required|pos-num" lay-vertype="tips" autocomplete="off" class="layui-input">
                </div>
            </div>
            <input type="hidden" name="scc" th:value="${scc?.scc}">
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left:0;text-align:center;">
                    <button type="button" th:text="提交"  class="layui-btn layui-btn-normal" lay-submit="" lay-filter="add"></button>
                </div>
            </div>
        </form>
    </div>

    <script th:src="@{/lib/jquery/jquery.min.js}"></script>
    <script th:src="@{/lib/layui/layui.js}"></script>
    <script th:src="@{/js/common.js}"></script>

    <script>
        layui.use(['form', 'layer'], function () {
            $ = layui.jquery;
            var form = layui.form
                , layer = layui.layer
            form.on('submit(add)', function (form) {
                var date=form.field
                $.post('/factoryAuth/scc/' + date.scc + "/update",date , function (result) {
                    handlerResult(result, updateDone);
                });
                return false;
            });
            function updateDone(data) {
                layer.msg("修改成功", {icon: 6});
            }
        });
    </script>
</body>

</html>