<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>企业用户列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
</head>

<body>

    <div class="page-loading">
        <div class="rubik-loader"></div>
    </div>
    <div class="z-body animated fadeIn">
        <div class="layui-row">
            <form class="layui-form layui-col-md12 we-search">
                <div class="layui-input-inline">
                    <select id="countyCity" name="countyCity" lay-filter="cityCode">
                        <option value="">请选择实际城市</option>
                        <option th:each="city : ${citys}" th:value="${city.cityCode}" th:text="${city.cityName}">
                        </option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select id="countyId" name="countyId" lay-filter="countyId">
                        <option value="">请选择实际区县</option>
                        <option th:each="county : ${countys}" th:value="${county.countyId}" th:text="${county.countyName}">
                        </option>
                    </select>
                </div>
                <div class="layui-inline">
                    <input type="text" id="factoryNo1" name="factoryNo1" placeholder="工厂编号"  lay-verify="" class="layui-input">
                </div>
                <div class="layui-inline">
                    <input id="factoryName" name="factoryName" type="text" class="layui-input" placeholder="工厂名称" autocomplete="off" lay-verify="chinese">
                </div>
                <button  id="selectFactorys" type="button" class="layui-btn" lay-submit lay-filter="search" data-type="reload">
                    <i class="layui-icon">&#xe615;</i></button>
            </form>
        </div>
        <div class="layui-row">
            <table class="layui-hide" id="factorysTable"></table>
        </div>
    </div>

    <script th:src="@{/lib/jquery/jquery.min.js}"></script>
    <script th:src="@{/lib/layui/layui.js}"></script>
    <script th:src="@{/js/common.js}"></script>

    <script type="text/html" id="toolbar">
        <shiro:hasPermission name="factory:add">
            <a class="layui-btn layui-btn-blue" lay-event="add"><i class="layui-icon layui-icon-add-circle"></i>新增</a>
        </shiro:hasPermission>
    </script>
    <script type="text/html" id="column-toolbar">
        <shiro:hasPermission name="factory:reset">
            <a class="layui-btn layui-btn-xs" lay-event="reset">重置密码</a>
        </shiro:hasPermission>
    </script>

    <script>
        layui.use(['table','form', 'element'], function () {
            var table = layui.table //表格
                ,form = layui.form //form表单
            table.render({
                elem: '#factorysTable'
                , url: '/factory/list'
                , page: true
                , toolbar: '#toolbar'
                , cols: [
                    [
                        {field: 'factoryNo1', title: '工厂编号'}
                        , {field: 'factoryName', title: '工厂名称'}
                        , {field: 'cityName', title: '实际城市'}
                        , {field: 'countyName', title: '实际区县'}
                        , {field: 'factoryLongitude', title: '工厂经度'}
                        , {field: 'factoryLatitude', title: '工厂维度'}
                        , {field: 'sourceType', title: '污染源类型'}
                        , {field: 'year', title: '年份',sort:true}
                        , {field: 'statusdec', title: '审核状态', width: "15%",sort:true}
                        , {title: '操作', fixed: 'right', align: 'center', toolbar: '#column-toolbar'}
                    ]
                ]
                ,page: true
                ,limit:50
                ,limits:[50,100,200,2000,5000]
                ,id: 'factoryTableReload'
            });

            //监听提交 lay-filter="search"
            form.on('submit(search)', function(data){
                var formData = data.field;
                var countyId = formData.countyId,
                    countyCity=formData.countyCity,
                    factoryName=formData.factoryName,
                    factoryNo1=formData.factoryNo1
                //执行重载
                table.reload('factoryTableReload',{
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        countyId: countyId,
                        factoryName: factoryName,
                        countyCity: countyCity,
                        factoryNo1: factoryNo1
                    }
                    , url: '/factory/reload'//后台做模糊搜索接口路径
                    , method: 'get'
                });
                return false;//false：阻止表单跳转  true：表单跳转
            });
            // 行点击事件 重置密码
            table.on('tool', function (obj) {
                var data = obj.data;
                var event = obj.event;
                if (event === 'reset') {
                    layer.open({
                        content: '/factory/' + data.factoryNo1 + "/reset",
                        title: "重置密码",
                        area: ['500px', '200px'],
                        type: 2,
                        maxmin: true,
                        shadeClose: true,
                        end: function () {
                            $(".layui-laypage-btn")[0].click()
                        }
                    });
                }
            });
            // 工具条点击事件
            table.on('toolbar', function (obj) {
                var data = obj.data;
                var event = obj.event;

                if (event === 'add') {
                    add();
                }
            });
            function add() {
                layer.open({
                    content: "/factory",
                    title: "新增用户",
                    area: ['40%', '85%'],
                    type: 2,
                    maxmin: true,
                    shadeClose: true,
                    end: function () {
                        $(".layui-laypage-btn")[0].click()
                        table.reload('factoryTableReload');
                    }
                });
            }
        });

    </script>

</body>

</html>