<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nankai.xl.business.mapper.ActivityMMapper">
  <resultMap id="BaseResultMap" type="nankai.xl.business.model.ActivityM">
    <id column="month_id" jdbcType="INTEGER" property="monthId" />
    <result column="january" jdbcType="INTEGER" property="january" />
    <result column="february" jdbcType="INTEGER" property="february" />
    <result column="march" jdbcType="INTEGER" property="march" />
    <result column="april" jdbcType="INTEGER" property="april" />
    <result column="may" jdbcType="INTEGER" property="may" />
    <result column="june" jdbcType="INTEGER" property="june" />
    <result column="july" jdbcType="INTEGER" property="july" />
    <result column="august" jdbcType="INTEGER" property="august" />
    <result column="september" jdbcType="INTEGER" property="september" />
    <result column="october" jdbcType="INTEGER" property="october" />
    <result column="november" jdbcType="INTEGER" property="november" />
    <result column="december" jdbcType="INTEGER" property="december" />
    <result column="total_month" jdbcType="INTEGER" property="totalMonth" />
  </resultMap>
  <sql id="Base_Column_List">
    month_id, january, february, march, april, may, june, july, august, september, october, 
    november, december, total_month
  </sql>
<!--  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">-->
<!--    select -->
<!--    <include refid="Base_Column_List" />-->
<!--    from activity_m-->
<!--    where month_id = #{monthId,jdbcType=INTEGER}-->
<!--  </select>-->
<!--  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">-->
<!--    delete from activity_m-->
<!--    where month_id = #{monthId,jdbcType=INTEGER}-->
<!--  </delete>-->
<!--  <insert id="insertSelective" parameterType="com.nankai.xining.bean.ActivityM">-->
<!--    insert into activity_m-->
<!--    <trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--      <if test="monthId != null">-->
<!--        month_id,-->
<!--      </if>-->
<!--      <if test="january != null">-->
<!--        january,-->
<!--      </if>-->
<!--      <if test="february != null">-->
<!--        february,-->
<!--      </if>-->
<!--      <if test="march != null">-->
<!--        march,-->
<!--      </if>-->
<!--      <if test="april != null">-->
<!--        april,-->
<!--      </if>-->
<!--      <if test="may != null">-->
<!--        may,-->
<!--      </if>-->
<!--      <if test="june != null">-->
<!--        june,-->
<!--      </if>-->
<!--      <if test="july != null">-->
<!--        july,-->
<!--      </if>-->
<!--      <if test="august != null">-->
<!--        august,-->
<!--      </if>-->
<!--      <if test="september != null">-->
<!--        september,-->
<!--      </if>-->
<!--      <if test="october != null">-->
<!--        october,-->
<!--      </if>-->
<!--      <if test="november != null">-->
<!--        november,-->
<!--      </if>-->
<!--      <if test="december != null">-->
<!--        december,-->
<!--      </if>-->
<!--      <if test="totalMonth != null">-->
<!--        total_month,-->
<!--      </if>-->
<!--    </trim>-->
<!--    <trim prefix="values (" suffix=")" suffixOverrides=",">-->
<!--      <if test="monthId != null">-->
<!--        #{monthId,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="january != null">-->
<!--        #{january,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="february != null">-->
<!--        #{february,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="march != null">-->
<!--        #{march,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="april != null">-->
<!--        #{april,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="may != null">-->
<!--        #{may,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="june != null">-->
<!--        #{june,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="july != null">-->
<!--        #{july,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="august != null">-->
<!--        #{august,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="september != null">-->
<!--        #{september,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="october != null">-->
<!--        #{october,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="november != null">-->
<!--        #{november,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="december != null">-->
<!--        #{december,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="totalMonth != null">-->
<!--        #{totalMonth,jdbcType=INTEGER},-->
<!--      </if>-->
<!--    </trim>-->
<!--  </insert>-->
<!--  <update id="updateByPrimaryKeySelective" parameterType="com.nankai.xining.bean.ActivityM">-->
<!--    update activity_m-->
<!--    <set>-->
<!--      <if test="january != null">-->
<!--        january = #{january,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="february != null">-->
<!--        february = #{february,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="march != null">-->
<!--        march = #{march,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="april != null">-->
<!--        april = #{april,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="may != null">-->
<!--        may = #{may,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="june != null">-->
<!--        june = #{june,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="july != null">-->
<!--        july = #{july,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="august != null">-->
<!--        august = #{august,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="september != null">-->
<!--        september = #{september,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="october != null">-->
<!--        october = #{october,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="november != null">-->
<!--        november = #{november,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="december != null">-->
<!--        december = #{december,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="totalMonth != null">-->
<!--        total_month = #{totalMonth,jdbcType=INTEGER},-->
<!--      </if>-->
<!--    </set>-->
<!--    where month_id = #{monthId,jdbcType=INTEGER}-->
<!--  </update>-->
</mapper>