<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nankai.xl.business.mapper.BiomassBoilerMapper" >
  <resultMap id="BaseResultMap" type="nankai.xl.business.model.BiomassBoiler" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="scc_code" property="sccCode" jdbcType="CHAR" />
    <result column="com_id" property="comId" jdbcType="INTEGER" />
    <result column="source_descrip" property="sourceDescrip" jdbcType="VARCHAR" />
    <result column="boiler_no" property="boilerNo" jdbcType="INTEGER" />
    <result column="fuel_type" property="fuelType" jdbcType="CHAR" />
    <result column="fuel_consumption" property="fuelConsumption" jdbcType="DOUBLE" />
    <result column="dust_remove_tech" property="dustRemoveTech" jdbcType="CHAR" />
    <result column="pm10_remove_ratio" property="pm10RemoveRatio" jdbcType="DOUBLE" />
    <result column="pm25_remove_ratio" property="pm25RemoveRatio" jdbcType="DOUBLE" />
    <result column="DESULPHUR_REMOVE_TECH" property="desulphurRemoveTech" jdbcType="CHAR" />
    <result column="SO2_REMOVE_RATIO" property="so2RemoveRatio" jdbcType="DOUBLE" />
    <result column="DENITRIFIC_REMOVE_TECH" property="denitrificRemoveTech" jdbcType="CHAR" />
    <result column="NOX_REMOVE_RATIO" property="noxRemoveRatio" jdbcType="DOUBLE" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="CHAR" />
    <result column="pm10_emission" property="pm10Emission" jdbcType="DOUBLE" />
    <result column="pm25_emission" property="pm25Emission" jdbcType="DOUBLE" />
    <result column="co_emission" property="coEmission" jdbcType="DOUBLE" />
    <result column="voc_emission" property="vocEmission" jdbcType="DOUBLE" />
    <result column="pm_emission" property="pmEmission" jdbcType="DOUBLE" />
    <result column="so2_emission" property="so2Emission" jdbcType="DOUBLE" />
    <result column="nox_emission" property="noxEmission" jdbcType="DOUBLE" />
    <result column="nh3_emission" property="nh3Emission" jdbcType="DOUBLE" />
    <result column="oc_emission" property="ocEmission" jdbcType="DOUBLE" />
    <result column="bc_emission" property="bcEmission" jdbcType="DOUBLE" />
  </resultMap>
  <select id="selectByExample" resultType="nankai.xl.business.model.vo.BiomassBoilerVo" parameterType="nankai.xl.business.model.vo.BiomassBoilerVo" >
    SELECT biomass_boiler.*,company.*,co.COUNTY_NAME,co.city_code,co.city_name,SUBSTR(biomass_boiler.scc_code,1,2) AS scc1,SUBSTR(biomass_boiler.scc_code,3,2) AS scc2,SUBSTR(biomass_boiler.scc_code,5,3) AS scc3,SUBSTR(biomass_boiler.scc_code,8,3) AS scc4
    FROM biomass_boiler
    LEFT JOIN company
    ON biomass_boiler.com_id=company.com_id
    LEFT JOIN (
      SELECT county.COUNTY_ID,county.COUNTY_NAME,city.city_name,city.city_code
      FROM county
      LEFT JOIN city
      ON county.city_code=city.city_code
    ) co
    ON co.COUNTY_ID=company.county_id
    <where>
      <if test="year != null and year != ''">
        biomass_boiler.year = #{year}
      </if>
      <if test="countyId != null and countyId != ''">
        AND company.county_id = #{countyId}
      </if>
      <if test="cityCode != null and cityCode != ''">
        AND co.city_code = #{cityCode}
      </if>
    </where>
  </select>
  <select id="selectById" resultType="nankai.xl.business.model.vo.BiomassBoilerVo" parameterType="java.lang.Integer" >
    SELECT biomass_boiler.*,company.*,co.COUNTY_NAME,co.city_code,co.city_name,SUBSTR(biomass_boiler.scc_code,1,2) AS scc1,SUBSTR(biomass_boiler.scc_code,3,2) AS scc2,SUBSTR(biomass_boiler.scc_code,5,3) AS scc3,SUBSTR(biomass_boiler.scc_code,8,3) AS scc4
    FROM biomass_boiler
    LEFT JOIN company
    ON biomass_boiler.com_id=company.com_id
    LEFT JOIN (
      SELECT county.COUNTY_ID,county.COUNTY_NAME,city.city_name,city.city_code
      FROM county
      LEFT JOIN city
      ON county.city_code=city.city_code
    ) co
    ON co.COUNTY_ID=company.county_id
    where biomass_boiler.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from biomass_boiler
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="nankai.xl.business.model.BiomassBoiler" >
    insert into biomass_boiler
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sccCode != null" >
        scc_code,
      </if>
      <if test="comId != null" >
        com_id,
      </if>
      <if test="sourceDescrip != null" >
        source_descrip,
      </if>
      <if test="boilerNo != null" >
        boiler_no,
      </if>
      <if test="fuelType != null" >
        fuel_type,
      </if>
      <if test="fuelConsumption != null" >
        fuel_consumption,
      </if>
      <if test="dustRemoveTech != null" >
        dust_remove_tech,
      </if>
      <if test="pm10RemoveRatio != null" >
        pm10_remove_ratio,
      </if>
      <if test="pm25RemoveRatio != null" >
        pm25_remove_ratio,
      </if>
      <if test="desulphurRemoveTech != null" >
        DESULPHUR_REMOVE_TECH,
      </if>
      <if test="so2RemoveRatio != null" >
        SO2_REMOVE_RATIO,
      </if>
      <if test="denitrificRemoveTech != null" >
        DENITRIFIC_REMOVE_TECH,
      </if>
      <if test="noxRemoveRatio != null" >
        NOX_REMOVE_RATIO,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="pm10Emission != null" >
        pm10_emission,
      </if>
      <if test="pm25Emission != null" >
        pm25_emission,
      </if>
      <if test="coEmission != null" >
        co_emission,
      </if>
      <if test="vocEmission != null" >
        voc_emission,
      </if>
      <if test="pmEmission != null" >
        pm_emission,
      </if>
      <if test="so2Emission != null" >
        so2_emission,
      </if>
      <if test="noxEmission != null" >
        nox_emission,
      </if>
      <if test="nh3Emission != null" >
        nh3_emission,
      </if>
      <if test="ocEmission != null" >
        oc_emission,
      </if>
      <if test="bcEmission != null" >
        bc_emission,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sccCode != null" >
        #{sccCode,jdbcType=CHAR},
      </if>
      <if test="comId != null" >
        #{comId,jdbcType=INTEGER},
      </if>
      <if test="sourceDescrip != null" >
        #{sourceDescrip,jdbcType=VARCHAR},
      </if>
      <if test="boilerNo != null" >
        #{boilerNo,jdbcType=INTEGER},
      </if>
      <if test="fuelType != null" >
        #{fuelType,jdbcType=CHAR},
      </if>
      <if test="fuelConsumption != null" >
        #{fuelConsumption,jdbcType=DOUBLE},
      </if>
      <if test="dustRemoveTech != null" >
        #{dustRemoveTech,jdbcType=CHAR},
      </if>
      <if test="pm10RemoveRatio != null" >
        #{pm10RemoveRatio,jdbcType=DOUBLE},
      </if>
      <if test="pm25RemoveRatio != null" >
        #{pm25RemoveRatio,jdbcType=DOUBLE},
      </if>
      <if test="desulphurRemoveTech != null" >
        #{desulphurRemoveTech,jdbcType=CHAR},
      </if>
      <if test="so2RemoveRatio != null" >
        #{so2RemoveRatio,jdbcType=DOUBLE},
      </if>
      <if test="denitrificRemoveTech != null" >
        #{denitrificRemoveTech,jdbcType=CHAR},
      </if>
      <if test="noxRemoveRatio != null" >
        #{noxRemoveRatio,jdbcType=DOUBLE},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=CHAR},
      </if>
      <if test="pm10Emission != null" >
        #{pm10Emission,jdbcType=DOUBLE},
      </if>
      <if test="pm25Emission != null" >
        #{pm25Emission,jdbcType=DOUBLE},
      </if>
      <if test="coEmission != null" >
        #{coEmission,jdbcType=DOUBLE},
      </if>
      <if test="vocEmission != null" >
        #{vocEmission,jdbcType=DOUBLE},
      </if>
      <if test="pmEmission != null" >
        #{pmEmission,jdbcType=DOUBLE},
      </if>
      <if test="so2Emission != null" >
        #{so2Emission,jdbcType=DOUBLE},
      </if>
      <if test="noxEmission != null" >
        #{noxEmission,jdbcType=DOUBLE},
      </if>
      <if test="nh3Emission != null" >
        #{nh3Emission,jdbcType=DOUBLE},
      </if>
      <if test="ocEmission != null" >
        #{ocEmission,jdbcType=DOUBLE},
      </if>
      <if test="bcEmission != null" >
        #{bcEmission,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <insert id="insertOrUpdate" parameterType="nankai.xl.business.model.BiomassBoiler" >
    insert into biomass_boiler (id, scc_code, com_id, 
      source_descrip, boiler_no, fuel_type, 
      fuel_consumption, dust_remove_tech, pm10_remove_ratio, 
      pm25_remove_ratio, DESULPHUR_REMOVE_TECH, SO2_REMOVE_RATIO, 
      DENITRIFIC_REMOVE_TECH, NOX_REMOVE_RATIO, note, 
      year, pm10_emission, pm25_emission, 
      co_emission, voc_emission, pm_emission, 
      so2_emission, nox_emission, nh3_emission, 
      oc_emission, bc_emission)
    values (#{id,jdbcType=INTEGER}, #{sccCode,jdbcType=CHAR}, #{comId,jdbcType=INTEGER}, 
      #{sourceDescrip,jdbcType=VARCHAR}, #{boilerNo,jdbcType=INTEGER}, #{fuelType,jdbcType=CHAR}, 
      #{fuelConsumption,jdbcType=DOUBLE}, #{dustRemoveTech,jdbcType=CHAR}, #{pm10RemoveRatio,jdbcType=DOUBLE}, 
      #{pm25RemoveRatio,jdbcType=DOUBLE}, #{desulphurRemoveTech,jdbcType=CHAR}, #{so2RemoveRatio,jdbcType=DOUBLE}, 
      #{denitrificRemoveTech,jdbcType=CHAR}, #{noxRemoveRatio,jdbcType=DOUBLE}, #{note,jdbcType=VARCHAR}, 
      #{year,jdbcType=CHAR}, #{pm10Emission,jdbcType=DOUBLE}, #{pm25Emission,jdbcType=DOUBLE}, 
      #{coEmission,jdbcType=DOUBLE}, #{vocEmission,jdbcType=DOUBLE}, #{pmEmission,jdbcType=DOUBLE}, 
      #{so2Emission,jdbcType=DOUBLE}, #{noxEmission,jdbcType=DOUBLE}, #{nh3Emission,jdbcType=DOUBLE}, 
      #{ocEmission,jdbcType=DOUBLE}, #{bcEmission,jdbcType=DOUBLE})
    ON DUPLICATE KEY UPDATE 
      id = #{id,jdbcType=INTEGER},
      scc_code = #{sccCode,jdbcType=CHAR},
      com_id = #{comId,jdbcType=INTEGER},
      source_descrip = #{sourceDescrip,jdbcType=VARCHAR},
      boiler_no = #{boilerNo,jdbcType=INTEGER},
      fuel_type = #{fuelType,jdbcType=CHAR},
      fuel_consumption = #{fuelConsumption,jdbcType=DOUBLE},
      dust_remove_tech = #{dustRemoveTech,jdbcType=CHAR},
      pm10_remove_ratio = #{pm10RemoveRatio,jdbcType=DOUBLE},
      pm25_remove_ratio = #{pm25RemoveRatio,jdbcType=DOUBLE},
      DESULPHUR_REMOVE_TECH = #{desulphurRemoveTech,jdbcType=CHAR},
      SO2_REMOVE_RATIO = #{so2RemoveRatio,jdbcType=DOUBLE},
      DENITRIFIC_REMOVE_TECH = #{denitrificRemoveTech,jdbcType=CHAR},
      NOX_REMOVE_RATIO = #{noxRemoveRatio,jdbcType=DOUBLE},
      note = #{note,jdbcType=VARCHAR},
      year = #{year,jdbcType=CHAR},
      pm10_emission = #{pm10Emission,jdbcType=DOUBLE},
      pm25_emission = #{pm25Emission,jdbcType=DOUBLE},
      co_emission = #{coEmission,jdbcType=DOUBLE},
      voc_emission = #{vocEmission,jdbcType=DOUBLE},
      pm_emission = #{pmEmission,jdbcType=DOUBLE},
      so2_emission = #{so2Emission,jdbcType=DOUBLE},
      nox_emission = #{noxEmission,jdbcType=DOUBLE},
      nh3_emission = #{nh3Emission,jdbcType=DOUBLE},
      oc_emission = #{ocEmission,jdbcType=DOUBLE},
      bc_emission = #{bcEmission,jdbcType=DOUBLE}
  </insert>
  <insert id="insertList" parameterType="java.util.List">
    INSERT INTO biomass_boiler (id, scc_code, com_id,
    source_descrip, boiler_no, fuel_type,
    fuel_consumption, dust_remove_tech, pm10_remove_ratio,
    pm25_remove_ratio, DESULPHUR_REMOVE_TECH, SO2_REMOVE_RATIO,
    DENITRIFIC_REMOVE_TECH, NOX_REMOVE_RATIO, note,
    year, pm10_emission, pm25_emission,
    co_emission, voc_emission, pm_emission,
    so2_emission, nox_emission, nh3_emission,
    oc_emission, bc_emission)
    VALUES
    <foreach collection="list"  index="index" item="item" separator=",">
      (
      #{item.id,jdbcType=INTEGER},
      #{item.sccCode,jdbcType=CHAR},
      #{item.comId,jdbcType=INTEGER},
      #{item.sourceDescrip,jdbcType=VARCHAR},
      #{item.boilerNo,jdbcType=INTEGER},
      #{item.fuelType,jdbcType=CHAR},
      #{item.fuelConsumption,jdbcType=DOUBLE},
      #{item.dustRemoveTech,jdbcType=CHAR},
      #{item.pm10RemoveRatio,jdbcType=DOUBLE},
      #{item.pm25RemoveRatio,jdbcType=DOUBLE},
      #{item.desulphurRemoveTech,jdbcType=CHAR},
      #{item.so2RemoveRatio,jdbcType=DOUBLE},
      #{item.denitrificRemoveTech,jdbcType=CHAR},
      #{item.noxRemoveRatio,jdbcType=DOUBLE},
      #{item.note,jdbcType=VARCHAR},
      #{item.year,jdbcType=CHAR},
      #{item.pm10Emission,jdbcType=DOUBLE},
      #{item.pm25Emission,jdbcType=DOUBLE},
      #{item.coEmission,jdbcType=DOUBLE},
      #{item.vocEmission,jdbcType=DOUBLE},
      #{item.pmEmission,jdbcType=DOUBLE},
      #{item.so2Emission,jdbcType=DOUBLE},
      #{item.noxEmission,jdbcType=DOUBLE},
      #{item.nh3Emission,jdbcType=DOUBLE},
      #{item.ocEmission,jdbcType=DOUBLE},
      #{item.bcEmission,jdbcType=DOUBLE}
      )
    </foreach>
  </insert>
  <update id="updateById" parameterType="nankai.xl.business.model.BiomassBoiler" >
    update biomass_boiler
    <set >
      <if test="sccCode != null" >
        scc_code = #{sccCode,jdbcType=CHAR},
      </if>
      <if test="comId != null" >
        com_id = #{comId,jdbcType=INTEGER},
      </if>
      <if test="sourceDescrip != null" >
        source_descrip = #{sourceDescrip,jdbcType=VARCHAR},
      </if>
      <if test="boilerNo != null" >
        boiler_no = #{boilerNo,jdbcType=INTEGER},
      </if>
      <if test="fuelType != null" >
        fuel_type = #{fuelType,jdbcType=CHAR},
      </if>
      <if test="fuelConsumption != null" >
        fuel_consumption = #{fuelConsumption,jdbcType=DOUBLE},
      </if>
      <if test="dustRemoveTech != null" >
        dust_remove_tech = #{dustRemoveTech,jdbcType=CHAR},
      </if>
      <if test="pm10RemoveRatio != null" >
        pm10_remove_ratio = #{pm10RemoveRatio,jdbcType=DOUBLE},
      </if>
      <if test="pm25RemoveRatio != null" >
        pm25_remove_ratio = #{pm25RemoveRatio,jdbcType=DOUBLE},
      </if>
      <if test="desulphurRemoveTech != null" >
        DESULPHUR_REMOVE_TECH = #{desulphurRemoveTech,jdbcType=CHAR},
      </if>
      <if test="so2RemoveRatio != null" >
        SO2_REMOVE_RATIO = #{so2RemoveRatio,jdbcType=DOUBLE},
      </if>
      <if test="denitrificRemoveTech != null" >
        DENITRIFIC_REMOVE_TECH = #{denitrificRemoveTech,jdbcType=CHAR},
      </if>
      <if test="noxRemoveRatio != null" >
        NOX_REMOVE_RATIO = #{noxRemoveRatio,jdbcType=DOUBLE},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        year = #{year,jdbcType=CHAR},
      </if>
      <if test="pm10Emission != null" >
        pm10_emission = #{pm10Emission,jdbcType=DOUBLE},
      </if>
      <if test="pm25Emission != null" >
        pm25_emission = #{pm25Emission,jdbcType=DOUBLE},
      </if>
      <if test="coEmission != null" >
        co_emission = #{coEmission,jdbcType=DOUBLE},
      </if>
      <if test="vocEmission != null" >
        voc_emission = #{vocEmission,jdbcType=DOUBLE},
      </if>
      <if test="pmEmission != null" >
        pm_emission = #{pmEmission,jdbcType=DOUBLE},
      </if>
      <if test="so2Emission != null" >
        so2_emission = #{so2Emission,jdbcType=DOUBLE},
      </if>
      <if test="noxEmission != null" >
        nox_emission = #{noxEmission,jdbcType=DOUBLE},
      </if>
      <if test="nh3Emission != null" >
        nh3_emission = #{nh3Emission,jdbcType=DOUBLE},
      </if>
      <if test="ocEmission != null" >
        oc_emission = #{ocEmission,jdbcType=DOUBLE},
      </if>
      <if test="bcEmission != null" >
        bc_emission = #{bcEmission,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>