<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nankai.xl.business.mapper.DeviceProductMapper" >
  <resultMap id="BaseResultMap" type="nankai.xl.business.model.DeviceProduct">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nk_no" jdbcType="INTEGER" property="nkNo" />
    <result column="device_id" jdbcType="INTEGER" property="deviceId" />
    <result column="activities_category" jdbcType="CHAR" property="activitiesCategory" />
    <result column="name_category" jdbcType="CHAR" property="nameCategory" />
    <result column="scc_code" jdbcType="CHAR" property="sccCode" />
    <result column="drainage_process" jdbcType="CHAR" property="drainageProcess" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="uint" jdbcType="VARCHAR" property="uint" />
    <result column="annual_output" jdbcType="DOUBLE" property="annualOutput" />
    <result column="nox" jdbcType="DOUBLE" property="nox" />
    <result column="co" jdbcType="DOUBLE" property="co" />
    <result column="pm10" jdbcType="DOUBLE" property="pm10" />
    <result column="pm25" jdbcType="DOUBLE" property="pm25" />
    <result column="pm" jdbcType="DOUBLE" property="pm" />
    <result column="so2" jdbcType="DOUBLE" property="so2" />
    <result column="voc" jdbcType="DOUBLE" property="voc" />
    <result column="nh3" jdbcType="DOUBLE" property="nh3" />
    <result column="oc" jdbcType="DOUBLE" property="oc" />
    <result column="bc" jdbcType="DOUBLE" property="bc" />
    <result column="danwei" jdbcType="CHAR" property="danwei" />
    <result column="Jan_useamount" jdbcType="DOUBLE" property="janUseamount" />
    <result column="Feb_useamount" jdbcType="DOUBLE" property="febUseamount" />
    <result column="Mar_useamount" jdbcType="DOUBLE" property="marUseamount" />
    <result column="Apr_useamount" jdbcType="DOUBLE" property="aprUseamount" />
    <result column="May_useamount" jdbcType="DOUBLE" property="mayUseamount" />
    <result column="June_useamount" jdbcType="DOUBLE" property="juneUseamount" />
    <result column="July_useamount" jdbcType="DOUBLE" property="julyUseamount" />
    <result column="aug_useamount" jdbcType="DOUBLE" property="augUseamount" />
    <result column="sept_useamount" jdbcType="DOUBLE" property="septUseamount" />
    <result column="oct_use_amount" jdbcType="DOUBLE" property="octUseAmount" />
    <result column="nov_useamount" jdbcType="DOUBLE" property="novUseamount" />
    <result column="dec_useamount" jdbcType="DOUBLE" property="decUseamount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, nk_no, device_id, activities_category, name_category, scc_code, drainage_process,
    name, uint, annual_output, nox, co, pm10, pm25, pm, so2, voc, nh3, oc, bc, danwei,
    Jan_useamount, Feb_useamount, Mar_useamount, Apr_useamount, May_useamount, June_useamount,
    July_useamount, aug_useamount, sept_useamount, oct_use_amount, nov_useamount, dec_useamount
  </sql>
  <select id="selectById" resultType="nankai.xl.business.model.DeviceProduct" parameterType="java.lang.Integer" >
    select * from device_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByDeviceId" resultType="nankai.xl.business.model.DeviceProduct" parameterType="java.lang.Integer" >
    select * from device_product
    where device_id = #{deviceId,jdbcType=INTEGER}
  </select>
  <select id="selectByFactoryId" resultType="nankai.xl.business.model.DeviceProduct" parameterType="java.lang.Integer" >
      SELECT device_product.* FROM device_product
      INNER JOIN device
      ON device_product.device_id=device.id
      INNER JOIN exhaust
      ON device.EXHUST_ID=exhaust.EXF_ID
      INNER JOIN factory
      ON factory.factory_id=exhaust.FACTORY_ID
      WHERE factory.factory_id=#{factoryId,jdbcType=INTEGER}
      ORDER BY device_product.nk_no ASC
  </select>
  <select id="selectSum" resultType="nankai.xl.business.model.vo.DeviceProductSumVo" parameterType="nankai.xl.business.model.vo.FactorySumCommonQuery" >
    SELECT * FROM (
      SELECT  factory.`year`,factory.factory_name,factory.factory_no,factory.city_code,factory.county_id,factory.city_name,
      factory.COUNTY_NAME,factory.`status`,factory.statusdec,
      device.factory_id,device.id AS deviceId,device.`name` AS deviceName,device.device_flow,device.yearrun_days,device.practical_power,device.design_unit,
      device_product.*,scc.sccDec
      FROM device_product
      LEFT JOIN device
      ON device.id=device_product.device_id
      LEFT JOIN (
        SELECT CONCAT(scc_4.scc_1,scc_4.scc_2,scc_4.scc_3,scc_4.scc_4) AS sccCode,
        CONCAT(scc_1.description,'/',scc_2.description,'/',scc_3.description,'/',scc_4.description) AS sccDec
        FROM scc_4
        LEFT JOIN scc_1
        ON scc_4.scc_1=scc_1.scc_1
        LEFT JOIN scc_2
        ON scc_4.scc_1=scc_2.scc_1 AND scc_4.scc_2=scc_2.scc_2
        LEFT JOIN scc_3
        ON scc_4.scc_1=scc_3.scc_1 AND scc_4.scc_2=scc_3.scc_2 AND scc_4.scc_3=scc_3.scc_3
      )scc
      ON scc.sccCode=device_product.scc_code
      LEFT JOIN (
        SELECT factory.factory_id,factory.`year`,factory.factory_name,factory.factory_no,city.city_code,factory.county_id,city.city_name,
        county.COUNTY_NAME,factory.`status`,status.introduction AS statusdec
        FROM factory
        LEFT JOIN county
        ON factory.county_id=county.county_id
        LEFT JOIN city
        ON county.city_code=city.city_code
        LEFT JOIN `status`
        ON factory.`status`=`status`.id
      )factory
      ON factory.factory_id=device.factory_id
    )ss
    <where>
      <if test="year != null and year != ''">
        year = #{year}
      </if>
      <if test="countyId != null and countyId != ''">
        AND county_id = #{countyId}
      </if>
      <if test="cityCode != null and cityCode != ''">
        AND city_code = #{cityCode}
      </if>
      <if test="status != null and status != ''">
        AND status = #{status}
      </if>
    </where>
    ORDER BY FACTORY_ID,NK_NO ASC
  </select>
  <update id="updateById" parameterType="nankai.xl.business.model.DeviceProduct" >
    update device_product
    <set>
      <if test="nkNo != null">
        nk_no = #{nkNo,jdbcType=INTEGER},
      </if>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="activitiesCategory != null">
        activities_category = #{activitiesCategory,jdbcType=CHAR},
      </if>
      <if test="nameCategory != null">
        name_category = #{nameCategory,jdbcType=CHAR},
      </if>
      <if test="sccCode != null">
        scc_code = #{sccCode,jdbcType=CHAR},
      </if>
      <if test="drainageProcess != null">
        drainage_process = #{drainageProcess,jdbcType=CHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="uint != null">
        uint = #{uint,jdbcType=VARCHAR},
      </if>
      <if test="annualOutput != null">
        annual_output = #{annualOutput,jdbcType=DOUBLE},
      </if>
      <if test="nox != null">
        nox = #{nox,jdbcType=DOUBLE},
      </if>
      <if test="co != null">
        co = #{co,jdbcType=DOUBLE},
      </if>
      <if test="pm10 != null">
        pm10 = #{pm10,jdbcType=DOUBLE},
      </if>
      <if test="pm25 != null">
        pm25 = #{pm25,jdbcType=DOUBLE},
      </if>
      <if test="pm != null">
        pm = #{pm,jdbcType=DOUBLE},
      </if>
      <if test="so2 != null">
        so2 = #{so2,jdbcType=DOUBLE},
      </if>
      <if test="voc != null">
        voc = #{voc,jdbcType=DOUBLE},
      </if>
      <if test="nh3 != null">
        nh3 = #{nh3,jdbcType=DOUBLE},
      </if>
      <if test="oc != null">
        oc = #{oc,jdbcType=DOUBLE},
      </if>
      <if test="bc != null">
        bc = #{bc,jdbcType=DOUBLE},
      </if>
      <if test="danwei != null">
        danwei = #{danwei,jdbcType=CHAR},
      </if>
      <if test="janUseamount != null">
        Jan_useamount = #{janUseamount,jdbcType=DOUBLE},
      </if>
      <if test="febUseamount != null">
        Feb_useamount = #{febUseamount,jdbcType=DOUBLE},
      </if>
      <if test="marUseamount != null">
        Mar_useamount = #{marUseamount,jdbcType=DOUBLE},
      </if>
      <if test="aprUseamount != null">
        Apr_useamount = #{aprUseamount,jdbcType=DOUBLE},
      </if>
      <if test="mayUseamount != null">
        May_useamount = #{mayUseamount,jdbcType=DOUBLE},
      </if>
      <if test="juneUseamount != null">
        June_useamount = #{juneUseamount,jdbcType=DOUBLE},
      </if>
      <if test="julyUseamount != null">
        July_useamount = #{julyUseamount,jdbcType=DOUBLE},
      </if>
      <if test="augUseamount != null">
        aug_useamount = #{augUseamount,jdbcType=DOUBLE},
      </if>
      <if test="septUseamount != null">
        sept_useamount = #{septUseamount,jdbcType=DOUBLE},
      </if>
      <if test="octUseAmount != null">
        oct_use_amount = #{octUseAmount,jdbcType=DOUBLE},
      </if>
      <if test="novUseamount != null">
        nov_useamount = #{novUseamount,jdbcType=DOUBLE},
      </if>
      <if test="decUseamount != null">
        dec_useamount = #{decUseamount,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>