<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nankai.xl.business.mapper.ExhaustMapper" >
  <resultMap id="BaseResultMap" type="nankai.xl.business.model.Exhaust" >
    <id column="EXF_ID" property="exfId" jdbcType="INTEGER" />
    <result column="NK_NO" property="nkNo" jdbcType="INTEGER" />
    <result column="FACTORY_ID" property="factoryId" jdbcType="INTEGER" />
    <result column="EXF_MATERIAL" property="exfMaterial" jdbcType="CHAR" />
    <result column="EXF_HEIGHT" property="exfHeight" jdbcType="DOUBLE" />
    <result column="SMOKE_OUTD" property="smokeOutd" jdbcType="DOUBLE" />
    <result column="SMOKE_O_UTTE_M" property="smokeOUtteM" jdbcType="DOUBLE" />
    <result column="SMOKE_OUTA" property="smokeOuta" jdbcType="DOUBLE" />
    <result column="SMOKE_OUTV" property="smokeOutv" jdbcType="DOUBLE" />
    <result column="EXF_LONGITUDE" property="exfLongitude" jdbcType="DOUBLE" />
    <result column="EXF_LATITUDE" property="exfLatitude" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    EXF_ID, NK_NO, FACTORY_ID, EXF_MATERIAL, EXF_HEIGHT, SMOKE_OUTD, SMOKE_O_UTTE_M,
    SMOKE_OUTA, SMOKE_OUTV, EXF_LONGITUDE, EXF_LATITUDE
  </sql>
  <select id="selectByFactoryId" resultType="nankai.xl.business.model.Exhaust" parameterType="java.lang.Integer" >
    select *
    from exhaust
    where FACTORY_ID = #{factoryId,jdbcType=INTEGER}
    ORDER BY NK_NO ASC
  </select>
  <select id="selectByExfId" resultType="nankai.xl.business.model.Exhaust" parameterType="java.lang.Integer" >
    select *
    from exhaust
    where EXF_ID = #{exfId,jdbcType=INTEGER}
  </select>
  <update id="updateByExfId" parameterType="nankai.xl.business.model.Exhaust" >
    update exhaust
    <set >
      <if test="nkNo != null" >
        NK_NO = #{nkNo,jdbcType=INTEGER},
      </if>
      <if test="factoryId != null" >
        FACTORY_ID = #{factoryId,jdbcType=INTEGER},
      </if>
      <if test="exfMaterial != null" >
        EXF_MATERIAL = #{exfMaterial,jdbcType=CHAR},
      </if>
      <if test="exfHeight != null" >
        EXF_HEIGHT = #{exfHeight,jdbcType=DOUBLE},
      </if>
      <if test="smokeOutd != null" >
        SMOKE_OUTD = #{smokeOutd,jdbcType=DOUBLE},
      </if>
      <if test="smokeOUtteM != null" >
        SMOKE_O_UTTE_M = #{smokeOUtteM,jdbcType=DOUBLE},
      </if>
      <if test="smokeOuta != null" >
        SMOKE_OUTA = #{smokeOuta,jdbcType=DOUBLE},
      </if>
      <if test="smokeOutv != null" >
        SMOKE_OUTV = #{smokeOutv,jdbcType=DOUBLE},
      </if>
      <if test="exfLongitude != null" >
        EXF_LONGITUDE = #{exfLongitude,jdbcType=DOUBLE},
      </if>
      <if test="exfLatitude != null" >
        EXF_LATITUDE = #{exfLatitude,jdbcType=DOUBLE},
      </if>
    </set>
    where EXF_ID = #{exfId,jdbcType=INTEGER}
  </update>
</mapper>