<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nankai.xl.business.mapper.FactoryMapper" >
  <resultMap id="BaseResultMap" type="nankai.xl.business.model.Factory">
    <id column="factory_id" jdbcType="INTEGER" property="factoryId" />
    <result column="factory_no" jdbcType="CHAR" property="factoryNo" />
    <result column="legalperson" jdbcType="VARCHAR" property="legalperson" />
    <result column="factory_name" jdbcType="VARCHAR" property="factoryName" />
    <result column="factory_usedname" jdbcType="VARCHAR" property="factoryUsedname" />
    <result column="factory_size" jdbcType="VARCHAR" property="factorySize" />
    <result column="county_id" jdbcType="CHAR" property="countyId" />
    <result column="industry_bigid" jdbcType="CHAR" property="industryBigid" />
    <result column="industry_id" jdbcType="CHAR" property="industryId" />
    <result column="address" jdbcType="CHAR" property="address" />
    <result column="power_amount" jdbcType="DOUBLE" property="powerAmount" />
    <result column="address_register" jdbcType="VARCHAR" property="addressRegister" />
    <result column="countyid_register" jdbcType="CHAR" property="countyidRegister" />
    <result column="factory_longitude" jdbcType="DOUBLE" property="factoryLongitude" />
    <result column="factory_latitude" jdbcType="DOUBLE" property="factoryLatitude" />
    <result column="source_type" jdbcType="CHAR" property="sourceType" />
    <result column="year" jdbcType="CHAR" property="year" />
    <result column="last_changed_time" jdbcType="TIMESTAMP" property="lastChangedTime" />
    <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="filling_time" jdbcType="TIMESTAMP" property="fillingTime" />
    <result column="Year_days" jdbcType="INTEGER" property="yearDays" />
    <result column="Days_hours" jdbcType="INTEGER" property="daysHours" />
    <result column="total_output" jdbcType="DOUBLE" property="totalOutput" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="principal_name" jdbcType="VARCHAR" property="principalName" />
    <result column="principal_phone" jdbcType="VARCHAR" property="principalPhone" />
    <result column="principal_mobile" jdbcType="VARCHAR" property="principalMobile" />
    <result column="principal_email" jdbcType="VARCHAR" property="principalEmail" />
    <result column="lat1" jdbcType="DOUBLE" property="lat1" />
    <result column="lon1" jdbcType="DOUBLE" property="lon1" />
    <result column="lat2" jdbcType="DOUBLE" property="lat2" />
    <result column="lon2" jdbcType="DOUBLE" property="lon2" />
    <result column="lat3" jdbcType="DOUBLE" property="lat3" />
    <result column="lon3" jdbcType="DOUBLE" property="lon3" />
    <result column="lat4" jdbcType="DOUBLE" property="lat4" />
    <result column="lon4" jdbcType="DOUBLE" property="lon4" />
    <result column="lat5" jdbcType="DOUBLE" property="lat5" />
    <result column="lon5" jdbcType="DOUBLE" property="lon5" />
    <result column="lat6" jdbcType="DOUBLE" property="lat6" />
    <result column="lon6" jdbcType="DOUBLE" property="lon6" />
    <result column="lat7" jdbcType="DOUBLE" property="lat7" />
    <result column="lon7" jdbcType="DOUBLE" property="lon7" />
    <result column="exhaust_count" jdbcType="INTEGER" property="exhaustCount" />
    <result column="boiler_count" jdbcType="INTEGER" property="boilerCount" />
    <result column="kiln_count" jdbcType="INTEGER" property="kilnCount" />
    <result column="device_count" jdbcType="INTEGER" property="deviceCount" />
    <result column="device_product_count" jdbcType="INTEGER" property="deviceProductCount" />
    <result column="device_raw_count" jdbcType="INTEGER" property="deviceRawCount" />
    <result column="rongji_product_count" jdbcType="INTEGER" property="rongjiProductCount" />
    <result column="rongji_raw_count" jdbcType="INTEGER" property="rongjiRawCount" />
    <result column="feiqi_count" jdbcType="INTEGER" property="feiqiCount" />
    <result column="soil_dust_count" jdbcType="INTEGER" property="soilDustCount" />
    <result column="con_dust_count" jdbcType="INTEGER" property="conDustCount" />
    <result column="road_dust_count" jdbcType="INTEGER" property="roadDustCount" />
    <result column="yard_dust_count" jdbcType="INTEGER" property="yardDustCount" />
    <result column="no_org_work_count" jdbcType="INTEGER" property="noOrgWorkCount" />
    <result column="flag" jdbcType="BIT" property="flag" />
    <result column="important" jdbcType="INTEGER" property="important" />
  </resultMap>
  <sql id="Base_Column_List">
    factory_id, factory_no, legalperson, factory_name, factory_usedname, factory_size,
    county_id, industry_bigid, industry_id, address, power_amount, address_register,
    countyid_register, factory_longitude, factory_latitude, source_type, year, last_changed_time,
    audit_time, filling_time, Year_days, Days_hours, total_output, status, principal_name,
    principal_phone, principal_mobile, principal_email, lat1, lon1, lat2, lon2, lat3,
    lon3, lat4, lon4, lat5, lon5, lat6, lon6, lat7, lon7, exhaust_count, boiler_count,
    kiln_count, device_count, device_product_count, device_raw_count, rongji_product_count,
    rongji_raw_count, feiqi_count, soil_dust_count, con_dust_count, road_dust_count,
    yard_dust_count, no_org_work_count, flag, important
  </sql>
  <select id="selectByFactoryQuery" resultType="nankai.xl.business.model.vo.FactoryVo" parameterType="nankai.xl.business.model.vo.FactoryQuery">
    SELECT * FROM (
      SELECT factory.*,
      county.COUNTY_NAME,
      county.city_code,
      city.city_name,
      `status`.introduction AS statusdec,
      industry_big.industry_name AS industryBigName,
      industry_small.industry_name AS industrySmallName
      FROM factory
      LEFT JOIN county
      ON factory.county_id=county.county_id
      LEFT JOIN city
      ON county.city_code=city.city_code
      LEFT JOIN `status`
      ON factory.`status`=`status`.id
      LEFT JOIN industry_big
      ON factory.industry_bigid=industry_big.industry_code
      LEFT JOIN industry_small
      ON factory.industry_id=industry_small.industry_small AND factory.industry_bigid=industry_small.industry_big
    ) factory
    <where>
      <if test="year != null and year != ''">
        year = #{year}
      </if>
      <if test="factoryId != null and factoryId != ''">
        AND factory_id = #{factoryId}
      </if>
      <if test="countyId != null and countyId != ''">
        AND county_id = #{countyId}
      </if>
      <if test="cityCode != null and cityCode != ''">
        AND city_code = #{cityCode}
      </if>
      <if test="status != null and status != ''">
        AND status = #{status}
      </if>
      <if test="factoryName != null and factoryName != ''">
        AND factory_name LIKE CONCAT(CONCAT('%',#{factoryName},'%'))
      </if>
      <if test="factoryNo != null and factoryNo != ''">
        AND factory_no LIKE CONCAT(CONCAT('%',#{factoryNo},'%'))
      </if>
    </where>
    ORDER BY factory.factory_id ASC
  </select>
  <select id="selectAllFactorys" resultType="nankai.xl.business.model.vo.FactoryVo">
    SELECT * FROM (
      SELECT factory.factory_id,
      factory.factory_no,
      factory.factory_name,
      factory.factory_latitude,
      factory.factory_longitude,
      factory.source_type,
      factory.`year`,
      factory.county_id,
      county.COUNTY_NAME,
      county.city_code,
      city.city_name,
      factory.`status`,
      `status`.introduction AS statusdec
      FROM factory
      LEFT JOIN county
      ON factory.county_id=county.county_id
      LEFT JOIN city
      ON county.city_code=city.city_code
      LEFT JOIN `status`
      ON factory.`status`=`status`.id
    ) factory
    ORDER BY factory.`status` DESC
  </select>
  <select id="selectById" resultType="nankai.xl.business.model.vo.FactoryVo" parameterType="java.lang.Integer">
     SELECT * FROM (
      SELECT ss.*,county.city_code AS register_city FROM(
            SELECT factory.*,county.city_code
            FROM factory
            LEFT JOIN county
            ON factory.county_id=county.county_id
        )ss
        LEFT JOIN county
        ON ss.countyid_register=county.COUNTY_ID
     )factory
    WHERE factory_id = #{factoryId,jdbcType=INTEGER}
  </select>
  <select id="selectBackById" resultType="nankai.xl.business.model.vo.FactoryVo" parameterType="java.lang.Integer">
     SELECT * FROM (
      SELECT ss.*,county.city_code AS register_city FROM(
            SELECT factory.*,county.city_code
            FROM factory
            LEFT JOIN county
            ON factory.county_id=county.county_id
        )ss
        LEFT JOIN county
        ON ss.countyid_register=county.COUNTY_ID
     )factory
    WHERE factory_id &lt; #{factoryId,jdbcType=INTEGER} ORDER BY factory_id DESC LIMIT 1
  </select>
  <select id="selectNextById" resultType="nankai.xl.business.model.vo.FactoryVo" parameterType="java.lang.Integer">
     SELECT * FROM (
      SELECT ss.*,county.city_code AS register_city FROM(
            SELECT factory.*,county.city_code
            FROM factory
            LEFT JOIN county
            ON factory.county_id=county.county_id
        )ss
        LEFT JOIN county
        ON ss.countyid_register=county.COUNTY_ID
     )factory
    WHERE factory_id >#{factoryId,jdbcType=INTEGER} ORDER BY factory_id ASC LIMIT 1
  </select>
  <select id="countByFactoryNo" resultType="java.lang.Integer">
    select count(*)
    from factory where factory_no = #{factoryNo}
  </select>
  <select id="countNonAthu" resultType="nankai.xl.business.model.vo.SumVo" parameterType="nankai.xl.business.model.vo.FactoryQuery">
    SELECT COUNT(factory.factory_id) AS value,`status`.introduction AS name,factory.`status` AS code
    FROM factory
    LEFT JOIN county
    ON factory.county_id=county.county_id
    LEFT JOIN city
    ON county.city_code=city.city_code
    INNER JOIN status
    ON factory.`status`=`status`.id
    <where>
      <if test="countyId != null and countyId != ''">
        factory.county_id = #{countyId}
      </if>
      <if test="cityCode != null and cityCode != ''">
        AND county.city_code= #{cityCode}
      </if>
      <if test="status != null and status != ''">
        AND factory.status &lt; #{status}
      </if>
    </where>
    GROUP BY factory.`status`
  </select>
  <select id="countByIndustryBig" resultType="nankai.xl.business.model.vo.SumVo" parameterType="nankai.xl.business.model.vo.FactoryQuery">
    SELECT COUNT(*) AS value,industry_big.industry_name AS name FROM factory
    LEFT JOIN county
    ON factory.county_id=county.county_id
    LEFT JOIN city
    ON county.city_code=city.city_code
    INNER JOIN industry_big
    ON industry_big.industry_code=factory.industry_bigid
    <where>
      <if test="countyId != null and countyId != ''">
        factory.county_id = #{countyId}
      </if>
      <if test="cityCode != null and cityCode != ''">
        AND county.city_code = #{cityCode}
      </if>
    </where>
    GROUP BY factory.industry_bigid
  </select>
  <select id="countByCity" resultType="nankai.xl.business.model.vo.SumVo">
    SELECT COUNT(factory.factory_id) AS value,city.city_name AS name FROM county
    LEFT JOIN factory
    ON county.COUNTY_ID=factory.county_id
    INNER JOIN city
    ON county.city_code=city.city_code
    GROUP BY county.city_code
  </select>
  <select id="countByCounty" resultType="nankai.xl.business.model.vo.SumVo">
    SELECT COUNT(factory.factory_id) AS value,CONCAT(city.city_name,'-',county.COUNTY_NAME )AS name FROM county
    INNER JOIN factory
    ON county.COUNTY_ID=factory.county_id
    INNER JOIN city
    ON county.city_code=city.city_code
    GROUP BY county.COUNTY_ID
    ORDER BY city.city_code
  </select>
  <delete id="delFactory" parameterType="java.lang.Integer" statementType="CALLABLE">
		{call del_factory(#{factoryid,mode=IN})}
  </delete>
  <update id="updatePassByFactoryNO" parameterType="nankai.xl.business.model.User" >
    update user
    set password = #{password,jdbcType=VARCHAR}
    where fac_no = #{facNo,jdbcType=VARCHAR}
  </update>
  <insert id="insertSelective"  parameterType="nankai.xl.business.model.Factory" >
    insert into factory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="factoryId != null">
        factory_id,
      </if>
      <if test="factoryNo != null">
        factory_no,
      </if>
      <if test="legalperson != null">
        legalperson,
      </if>
      <if test="factoryName != null">
        factory_name,
      </if>
      <if test="factoryUsedname != null">
        factory_usedname,
      </if>
      <if test="factorySize != null">
        factory_size,
      </if>
      <if test="countyId != null">
        county_id,
      </if>
      <if test="industryBigid != null">
        industry_bigid,
      </if>
      <if test="industryId != null">
        industry_id,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="powerAmount != null">
        power_amount,
      </if>
      <if test="addressRegister != null">
        address_register,
      </if>
      <if test="countyidRegister != null">
        countyid_register,
      </if>
      <if test="factoryLongitude != null">
        factory_longitude,
      </if>
      <if test="factoryLatitude != null">
        factory_latitude,
      </if>
      <if test="sourceType != null">
        source_type,
      </if>
      <if test="year != null">
        year,
      </if>
      <if test="lastChangedTime != null">
        last_changed_time,
      </if>
      <if test="auditTime != null">
        audit_time,
      </if>
      <if test="fillingTime != null">
        filling_time,
      </if>
      <if test="yearDays != null">
        Year_days,
      </if>
      <if test="daysHours != null">
        Days_hours,
      </if>
      <if test="totalOutput != null">
        total_output,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="principalName != null">
        principal_name,
      </if>
      <if test="principalPhone != null">
        principal_phone,
      </if>
      <if test="principalMobile != null">
        principal_mobile,
      </if>
      <if test="principalEmail != null">
        principal_email,
      </if>
      <if test="lat1 != null">
        lat1,
      </if>
      <if test="lon1 != null">
        lon1,
      </if>
      <if test="lat2 != null">
        lat2,
      </if>
      <if test="lon2 != null">
        lon2,
      </if>
      <if test="lat3 != null">
        lat3,
      </if>
      <if test="lon3 != null">
        lon3,
      </if>
      <if test="lat4 != null">
        lat4,
      </if>
      <if test="lon4 != null">
        lon4,
      </if>
      <if test="lat5 != null">
        lat5,
      </if>
      <if test="lon5 != null">
        lon5,
      </if>
      <if test="lat6 != null">
        lat6,
      </if>
      <if test="lon6 != null">
        lon6,
      </if>
      <if test="lat7 != null">
        lat7,
      </if>
      <if test="lon7 != null">
        lon7,
      </if>
      <if test="exhaustCount != null">
        exhaust_count,
      </if>
      <if test="boilerCount != null">
        boiler_count,
      </if>
      <if test="kilnCount != null">
        kiln_count,
      </if>
      <if test="deviceCount != null">
        device_count,
      </if>
      <if test="deviceProductCount != null">
        device_product_count,
      </if>
      <if test="deviceRawCount != null">
        device_raw_count,
      </if>
      <if test="rongjiProductCount != null">
        rongji_product_count,
      </if>
      <if test="rongjiRawCount != null">
        rongji_raw_count,
      </if>
      <if test="feiqiCount != null">
        feiqi_count,
      </if>
      <if test="soilDustCount != null">
        soil_dust_count,
      </if>
      <if test="conDustCount != null">
        con_dust_count,
      </if>
      <if test="roadDustCount != null">
        road_dust_count,
      </if>
      <if test="yardDustCount != null">
        yard_dust_count,
      </if>
      <if test="noOrgWorkCount != null">
        no_org_work_count,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="important != null">
        important,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="factoryId != null">
        #{factoryId,jdbcType=INTEGER},
      </if>
      <if test="factoryNo != null">
        #{factoryNo,jdbcType=CHAR},
      </if>
      <if test="legalperson != null">
        #{legalperson,jdbcType=VARCHAR},
      </if>
      <if test="factoryName != null">
        #{factoryName,jdbcType=VARCHAR},
      </if>
      <if test="factoryUsedname != null">
        #{factoryUsedname,jdbcType=VARCHAR},
      </if>
      <if test="factorySize != null">
        #{factorySize,jdbcType=VARCHAR},
      </if>
      <if test="countyId != null">
        #{countyId,jdbcType=CHAR},
      </if>
      <if test="industryBigid != null">
        #{industryBigid,jdbcType=CHAR},
      </if>
      <if test="industryId != null">
        #{industryId,jdbcType=CHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=CHAR},
      </if>
      <if test="powerAmount != null">
        #{powerAmount,jdbcType=DOUBLE},
      </if>
      <if test="addressRegister != null">
        #{addressRegister,jdbcType=VARCHAR},
      </if>
      <if test="countyidRegister != null">
        #{countyidRegister,jdbcType=CHAR},
      </if>
      <if test="factoryLongitude != null">
        #{factoryLongitude,jdbcType=DOUBLE},
      </if>
      <if test="factoryLatitude != null">
        #{factoryLatitude,jdbcType=DOUBLE},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=CHAR},
      </if>
      <if test="year != null">
        #{year,jdbcType=CHAR},
      </if>
      <if test="lastChangedTime != null">
        #{lastChangedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditTime != null">
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fillingTime != null">
        #{fillingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yearDays != null">
        #{yearDays,jdbcType=INTEGER},
      </if>
      <if test="daysHours != null">
        #{daysHours,jdbcType=INTEGER},
      </if>
      <if test="totalOutput != null">
        #{totalOutput,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="principalName != null">
        #{principalName,jdbcType=VARCHAR},
      </if>
      <if test="principalPhone != null">
        #{principalPhone,jdbcType=VARCHAR},
      </if>
      <if test="principalMobile != null">
        #{principalMobile,jdbcType=VARCHAR},
      </if>
      <if test="principalEmail != null">
        #{principalEmail,jdbcType=VARCHAR},
      </if>
      <if test="lat1 != null">
        #{lat1,jdbcType=DOUBLE},
      </if>
      <if test="lon1 != null">
        #{lon1,jdbcType=DOUBLE},
      </if>
      <if test="lat2 != null">
        #{lat2,jdbcType=DOUBLE},
      </if>
      <if test="lon2 != null">
        #{lon2,jdbcType=DOUBLE},
      </if>
      <if test="lat3 != null">
        #{lat3,jdbcType=DOUBLE},
      </if>
      <if test="lon3 != null">
        #{lon3,jdbcType=DOUBLE},
      </if>
      <if test="lat4 != null">
        #{lat4,jdbcType=DOUBLE},
      </if>
      <if test="lon4 != null">
        #{lon4,jdbcType=DOUBLE},
      </if>
      <if test="lat5 != null">
        #{lat5,jdbcType=DOUBLE},
      </if>
      <if test="lon5 != null">
        #{lon5,jdbcType=DOUBLE},
      </if>
      <if test="lat6 != null">
        #{lat6,jdbcType=DOUBLE},
      </if>
      <if test="lon6 != null">
        #{lon6,jdbcType=DOUBLE},
      </if>
      <if test="lat7 != null">
        #{lat7,jdbcType=DOUBLE},
      </if>
      <if test="lon7 != null">
        #{lon7,jdbcType=DOUBLE},
      </if>
      <if test="exhaustCount != null">
        #{exhaustCount,jdbcType=INTEGER},
      </if>
      <if test="boilerCount != null">
        #{boilerCount,jdbcType=INTEGER},
      </if>
      <if test="kilnCount != null">
        #{kilnCount,jdbcType=INTEGER},
      </if>
      <if test="deviceCount != null">
        #{deviceCount,jdbcType=INTEGER},
      </if>
      <if test="deviceProductCount != null">
        #{deviceProductCount,jdbcType=INTEGER},
      </if>
      <if test="deviceRawCount != null">
        #{deviceRawCount,jdbcType=INTEGER},
      </if>
      <if test="rongjiProductCount != null">
        #{rongjiProductCount,jdbcType=INTEGER},
      </if>
      <if test="rongjiRawCount != null">
        #{rongjiRawCount,jdbcType=INTEGER},
      </if>
      <if test="feiqiCount != null">
        #{feiqiCount,jdbcType=INTEGER},
      </if>
      <if test="soilDustCount != null">
        #{soilDustCount,jdbcType=INTEGER},
      </if>
      <if test="conDustCount != null">
        #{conDustCount,jdbcType=INTEGER},
      </if>
      <if test="roadDustCount != null">
        #{roadDustCount,jdbcType=INTEGER},
      </if>
      <if test="yardDustCount != null">
        #{yardDustCount,jdbcType=INTEGER},
      </if>
      <if test="noOrgWorkCount != null">
        #{noOrgWorkCount,jdbcType=INTEGER},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=BIT},
      </if>
      <if test="important != null">
        #{important,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        #{note,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="insertOrUpdate"  parameterType="nankai.xl.business.model.Factory" >
    insert ignore INTO factory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="factoryId != null">
        factory_id,
      </if>
      <if test="factoryNo != null">
        factory_no,
      </if>
      <if test="legalperson != null">
        legalperson,
      </if>
      <if test="factoryName != null">
        factory_name,
      </if>
      <if test="factoryUsedname != null">
        factory_usedname,
      </if>
      <if test="factorySize != null">
        factory_size,
      </if>
      <if test="countyId != null">
        county_id,
      </if>
      <if test="industryBigid != null">
        industry_bigid,
      </if>
      <if test="industryId != null">
        industry_id,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="powerAmount != null">
        power_amount,
      </if>
      <if test="addressRegister != null">
        address_register,
      </if>
      <if test="countyidRegister != null">
        countyid_register,
      </if>
      <if test="factoryLongitude != null">
        factory_longitude,
      </if>
      <if test="factoryLatitude != null">
        factory_latitude,
      </if>
      <if test="sourceType != null">
        source_type,
      </if>
      <if test="year != null">
        year,
      </if>
      <if test="lastChangedTime != null">
        last_changed_time,
      </if>
      <if test="auditTime != null">
        audit_time,
      </if>
      <if test="fillingTime != null">
        filling_time,
      </if>
      <if test="yearDays != null">
        Year_days,
      </if>
      <if test="daysHours != null">
        Days_hours,
      </if>
      <if test="totalOutput != null">
        total_output,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="principalName != null">
        principal_name,
      </if>
      <if test="principalPhone != null">
        principal_phone,
      </if>
      <if test="principalMobile != null">
        principal_mobile,
      </if>
      <if test="principalEmail != null">
        principal_email,
      </if>
      <if test="lat1 != null">
        lat1,
      </if>
      <if test="lon1 != null">
        lon1,
      </if>
      <if test="lat2 != null">
        lat2,
      </if>
      <if test="lon2 != null">
        lon2,
      </if>
      <if test="lat3 != null">
        lat3,
      </if>
      <if test="lon3 != null">
        lon3,
      </if>
      <if test="lat4 != null">
        lat4,
      </if>
      <if test="lon4 != null">
        lon4,
      </if>
      <if test="lat5 != null">
        lat5,
      </if>
      <if test="lon5 != null">
        lon5,
      </if>
      <if test="lat6 != null">
        lat6,
      </if>
      <if test="lon6 != null">
        lon6,
      </if>
      <if test="lat7 != null">
        lat7,
      </if>
      <if test="lon7 != null">
        lon7,
      </if>
      <if test="exhaustCount != null">
        exhaust_count,
      </if>
      <if test="boilerCount != null">
        boiler_count,
      </if>
      <if test="kilnCount != null">
        kiln_count,
      </if>
      <if test="deviceCount != null">
        device_count,
      </if>
      <if test="deviceProductCount != null">
        device_product_count,
      </if>
      <if test="deviceRawCount != null">
        device_raw_count,
      </if>
      <if test="rongjiProductCount != null">
        rongji_product_count,
      </if>
      <if test="rongjiRawCount != null">
        rongji_raw_count,
      </if>
      <if test="feiqiCount != null">
        feiqi_count,
      </if>
      <if test="soilDustCount != null">
        soil_dust_count,
      </if>
      <if test="conDustCount != null">
        con_dust_count,
      </if>
      <if test="roadDustCount != null">
        road_dust_count,
      </if>
      <if test="yardDustCount != null">
        yard_dust_count,
      </if>
      <if test="noOrgWorkCount != null">
        no_org_work_count,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="important != null">
        important,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="factoryId != null">
        #{factoryId,jdbcType=INTEGER},
      </if>
      <if test="factoryNo != null">
        #{factoryNo,jdbcType=CHAR},
      </if>
      <if test="legalperson != null">
        #{legalperson,jdbcType=VARCHAR},
      </if>
      <if test="factoryName != null">
        #{factoryName,jdbcType=VARCHAR},
      </if>
      <if test="factoryUsedname != null">
        #{factoryUsedname,jdbcType=VARCHAR},
      </if>
      <if test="factorySize != null">
        #{factorySize,jdbcType=VARCHAR},
      </if>
      <if test="countyId != null">
        #{countyId,jdbcType=CHAR},
      </if>
      <if test="industryBigid != null">
        #{industryBigid,jdbcType=CHAR},
      </if>
      <if test="industryId != null">
        #{industryId,jdbcType=CHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=CHAR},
      </if>
      <if test="powerAmount != null">
        #{powerAmount,jdbcType=DOUBLE},
      </if>
      <if test="addressRegister != null">
        #{addressRegister,jdbcType=VARCHAR},
      </if>
      <if test="countyidRegister != null">
        #{countyidRegister,jdbcType=CHAR},
      </if>
      <if test="factoryLongitude != null">
        #{factoryLongitude,jdbcType=DOUBLE},
      </if>
      <if test="factoryLatitude != null">
        #{factoryLatitude,jdbcType=DOUBLE},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=CHAR},
      </if>
      <if test="year != null">
        #{year,jdbcType=CHAR},
      </if>
      <if test="lastChangedTime != null">
        #{lastChangedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditTime != null">
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fillingTime != null">
        #{fillingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yearDays != null">
        #{yearDays,jdbcType=INTEGER},
      </if>
      <if test="daysHours != null">
        #{daysHours,jdbcType=INTEGER},
      </if>
      <if test="totalOutput != null">
        #{totalOutput,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="principalName != null">
        #{principalName,jdbcType=VARCHAR},
      </if>
      <if test="principalPhone != null">
        #{principalPhone,jdbcType=VARCHAR},
      </if>
      <if test="principalMobile != null">
        #{principalMobile,jdbcType=VARCHAR},
      </if>
      <if test="principalEmail != null">
        #{principalEmail,jdbcType=VARCHAR},
      </if>
      <if test="lat1 != null">
        #{lat1,jdbcType=DOUBLE},
      </if>
      <if test="lon1 != null">
        #{lon1,jdbcType=DOUBLE},
      </if>
      <if test="lat2 != null">
        #{lat2,jdbcType=DOUBLE},
      </if>
      <if test="lon2 != null">
        #{lon2,jdbcType=DOUBLE},
      </if>
      <if test="lat3 != null">
        #{lat3,jdbcType=DOUBLE},
      </if>
      <if test="lon3 != null">
        #{lon3,jdbcType=DOUBLE},
      </if>
      <if test="lat4 != null">
        #{lat4,jdbcType=DOUBLE},
      </if>
      <if test="lon4 != null">
        #{lon4,jdbcType=DOUBLE},
      </if>
      <if test="lat5 != null">
        #{lat5,jdbcType=DOUBLE},
      </if>
      <if test="lon5 != null">
        #{lon5,jdbcType=DOUBLE},
      </if>
      <if test="lat6 != null">
        #{lat6,jdbcType=DOUBLE},
      </if>
      <if test="lon6 != null">
        #{lon6,jdbcType=DOUBLE},
      </if>
      <if test="lat7 != null">
        #{lat7,jdbcType=DOUBLE},
      </if>
      <if test="lon7 != null">
        #{lon7,jdbcType=DOUBLE},
      </if>
      <if test="exhaustCount != null">
        #{exhaustCount,jdbcType=INTEGER},
      </if>
      <if test="boilerCount != null">
        #{boilerCount,jdbcType=INTEGER},
      </if>
      <if test="kilnCount != null">
        #{kilnCount,jdbcType=INTEGER},
      </if>
      <if test="deviceCount != null">
        #{deviceCount,jdbcType=INTEGER},
      </if>
      <if test="deviceProductCount != null">
        #{deviceProductCount,jdbcType=INTEGER},
      </if>
      <if test="deviceRawCount != null">
        #{deviceRawCount,jdbcType=INTEGER},
      </if>
      <if test="rongjiProductCount != null">
        #{rongjiProductCount,jdbcType=INTEGER},
      </if>
      <if test="rongjiRawCount != null">
        #{rongjiRawCount,jdbcType=INTEGER},
      </if>
      <if test="feiqiCount != null">
        #{feiqiCount,jdbcType=INTEGER},
      </if>
      <if test="soilDustCount != null">
        #{soilDustCount,jdbcType=INTEGER},
      </if>
      <if test="conDustCount != null">
        #{conDustCount,jdbcType=INTEGER},
      </if>
      <if test="roadDustCount != null">
        #{roadDustCount,jdbcType=INTEGER},
      </if>
      <if test="yardDustCount != null">
        #{yardDustCount,jdbcType=INTEGER},
      </if>
      <if test="noOrgWorkCount != null">
        #{noOrgWorkCount,jdbcType=INTEGER},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=BIT},
      </if>
      <if test="important != null">
        #{important,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        #{note,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByFactoryId" parameterType="nankai.xl.business.model.Factory" >
    update factory
    <set>
      <if test="factoryNo != null">
        factory_no = #{factoryNo,jdbcType=CHAR},
      </if>
      <if test="legalperson != null">
        legalperson = #{legalperson,jdbcType=VARCHAR},
      </if>
      <if test="factoryName != null">
        factory_name = #{factoryName,jdbcType=VARCHAR},
      </if>
      <if test="factoryUsedname != null">
        factory_usedname = #{factoryUsedname,jdbcType=VARCHAR},
      </if>
      <if test="factorySize != null">
        factory_size = #{factorySize,jdbcType=VARCHAR},
      </if>
      <if test="countyId != null">
        county_id = #{countyId,jdbcType=CHAR},
      </if>
      <if test="industryBigid != null">
        industry_bigid = #{industryBigid,jdbcType=CHAR},
      </if>
      <if test="industryId != null">
        industry_id = #{industryId,jdbcType=CHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=CHAR},
      </if>
      <if test="powerAmount != null">
        power_amount = #{powerAmount,jdbcType=DOUBLE},
      </if>
      <if test="addressRegister != null">
        address_register = #{addressRegister,jdbcType=VARCHAR},
      </if>
      <if test="countyidRegister != null">
        countyid_register = #{countyidRegister,jdbcType=CHAR},
      </if>
      <if test="factoryLongitude != null">
        factory_longitude = #{factoryLongitude,jdbcType=DOUBLE},
      </if>
      <if test="factoryLatitude != null">
        factory_latitude = #{factoryLatitude,jdbcType=DOUBLE},
      </if>
      <if test="sourceType != null">
        source_type = #{sourceType,jdbcType=CHAR},
      </if>
      <if test="year != null">
        year = #{year,jdbcType=CHAR},
      </if>
      <if test="lastChangedTime != null">
        last_changed_time = #{lastChangedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditTime != null">
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fillingTime != null">
        filling_time = #{fillingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yearDays != null">
        Year_days = #{yearDays,jdbcType=INTEGER},
      </if>
      <if test="daysHours != null">
        Days_hours = #{daysHours,jdbcType=INTEGER},
      </if>
      <if test="totalOutput != null">
        total_output = #{totalOutput,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="principalName != null">
        principal_name = #{principalName,jdbcType=VARCHAR},
      </if>
      <if test="principalPhone != null">
        principal_phone = #{principalPhone,jdbcType=VARCHAR},
      </if>
      <if test="principalMobile != null">
        principal_mobile = #{principalMobile,jdbcType=VARCHAR},
      </if>
      <if test="principalEmail != null">
        principal_email = #{principalEmail,jdbcType=VARCHAR},
      </if>
      <if test="lat1 != null">
        lat1 = #{lat1,jdbcType=DOUBLE},
      </if>
      <if test="lon1 != null">
        lon1 = #{lon1,jdbcType=DOUBLE},
      </if>
      <if test="lat2 != null">
        lat2 = #{lat2,jdbcType=DOUBLE},
      </if>
      <if test="lon2 != null">
        lon2 = #{lon2,jdbcType=DOUBLE},
      </if>
      <if test="lat3 != null">
        lat3 = #{lat3,jdbcType=DOUBLE},
      </if>
      <if test="lon3 != null">
        lon3 = #{lon3,jdbcType=DOUBLE},
      </if>
      <if test="lat4 != null">
        lat4 = #{lat4,jdbcType=DOUBLE},
      </if>
      <if test="lon4 != null">
        lon4 = #{lon4,jdbcType=DOUBLE},
      </if>
      <if test="lat5 != null">
        lat5 = #{lat5,jdbcType=DOUBLE},
      </if>
      <if test="lon5 != null">
        lon5 = #{lon5,jdbcType=DOUBLE},
      </if>
      <if test="lat6 != null">
        lat6 = #{lat6,jdbcType=DOUBLE},
      </if>
      <if test="lon6 != null">
        lon6 = #{lon6,jdbcType=DOUBLE},
      </if>
      <if test="lat7 != null">
        lat7 = #{lat7,jdbcType=DOUBLE},
      </if>
      <if test="lon7 != null">
        lon7 = #{lon7,jdbcType=DOUBLE},
      </if>
      <if test="exhaustCount != null">
        exhaust_count = #{exhaustCount,jdbcType=INTEGER},
      </if>
      <if test="boilerCount != null">
        boiler_count = #{boilerCount,jdbcType=INTEGER},
      </if>
      <if test="kilnCount != null">
        kiln_count = #{kilnCount,jdbcType=INTEGER},
      </if>
      <if test="deviceCount != null">
        device_count = #{deviceCount,jdbcType=INTEGER},
      </if>
      <if test="deviceProductCount != null">
        device_product_count = #{deviceProductCount,jdbcType=INTEGER},
      </if>
      <if test="deviceRawCount != null">
        device_raw_count = #{deviceRawCount,jdbcType=INTEGER},
      </if>
      <if test="rongjiProductCount != null">
        rongji_product_count = #{rongjiProductCount,jdbcType=INTEGER},
      </if>
      <if test="rongjiRawCount != null">
        rongji_raw_count = #{rongjiRawCount,jdbcType=INTEGER},
      </if>
      <if test="feiqiCount != null">
        feiqi_count = #{feiqiCount,jdbcType=INTEGER},
      </if>
      <if test="soilDustCount != null">
        soil_dust_count = #{soilDustCount,jdbcType=INTEGER},
      </if>
      <if test="conDustCount != null">
        con_dust_count = #{conDustCount,jdbcType=INTEGER},
      </if>
      <if test="roadDustCount != null">
        road_dust_count = #{roadDustCount,jdbcType=INTEGER},
      </if>
      <if test="yardDustCount != null">
        yard_dust_count = #{yardDustCount,jdbcType=INTEGER},
      </if>
      <if test="noOrgWorkCount != null">
        no_org_work_count = #{noOrgWorkCount,jdbcType=INTEGER},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=BIT},
      </if>
      <if test="important != null">
        important = #{important,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where factory_id = #{factoryId,jdbcType=INTEGER}
  </update>
  <insert id="insertOrUpdateList" parameterType="java.util.List" useGeneratedKeys="true">
    INSERT IGNORE INTO factory (factory_no, year,factory_name,county_id,address,address_register,factory_longitude,factory_latitude)
    VALUES
    <foreach collection="list" item="item" separator=",">
      <trim prefix="(" suffix=")">
        factory_no = #{item.factoryNo,jdbcType=CHAR},
        year = #{item.year,jdbcType=CHAR},
        factory_name = #{item.factoryName,jdbcType=VARCHAR},
        county_id = #{item.countyId,jdbcType=CHAR},
        address = #{item.address,jdbcType=CHAR},
        address_register = #{item.addressRegister,jdbcType=VARCHAR},
        factory_longitude = #{item.factoryLongitude,jdbcType=DOUBLE},
        factory_latitude = #{item.factoryLatitude,jdbcType=DOUBLE}
      </trim>
    </foreach>
  </insert>
</mapper>