<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nankai.xl.business.mapper.FeiqiMapper" >
  <resultMap id="BaseResultMap" type="nankai.xl.business.model.Feiqi" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="factory_id" property="factoryId" jdbcType="INTEGER" />
    <result column="nkno" property="nkno" jdbcType="INTEGER" />
    <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
    <result column="scc2" property="scc2" jdbcType="CHAR" />
    <result column="scc2_dec" property="scc2Dec" jdbcType="VARCHAR" />
    <result column="scc3" property="scc3" jdbcType="CHAR" />
    <result column="scc3_dec" property="scc3Dec" jdbcType="VARCHAR" />
    <result column="scc4" property="scc4" jdbcType="CHAR" />
    <result column="scc4_dec" property="scc4Dec" jdbcType="VARCHAR" />
    <result column="lon1" property="lon1" jdbcType="DOUBLE" />
    <result column="lon2" property="lon2" jdbcType="DOUBLE" />
    <result column="lon3" property="lon3" jdbcType="DOUBLE" />
    <result column="lon4" property="lon4" jdbcType="DOUBLE" />
    <result column="lat1" property="lat1" jdbcType="DOUBLE" />
    <result column="lat2" property="lat2" jdbcType="DOUBLE" />
    <result column="lat3" property="lat3" jdbcType="DOUBLE" />
    <result column="lat4" property="lat4" jdbcType="DOUBLE" />
    <result column="watter" property="watter" jdbcType="DOUBLE" />
    <result column="tian" property="tian" jdbcType="DOUBLE" />
    <result column="fen" property="fen" jdbcType="DOUBLE" />
    <result column="dui" property="dui" jdbcType="DOUBLE" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="status_dec" property="statusDec" jdbcType="VARCHAR" />
    <result column="vocs" property="vocs" jdbcType="DOUBLE" />
    <result column="nh3" property="nh3" jdbcType="DOUBLE" />
    <result column="scc_code" property="sccCode" jdbcType="CHAR" />
    <result column="Mar_useamount" property="marUseamount" jdbcType="DOUBLE" />
    <result column="Feb_useamount" property="febUseamount" jdbcType="DOUBLE" />
    <result column="Jan_useamount" property="janUseamount" jdbcType="DOUBLE" />
    <result column="May_useamount" property="mayUseamount" jdbcType="DOUBLE" />
    <result column="June_useamount" property="juneUseamount" jdbcType="DOUBLE" />
    <result column="July_useamount" property="julyUseamount" jdbcType="DOUBLE" />
    <result column="sept_useamount" property="septUseamount" jdbcType="DOUBLE" />
    <result column="aug_useamount" property="augUseamount" jdbcType="DOUBLE" />
    <result column="Apr_useamount" property="aprUseamount" jdbcType="DOUBLE" />
    <result column="oct_use_amount" property="octUseAmount" jdbcType="DOUBLE" />
    <result column="nov_useamount" property="novUseamount" jdbcType="DOUBLE" />
    <result column="dec_useamount" property="decUseamount" jdbcType="DOUBLE" />
    <result column="pm10_emission" property="pm10Emission" jdbcType="DOUBLE" />
    <result column="pm25_emission" property="pm25Emission" jdbcType="DOUBLE" />
    <result column="oc_emission" property="ocEmission" jdbcType="DOUBLE" />
    <result column="bc_emission" property="bcEmission" jdbcType="DOUBLE" />
    <result column="so2_emission" property="so2Emission" jdbcType="DOUBLE" />
    <result column="nox_emission" property="noxEmission" jdbcType="DOUBLE" />
  </resultMap>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from feiqi
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByFactoryId" resultType="nankai.xl.business.model.vo.FeiqiVo" parameterType="java.lang.Integer" >
    select id,nkno from feiqi
    where factory_id = #{factoryId,jdbcType=INTEGER}
  </select>
  <update id="updateById" parameterType="nankai.xl.business.model.Feiqi" >
    update feiqi
    <set >
      <if test="factoryId != null" >
        factory_id = #{factoryId,jdbcType=INTEGER},
      </if>
      <if test="nkno != null" >
        nkno = #{nkno,jdbcType=INTEGER},
      </if>
      <if test="deviceName != null" >
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="scc2 != null" >
        scc2 = #{scc2,jdbcType=CHAR},
      </if>
      <if test="scc2Dec != null" >
        scc2_dec = #{scc2Dec,jdbcType=VARCHAR},
      </if>
      <if test="scc3 != null" >
        scc3 = #{scc3,jdbcType=CHAR},
      </if>
      <if test="scc3Dec != null" >
        scc3_dec = #{scc3Dec,jdbcType=VARCHAR},
      </if>
      <if test="scc4 != null" >
        scc4 = #{scc4,jdbcType=CHAR},
      </if>
      <if test="scc4Dec != null" >
        scc4_dec = #{scc4Dec,jdbcType=VARCHAR},
      </if>
      <if test="lon1 != null" >
        lon1 = #{lon1,jdbcType=DOUBLE},
      </if>
      <if test="lon2 != null" >
        lon2 = #{lon2,jdbcType=DOUBLE},
      </if>
      <if test="lon3 != null" >
        lon3 = #{lon3,jdbcType=DOUBLE},
      </if>
      <if test="lon4 != null" >
        lon4 = #{lon4,jdbcType=DOUBLE},
      </if>
      <if test="lat1 != null" >
        lat1 = #{lat1,jdbcType=DOUBLE},
      </if>
      <if test="lat2 != null" >
        lat2 = #{lat2,jdbcType=DOUBLE},
      </if>
      <if test="lat3 != null" >
        lat3 = #{lat3,jdbcType=DOUBLE},
      </if>
      <if test="lat4 != null" >
        lat4 = #{lat4,jdbcType=DOUBLE},
      </if>
      <if test="watter != null" >
        watter = #{watter,jdbcType=DOUBLE},
      </if>
      <if test="tian != null" >
        tian = #{tian,jdbcType=DOUBLE},
      </if>
      <if test="fen != null" >
        fen = #{fen,jdbcType=DOUBLE},
      </if>
      <if test="dui != null" >
        dui = #{dui,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="statusDec != null" >
        status_dec = #{statusDec,jdbcType=VARCHAR},
      </if>
      <if test="vocs != null" >
        vocs = #{vocs,jdbcType=DOUBLE},
      </if>
      <if test="nh3 != null" >
        nh3 = #{nh3,jdbcType=DOUBLE},
      </if>
      <if test="sccCode != null" >
        scc_code = #{sccCode,jdbcType=CHAR},
      </if>
      <if test="marUseamount != null" >
        Mar_useamount = #{marUseamount,jdbcType=DOUBLE},
      </if>
      <if test="febUseamount != null" >
        Feb_useamount = #{febUseamount,jdbcType=DOUBLE},
      </if>
      <if test="janUseamount != null" >
        Jan_useamount = #{janUseamount,jdbcType=DOUBLE},
      </if>
      <if test="mayUseamount != null" >
        May_useamount = #{mayUseamount,jdbcType=DOUBLE},
      </if>
      <if test="juneUseamount != null" >
        June_useamount = #{juneUseamount,jdbcType=DOUBLE},
      </if>
      <if test="julyUseamount != null" >
        July_useamount = #{julyUseamount,jdbcType=DOUBLE},
      </if>
      <if test="septUseamount != null" >
        sept_useamount = #{septUseamount,jdbcType=DOUBLE},
      </if>
      <if test="augUseamount != null" >
        aug_useamount = #{augUseamount,jdbcType=DOUBLE},
      </if>
      <if test="aprUseamount != null" >
        Apr_useamount = #{aprUseamount,jdbcType=DOUBLE},
      </if>
      <if test="octUseAmount != null" >
        oct_use_amount = #{octUseAmount,jdbcType=DOUBLE},
      </if>
      <if test="novUseamount != null" >
        nov_useamount = #{novUseamount,jdbcType=DOUBLE},
      </if>
      <if test="decUseamount != null" >
        dec_useamount = #{decUseamount,jdbcType=DOUBLE},
      </if>
      <if test="pm10Emission != null" >
        pm10_emission = #{pm10Emission,jdbcType=DOUBLE},
      </if>
      <if test="pm25Emission != null" >
        pm25_emission = #{pm25Emission,jdbcType=DOUBLE},
      </if>
      <if test="ocEmission != null" >
        oc_emission = #{ocEmission,jdbcType=DOUBLE},
      </if>
      <if test="bcEmission != null" >
        bc_emission = #{bcEmission,jdbcType=DOUBLE},
      </if>
      <if test="so2Emission != null" >
        so2_emission = #{so2Emission,jdbcType=DOUBLE},
      </if>
      <if test="noxEmission != null" >
        nox_emission = #{noxEmission,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
<!--  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >-->
<!--    delete from feiqi-->
<!--    where id = #{id,jdbcType=INTEGER}-->
<!--  </delete>-->
<!--  <delete id="deleteByExample" parameterType="nankai.xl.business.model.FeiqiExample" >-->
<!--    delete from feiqi-->
<!--    <if test="_parameter != null" >-->
<!--      <include refid="Example_Where_Clause" />-->
<!--    </if>-->
<!--  </delete>-->
<!--  <insert id="insert" parameterType="nankai.xl.business.model.Feiqi" >-->
<!--    insert into feiqi (id, factory_id, nkno, -->
<!--      device_name, scc2, scc2_dec, -->
<!--      scc3, scc3_dec, scc4, scc4_dec, -->
<!--      lon1, lon2, lon3, lon4, -->
<!--      lat1, lat2, lat3, lat4, -->
<!--      watter, tian, fen, dui, -->
<!--      status, status_dec, vocs, -->
<!--      nh3, scc_code, Mar_useamount, -->
<!--      Feb_useamount, Jan_useamount, May_useamount, -->
<!--      June_useamount, July_useamount, sept_useamount, -->
<!--      aug_useamount, Apr_useamount, oct_use_amount, -->
<!--      nov_useamount, dec_useamount, pm10_emission, -->
<!--      pm25_emission, oc_emission, bc_emission, -->
<!--      so2_emission, nox_emission)-->
<!--    values (#{id,jdbcType=INTEGER}, #{factoryId,jdbcType=INTEGER}, #{nkno,jdbcType=INTEGER}, -->
<!--      #{deviceName,jdbcType=VARCHAR}, #{scc2,jdbcType=CHAR}, #{scc2Dec,jdbcType=VARCHAR}, -->
<!--      #{scc3,jdbcType=CHAR}, #{scc3Dec,jdbcType=VARCHAR}, #{scc4,jdbcType=CHAR}, #{scc4Dec,jdbcType=VARCHAR}, -->
<!--      #{lon1,jdbcType=DOUBLE}, #{lon2,jdbcType=DOUBLE}, #{lon3,jdbcType=DOUBLE}, #{lon4,jdbcType=DOUBLE}, -->
<!--      #{lat1,jdbcType=DOUBLE}, #{lat2,jdbcType=DOUBLE}, #{lat3,jdbcType=DOUBLE}, #{lat4,jdbcType=DOUBLE}, -->
<!--      #{watter,jdbcType=DOUBLE}, #{tian,jdbcType=DOUBLE}, #{fen,jdbcType=DOUBLE}, #{dui,jdbcType=DOUBLE}, -->
<!--      #{status,jdbcType=INTEGER}, #{statusDec,jdbcType=VARCHAR}, #{vocs,jdbcType=DOUBLE}, -->
<!--      #{nh3,jdbcType=DOUBLE}, #{sccCode,jdbcType=CHAR}, #{marUseamount,jdbcType=DOUBLE}, -->
<!--      #{febUseamount,jdbcType=DOUBLE}, #{janUseamount,jdbcType=DOUBLE}, #{mayUseamount,jdbcType=DOUBLE}, -->
<!--      #{juneUseamount,jdbcType=DOUBLE}, #{julyUseamount,jdbcType=DOUBLE}, #{septUseamount,jdbcType=DOUBLE}, -->
<!--      #{augUseamount,jdbcType=DOUBLE}, #{aprUseamount,jdbcType=DOUBLE}, #{octUseAmount,jdbcType=DOUBLE}, -->
<!--      #{novUseamount,jdbcType=DOUBLE}, #{decUseamount,jdbcType=DOUBLE}, #{pm10Emission,jdbcType=DOUBLE}, -->
<!--      #{pm25Emission,jdbcType=DOUBLE}, #{ocEmission,jdbcType=DOUBLE}, #{bcEmission,jdbcType=DOUBLE}, -->
<!--      #{so2Emission,jdbcType=DOUBLE}, #{noxEmission,jdbcType=DOUBLE})-->
<!--  </insert>-->
<!--  <insert id="insertSelective" parameterType="nankai.xl.business.model.Feiqi" >-->
<!--    insert into feiqi-->
<!--    <trim prefix="(" suffix=")" suffixOverrides="," >-->
<!--      <if test="id != null" >-->
<!--        id,-->
<!--      </if>-->
<!--      <if test="factoryId != null" >-->
<!--        factory_id,-->
<!--      </if>-->
<!--      <if test="nkno != null" >-->
<!--        nkno,-->
<!--      </if>-->
<!--      <if test="deviceName != null" >-->
<!--        device_name,-->
<!--      </if>-->
<!--      <if test="scc2 != null" >-->
<!--        scc2,-->
<!--      </if>-->
<!--      <if test="scc2Dec != null" >-->
<!--        scc2_dec,-->
<!--      </if>-->
<!--      <if test="scc3 != null" >-->
<!--        scc3,-->
<!--      </if>-->
<!--      <if test="scc3Dec != null" >-->
<!--        scc3_dec,-->
<!--      </if>-->
<!--      <if test="scc4 != null" >-->
<!--        scc4,-->
<!--      </if>-->
<!--      <if test="scc4Dec != null" >-->
<!--        scc4_dec,-->
<!--      </if>-->
<!--      <if test="lon1 != null" >-->
<!--        lon1,-->
<!--      </if>-->
<!--      <if test="lon2 != null" >-->
<!--        lon2,-->
<!--      </if>-->
<!--      <if test="lon3 != null" >-->
<!--        lon3,-->
<!--      </if>-->
<!--      <if test="lon4 != null" >-->
<!--        lon4,-->
<!--      </if>-->
<!--      <if test="lat1 != null" >-->
<!--        lat1,-->
<!--      </if>-->
<!--      <if test="lat2 != null" >-->
<!--        lat2,-->
<!--      </if>-->
<!--      <if test="lat3 != null" >-->
<!--        lat3,-->
<!--      </if>-->
<!--      <if test="lat4 != null" >-->
<!--        lat4,-->
<!--      </if>-->
<!--      <if test="watter != null" >-->
<!--        watter,-->
<!--      </if>-->
<!--      <if test="tian != null" >-->
<!--        tian,-->
<!--      </if>-->
<!--      <if test="fen != null" >-->
<!--        fen,-->
<!--      </if>-->
<!--      <if test="dui != null" >-->
<!--        dui,-->
<!--      </if>-->
<!--      <if test="status != null" >-->
<!--        status,-->
<!--      </if>-->
<!--      <if test="statusDec != null" >-->
<!--        status_dec,-->
<!--      </if>-->
<!--      <if test="vocs != null" >-->
<!--        vocs,-->
<!--      </if>-->
<!--      <if test="nh3 != null" >-->
<!--        nh3,-->
<!--      </if>-->
<!--      <if test="sccCode != null" >-->
<!--        scc_code,-->
<!--      </if>-->
<!--      <if test="marUseamount != null" >-->
<!--        Mar_useamount,-->
<!--      </if>-->
<!--      <if test="febUseamount != null" >-->
<!--        Feb_useamount,-->
<!--      </if>-->
<!--      <if test="janUseamount != null" >-->
<!--        Jan_useamount,-->
<!--      </if>-->
<!--      <if test="mayUseamount != null" >-->
<!--        May_useamount,-->
<!--      </if>-->
<!--      <if test="juneUseamount != null" >-->
<!--        June_useamount,-->
<!--      </if>-->
<!--      <if test="julyUseamount != null" >-->
<!--        July_useamount,-->
<!--      </if>-->
<!--      <if test="septUseamount != null" >-->
<!--        sept_useamount,-->
<!--      </if>-->
<!--      <if test="augUseamount != null" >-->
<!--        aug_useamount,-->
<!--      </if>-->
<!--      <if test="aprUseamount != null" >-->
<!--        Apr_useamount,-->
<!--      </if>-->
<!--      <if test="octUseAmount != null" >-->
<!--        oct_use_amount,-->
<!--      </if>-->
<!--      <if test="novUseamount != null" >-->
<!--        nov_useamount,-->
<!--      </if>-->
<!--      <if test="decUseamount != null" >-->
<!--        dec_useamount,-->
<!--      </if>-->
<!--      <if test="pm10Emission != null" >-->
<!--        pm10_emission,-->
<!--      </if>-->
<!--      <if test="pm25Emission != null" >-->
<!--        pm25_emission,-->
<!--      </if>-->
<!--      <if test="ocEmission != null" >-->
<!--        oc_emission,-->
<!--      </if>-->
<!--      <if test="bcEmission != null" >-->
<!--        bc_emission,-->
<!--      </if>-->
<!--      <if test="so2Emission != null" >-->
<!--        so2_emission,-->
<!--      </if>-->
<!--      <if test="noxEmission != null" >-->
<!--        nox_emission,-->
<!--      </if>-->
<!--    </trim>-->
<!--    <trim prefix="values (" suffix=")" suffixOverrides="," >-->
<!--      <if test="id != null" >-->
<!--        #{id,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="factoryId != null" >-->
<!--        #{factoryId,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="nkno != null" >-->
<!--        #{nkno,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="deviceName != null" >-->
<!--        #{deviceName,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="scc2 != null" >-->
<!--        #{scc2,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="scc2Dec != null" >-->
<!--        #{scc2Dec,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="scc3 != null" >-->
<!--        #{scc3,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="scc3Dec != null" >-->
<!--        #{scc3Dec,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="scc4 != null" >-->
<!--        #{scc4,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="scc4Dec != null" >-->
<!--        #{scc4Dec,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="lon1 != null" >-->
<!--        #{lon1,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="lon2 != null" >-->
<!--        #{lon2,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="lon3 != null" >-->
<!--        #{lon3,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="lon4 != null" >-->
<!--        #{lon4,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="lat1 != null" >-->
<!--        #{lat1,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="lat2 != null" >-->
<!--        #{lat2,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="lat3 != null" >-->
<!--        #{lat3,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="lat4 != null" >-->
<!--        #{lat4,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="watter != null" >-->
<!--        #{watter,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="tian != null" >-->
<!--        #{tian,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="fen != null" >-->
<!--        #{fen,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="dui != null" >-->
<!--        #{dui,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="status != null" >-->
<!--        #{status,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="statusDec != null" >-->
<!--        #{statusDec,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="vocs != null" >-->
<!--        #{vocs,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="nh3 != null" >-->
<!--        #{nh3,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="sccCode != null" >-->
<!--        #{sccCode,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="marUseamount != null" >-->
<!--        #{marUseamount,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="febUseamount != null" >-->
<!--        #{febUseamount,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="janUseamount != null" >-->
<!--        #{janUseamount,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="mayUseamount != null" >-->
<!--        #{mayUseamount,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="juneUseamount != null" >-->
<!--        #{juneUseamount,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="julyUseamount != null" >-->
<!--        #{julyUseamount,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="septUseamount != null" >-->
<!--        #{septUseamount,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="augUseamount != null" >-->
<!--        #{augUseamount,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="aprUseamount != null" >-->
<!--        #{aprUseamount,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="octUseAmount != null" >-->
<!--        #{octUseAmount,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="novUseamount != null" >-->
<!--        #{novUseamount,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="decUseamount != null" >-->
<!--        #{decUseamount,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="pm10Emission != null" >-->
<!--        #{pm10Emission,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="pm25Emission != null" >-->
<!--        #{pm25Emission,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="ocEmission != null" >-->
<!--        #{ocEmission,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="bcEmission != null" >-->
<!--        #{bcEmission,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="so2Emission != null" >-->
<!--        #{so2Emission,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="noxEmission != null" >-->
<!--        #{noxEmission,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--    </trim>-->
<!--  </insert>-->
<!--  <select id="countByExample" parameterType="nankai.xl.business.model.FeiqiExample" resultType="java.lang.Integer" >-->
<!--    select count(*) from feiqi-->
<!--    <if test="_parameter != null" >-->
<!--      <include refid="Example_Where_Clause" />-->
<!--    </if>-->
<!--  </select>-->
<!--  <update id="updateByExampleSelective" parameterType="map" >-->
<!--    update feiqi-->
<!--    <set >-->
<!--      <if test="record.id != null" >-->
<!--        id = #{record.id,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="record.factoryId != null" >-->
<!--        factory_id = #{record.factoryId,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="record.nkno != null" >-->
<!--        nkno = #{record.nkno,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="record.deviceName != null" >-->
<!--        device_name = #{record.deviceName,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="record.scc2 != null" >-->
<!--        scc2 = #{record.scc2,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="record.scc2Dec != null" >-->
<!--        scc2_dec = #{record.scc2Dec,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="record.scc3 != null" >-->
<!--        scc3 = #{record.scc3,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="record.scc3Dec != null" >-->
<!--        scc3_dec = #{record.scc3Dec,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="record.scc4 != null" >-->
<!--        scc4 = #{record.scc4,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="record.scc4Dec != null" >-->
<!--        scc4_dec = #{record.scc4Dec,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="record.lon1 != null" >-->
<!--        lon1 = #{record.lon1,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.lon2 != null" >-->
<!--        lon2 = #{record.lon2,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.lon3 != null" >-->
<!--        lon3 = #{record.lon3,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.lon4 != null" >-->
<!--        lon4 = #{record.lon4,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.lat1 != null" >-->
<!--        lat1 = #{record.lat1,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.lat2 != null" >-->
<!--        lat2 = #{record.lat2,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.lat3 != null" >-->
<!--        lat3 = #{record.lat3,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.lat4 != null" >-->
<!--        lat4 = #{record.lat4,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.watter != null" >-->
<!--        watter = #{record.watter,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.tian != null" >-->
<!--        tian = #{record.tian,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.fen != null" >-->
<!--        fen = #{record.fen,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.dui != null" >-->
<!--        dui = #{record.dui,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.status != null" >-->
<!--        status = #{record.status,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="record.statusDec != null" >-->
<!--        status_dec = #{record.statusDec,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="record.vocs != null" >-->
<!--        vocs = #{record.vocs,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.nh3 != null" >-->
<!--        nh3 = #{record.nh3,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.sccCode != null" >-->
<!--        scc_code = #{record.sccCode,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="record.marUseamount != null" >-->
<!--        Mar_useamount = #{record.marUseamount,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.febUseamount != null" >-->
<!--        Feb_useamount = #{record.febUseamount,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.janUseamount != null" >-->
<!--        Jan_useamount = #{record.janUseamount,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.mayUseamount != null" >-->
<!--        May_useamount = #{record.mayUseamount,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.juneUseamount != null" >-->
<!--        June_useamount = #{record.juneUseamount,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.julyUseamount != null" >-->
<!--        July_useamount = #{record.julyUseamount,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.septUseamount != null" >-->
<!--        sept_useamount = #{record.septUseamount,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.augUseamount != null" >-->
<!--        aug_useamount = #{record.augUseamount,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.aprUseamount != null" >-->
<!--        Apr_useamount = #{record.aprUseamount,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.octUseAmount != null" >-->
<!--        oct_use_amount = #{record.octUseAmount,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.novUseamount != null" >-->
<!--        nov_useamount = #{record.novUseamount,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.decUseamount != null" >-->
<!--        dec_useamount = #{record.decUseamount,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.pm10Emission != null" >-->
<!--        pm10_emission = #{record.pm10Emission,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.pm25Emission != null" >-->
<!--        pm25_emission = #{record.pm25Emission,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.ocEmission != null" >-->
<!--        oc_emission = #{record.ocEmission,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.bcEmission != null" >-->
<!--        bc_emission = #{record.bcEmission,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.so2Emission != null" >-->
<!--        so2_emission = #{record.so2Emission,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.noxEmission != null" >-->
<!--        nox_emission = #{record.noxEmission,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--    </set>-->
<!--    <if test="_parameter != null" >-->
<!--      <include refid="Update_By_Example_Where_Clause" />-->
<!--    </if>-->
<!--  </update>-->
<!--  <update id="updateByExample" parameterType="map" >-->
<!--    update feiqi-->
<!--    set id = #{record.id,jdbcType=INTEGER},-->
<!--      factory_id = #{record.factoryId,jdbcType=INTEGER},-->
<!--      nkno = #{record.nkno,jdbcType=INTEGER},-->
<!--      device_name = #{record.deviceName,jdbcType=VARCHAR},-->
<!--      scc2 = #{record.scc2,jdbcType=CHAR},-->
<!--      scc2_dec = #{record.scc2Dec,jdbcType=VARCHAR},-->
<!--      scc3 = #{record.scc3,jdbcType=CHAR},-->
<!--      scc3_dec = #{record.scc3Dec,jdbcType=VARCHAR},-->
<!--      scc4 = #{record.scc4,jdbcType=CHAR},-->
<!--      scc4_dec = #{record.scc4Dec,jdbcType=VARCHAR},-->
<!--      lon1 = #{record.lon1,jdbcType=DOUBLE},-->
<!--      lon2 = #{record.lon2,jdbcType=DOUBLE},-->
<!--      lon3 = #{record.lon3,jdbcType=DOUBLE},-->
<!--      lon4 = #{record.lon4,jdbcType=DOUBLE},-->
<!--      lat1 = #{record.lat1,jdbcType=DOUBLE},-->
<!--      lat2 = #{record.lat2,jdbcType=DOUBLE},-->
<!--      lat3 = #{record.lat3,jdbcType=DOUBLE},-->
<!--      lat4 = #{record.lat4,jdbcType=DOUBLE},-->
<!--      watter = #{record.watter,jdbcType=DOUBLE},-->
<!--      tian = #{record.tian,jdbcType=DOUBLE},-->
<!--      fen = #{record.fen,jdbcType=DOUBLE},-->
<!--      dui = #{record.dui,jdbcType=DOUBLE},-->
<!--      status = #{record.status,jdbcType=INTEGER},-->
<!--      status_dec = #{record.statusDec,jdbcType=VARCHAR},-->
<!--      vocs = #{record.vocs,jdbcType=DOUBLE},-->
<!--      nh3 = #{record.nh3,jdbcType=DOUBLE},-->
<!--      scc_code = #{record.sccCode,jdbcType=CHAR},-->
<!--      Mar_useamount = #{record.marUseamount,jdbcType=DOUBLE},-->
<!--      Feb_useamount = #{record.febUseamount,jdbcType=DOUBLE},-->
<!--      Jan_useamount = #{record.janUseamount,jdbcType=DOUBLE},-->
<!--      May_useamount = #{record.mayUseamount,jdbcType=DOUBLE},-->
<!--      June_useamount = #{record.juneUseamount,jdbcType=DOUBLE},-->
<!--      July_useamount = #{record.julyUseamount,jdbcType=DOUBLE},-->
<!--      sept_useamount = #{record.septUseamount,jdbcType=DOUBLE},-->
<!--      aug_useamount = #{record.augUseamount,jdbcType=DOUBLE},-->
<!--      Apr_useamount = #{record.aprUseamount,jdbcType=DOUBLE},-->
<!--      oct_use_amount = #{record.octUseAmount,jdbcType=DOUBLE},-->
<!--      nov_useamount = #{record.novUseamount,jdbcType=DOUBLE},-->
<!--      dec_useamount = #{record.decUseamount,jdbcType=DOUBLE},-->
<!--      pm10_emission = #{record.pm10Emission,jdbcType=DOUBLE},-->
<!--      pm25_emission = #{record.pm25Emission,jdbcType=DOUBLE},-->
<!--      oc_emission = #{record.ocEmission,jdbcType=DOUBLE},-->
<!--      bc_emission = #{record.bcEmission,jdbcType=DOUBLE},-->
<!--      so2_emission = #{record.so2Emission,jdbcType=DOUBLE},-->
<!--      nox_emission = #{record.noxEmission,jdbcType=DOUBLE}-->
<!--    <if test="_parameter != null" >-->
<!--      <include refid="Update_By_Example_Where_Clause" />-->
<!--    </if>-->
<!--  </update>-->
<!--  <update id="updateByPrimaryKey" parameterType="nankai.xl.business.model.Feiqi" >-->
<!--    update feiqi-->
<!--    set factory_id = #{factoryId,jdbcType=INTEGER},-->
<!--      nkno = #{nkno,jdbcType=INTEGER},-->
<!--      device_name = #{deviceName,jdbcType=VARCHAR},-->
<!--      scc2 = #{scc2,jdbcType=CHAR},-->
<!--      scc2_dec = #{scc2Dec,jdbcType=VARCHAR},-->
<!--      scc3 = #{scc3,jdbcType=CHAR},-->
<!--      scc3_dec = #{scc3Dec,jdbcType=VARCHAR},-->
<!--      scc4 = #{scc4,jdbcType=CHAR},-->
<!--      scc4_dec = #{scc4Dec,jdbcType=VARCHAR},-->
<!--      lon1 = #{lon1,jdbcType=DOUBLE},-->
<!--      lon2 = #{lon2,jdbcType=DOUBLE},-->
<!--      lon3 = #{lon3,jdbcType=DOUBLE},-->
<!--      lon4 = #{lon4,jdbcType=DOUBLE},-->
<!--      lat1 = #{lat1,jdbcType=DOUBLE},-->
<!--      lat2 = #{lat2,jdbcType=DOUBLE},-->
<!--      lat3 = #{lat3,jdbcType=DOUBLE},-->
<!--      lat4 = #{lat4,jdbcType=DOUBLE},-->
<!--      watter = #{watter,jdbcType=DOUBLE},-->
<!--      tian = #{tian,jdbcType=DOUBLE},-->
<!--      fen = #{fen,jdbcType=DOUBLE},-->
<!--      dui = #{dui,jdbcType=DOUBLE},-->
<!--      status = #{status,jdbcType=INTEGER},-->
<!--      status_dec = #{statusDec,jdbcType=VARCHAR},-->
<!--      vocs = #{vocs,jdbcType=DOUBLE},-->
<!--      nh3 = #{nh3,jdbcType=DOUBLE},-->
<!--      scc_code = #{sccCode,jdbcType=CHAR},-->
<!--      Mar_useamount = #{marUseamount,jdbcType=DOUBLE},-->
<!--      Feb_useamount = #{febUseamount,jdbcType=DOUBLE},-->
<!--      Jan_useamount = #{janUseamount,jdbcType=DOUBLE},-->
<!--      May_useamount = #{mayUseamount,jdbcType=DOUBLE},-->
<!--      June_useamount = #{juneUseamount,jdbcType=DOUBLE},-->
<!--      July_useamount = #{julyUseamount,jdbcType=DOUBLE},-->
<!--      sept_useamount = #{septUseamount,jdbcType=DOUBLE},-->
<!--      aug_useamount = #{augUseamount,jdbcType=DOUBLE},-->
<!--      Apr_useamount = #{aprUseamount,jdbcType=DOUBLE},-->
<!--      oct_use_amount = #{octUseAmount,jdbcType=DOUBLE},-->
<!--      nov_useamount = #{novUseamount,jdbcType=DOUBLE},-->
<!--      dec_useamount = #{decUseamount,jdbcType=DOUBLE},-->
<!--      pm10_emission = #{pm10Emission,jdbcType=DOUBLE},-->
<!--      pm25_emission = #{pm25Emission,jdbcType=DOUBLE},-->
<!--      oc_emission = #{ocEmission,jdbcType=DOUBLE},-->
<!--      bc_emission = #{bcEmission,jdbcType=DOUBLE},-->
<!--      so2_emission = #{so2Emission,jdbcType=DOUBLE},-->
<!--      nox_emission = #{noxEmission,jdbcType=DOUBLE}-->
<!--    where id = #{id,jdbcType=INTEGER}-->
<!--  </update>-->
</mapper>