<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nankai.xl.business.mapper.FNoOrganizationWorkshopDischargeMapper" >
  <resultMap id="BaseResultMap" type="nankai.xl.business.model.FNoOrganizationWorkshopDischarge">
    <id column="wsid" jdbcType="INTEGER" property="wsid" />
    <result column="workshopid" jdbcType="INTEGER" property="workshopid" />
    <result column="factoryid" jdbcType="INTEGER" property="factoryid" />
    <result column="scccode" jdbcType="CHAR" property="scccode" />
    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
    <result column="production_use" jdbcType="CHAR" property="productionUse" />
    <result column="workshop_area" jdbcType="DOUBLE" property="workshopArea" />
    <result column="pm10_emission" jdbcType="DOUBLE" property="pm10Emission" />
    <result column="oc_emission" jdbcType="DOUBLE" property="ocEmission" />
    <result column="pm25_emission" jdbcType="DOUBLE" property="pm25Emission" />
    <result column="ec_emission" jdbcType="DOUBLE" property="ecEmission" />
    <result column="so2_emission" jdbcType="DOUBLE" property="so2Emission" />
    <result column="nox_emission" jdbcType="DOUBLE" property="noxEmission" />
    <result column="co_emission" jdbcType="DOUBLE" property="coEmission" />
    <result column="nh3_emission" jdbcType="DOUBLE" property="nh3Emission" />
    <result column="vocs_emission" jdbcType="DOUBLE" property="vocsEmission" />
  </resultMap>
  <sql id="Base_Column_List">
    wsid, workshopid, factoryid, scccode, longitude, latitude, production_use, workshop_area,
    pm10_emission, oc_emission, pm25_emission, ec_emission, so2_emission, nox_emission,
    co_emission, nh3_emission, vocs_emission
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from f_no_organization_workshop_discharge
    where wsid = #{wsid,jdbcType=INTEGER}
  </select>
  <select id="selectByFactoryId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from f_no_organization_workshop_discharge
    where factoryid = #{factoryid,jdbcType=INTEGER}
  </select>
  <update id="updateById" parameterType="nankai.xl.business.model.FNoOrganizationWorkshopDischarge" >
    update f_no_organization_workshop_discharge
    <set>
      <if test="workshopid != null">
        workshopid = #{workshopid,jdbcType=INTEGER},
      </if>
      <if test="factoryid != null">
        factoryid = #{factoryid,jdbcType=INTEGER},
      </if>
      <if test="scccode != null">
        scccode = #{scccode,jdbcType=CHAR},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="productionUse != null">
        production_use = #{productionUse,jdbcType=CHAR},
      </if>
      <if test="workshopArea != null">
        workshop_area = #{workshopArea,jdbcType=DOUBLE},
      </if>
      <if test="pm10Emission != null">
        pm10_emission = #{pm10Emission,jdbcType=DOUBLE},
      </if>
      <if test="ocEmission != null">
        oc_emission = #{ocEmission,jdbcType=DOUBLE},
      </if>
      <if test="pm25Emission != null">
        pm25_emission = #{pm25Emission,jdbcType=DOUBLE},
      </if>
      <if test="ecEmission != null">
        ec_emission = #{ecEmission,jdbcType=DOUBLE},
      </if>
      <if test="so2Emission != null">
        so2_emission = #{so2Emission,jdbcType=DOUBLE},
      </if>
      <if test="noxEmission != null">
        nox_emission = #{noxEmission,jdbcType=DOUBLE},
      </if>
      <if test="coEmission != null">
        co_emission = #{coEmission,jdbcType=DOUBLE},
      </if>
      <if test="nh3Emission != null">
        nh3_emission = #{nh3Emission,jdbcType=DOUBLE},
      </if>
      <if test="vocsEmission != null">
        vocs_emission = #{vocsEmission,jdbcType=DOUBLE},
      </if>
    </set>
    where wsid = #{wsid,jdbcType=INTEGER}
  </update>
</mapper>