<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nankai.xl.business.mapper.FRoadDustSourceMapper" >
  <resultMap id="BaseResultMap" type="nankai.xl.business.model.FRoadDustSource" >
    <id column="road_dustid" property="roadDustid" jdbcType="INTEGER" />
    <result column="scccode" property="scccode" jdbcType="CHAR" />
    <result column="factoryid" property="factoryid" jdbcType="INTEGER" />
    <result column="company_name" property="companyName" jdbcType="CHAR" />
    <result column="start_longitude" property="startLongitude" jdbcType="DOUBLE" />
    <result column="start_latitude" property="startLatitude" jdbcType="DOUBLE" />
    <result column="end_longitude" property="endLongitude" jdbcType="DOUBLE" />
    <result column="end_latitude" property="endLatitude" jdbcType="DOUBLE" />
    <result column="road_type" property="roadType" jdbcType="VARCHAR" />
    <result column="path_length" property="pathLength" jdbcType="DOUBLE" />
    <result column="ispave" property="ispave" jdbcType="VARCHAR" />
    <result column="aver_width" property="averWidth" jdbcType="DOUBLE" />
    <result column="aver_weight" property="averWeight" jdbcType="DOUBLE" />
    <result column="car_flow" property="carFlow" jdbcType="INTEGER" />
    <result column="aver_speed" property="averSpeed" jdbcType="DOUBLE" />
    <result column="clear_time_install" property="clearTimeInstall" jdbcType="DOUBLE" />
    <result column="clear_time_uninstall" property="clearTimeUninstall" jdbcType="DOUBLE" />
    <result column="sweep_spring" property="sweepSpring" jdbcType="DOUBLE" />
    <result column="sweep_summer" property="sweepSummer" jdbcType="DOUBLE" />
    <result column="sweep_fall" property="sweepFall" jdbcType="DOUBLE" />
    <result column="water_times_spring" property="waterTimesSpring" jdbcType="DOUBLE" />
    <result column="water_times_summer" property="waterTimesSummer" jdbcType="DOUBLE" />
    <result column="water_times_fall" property="waterTimesFall" jdbcType="DOUBLE" />
    <result column="dust_suppression" property="dustSuppression" jdbcType="INTEGER" />
    <result column="control_measures" property="controlMeasures" jdbcType="VARCHAR" />
    <result column="pm10_factors" property="pm10Factors" jdbcType="DOUBLE" />
    <result column="pm25_factors" property="pm25Factors" jdbcType="DOUBLE" />
    <result column="pm25_emission" property="pm25Emission" jdbcType="DOUBLE" />
    <result column="pm10_emission" property="pm10Emission" jdbcType="DOUBLE" />
    <result column="oc_emission" property="ocEmission" jdbcType="DOUBLE" />
    <result column="bc_emission" property="bcEmission" jdbcType="DOUBLE" />
  </resultMap>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from f_road_dust_source
    where road_dustid = #{roadDustid,jdbcType=INTEGER}
  </select>
  <select id="selectByFactoryId" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select road_dustid from f_road_dust_source
    where factoryid = #{factoryid,jdbcType=INTEGER}
  </select>
  <update id="updateById" parameterType="nankai.xl.business.model.FRoadDustSource" >
    update f_road_dust_source
    <set >
      <if test="scccode != null" >
        scccode = #{scccode,jdbcType=CHAR},
      </if>
      <if test="factoryid != null" >
        factoryid = #{factoryid,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=CHAR},
      </if>
      <if test="startLongitude != null" >
        start_longitude = #{startLongitude,jdbcType=DOUBLE},
      </if>
      <if test="startLatitude != null" >
        start_latitude = #{startLatitude,jdbcType=DOUBLE},
      </if>
      <if test="endLongitude != null" >
        end_longitude = #{endLongitude,jdbcType=DOUBLE},
      </if>
      <if test="endLatitude != null" >
        end_latitude = #{endLatitude,jdbcType=DOUBLE},
      </if>
      <if test="roadType != null" >
        road_type = #{roadType,jdbcType=VARCHAR},
      </if>
      <if test="pathLength != null" >
        path_length = #{pathLength,jdbcType=DOUBLE},
      </if>
      <if test="ispave != null" >
        ispave = #{ispave,jdbcType=VARCHAR},
      </if>
      <if test="averWidth != null" >
        aver_width = #{averWidth,jdbcType=DOUBLE},
      </if>
      <if test="averWeight != null" >
        aver_weight = #{averWeight,jdbcType=DOUBLE},
      </if>
      <if test="carFlow != null" >
        car_flow = #{carFlow,jdbcType=INTEGER},
      </if>
      <if test="averSpeed != null" >
        aver_speed = #{averSpeed,jdbcType=DOUBLE},
      </if>
      <if test="clearTimeInstall != null" >
        clear_time_install = #{clearTimeInstall,jdbcType=DOUBLE},
      </if>
      <if test="clearTimeUninstall != null" >
        clear_time_uninstall = #{clearTimeUninstall,jdbcType=DOUBLE},
      </if>
      <if test="sweepSpring != null" >
        sweep_spring = #{sweepSpring,jdbcType=DOUBLE},
      </if>
      <if test="sweepSummer != null" >
        sweep_summer = #{sweepSummer,jdbcType=DOUBLE},
      </if>
      <if test="sweepFall != null" >
        sweep_fall = #{sweepFall,jdbcType=DOUBLE},
      </if>
      <if test="waterTimesSpring != null" >
        water_times_spring = #{waterTimesSpring,jdbcType=DOUBLE},
      </if>
      <if test="waterTimesSummer != null" >
        water_times_summer = #{waterTimesSummer,jdbcType=DOUBLE},
      </if>
      <if test="waterTimesFall != null" >
        water_times_fall = #{waterTimesFall,jdbcType=DOUBLE},
      </if>
      <if test="dustSuppression != null" >
        dust_suppression = #{dustSuppression,jdbcType=INTEGER},
      </if>
      <if test="controlMeasures != null" >
        control_measures = #{controlMeasures,jdbcType=VARCHAR},
      </if>
      <if test="pm10Factors != null" >
        pm10_factors = #{pm10Factors,jdbcType=DOUBLE},
      </if>
      <if test="pm25Factors != null" >
        pm25_factors = #{pm25Factors,jdbcType=DOUBLE},
      </if>
      <if test="pm25Emission != null" >
        pm25_emission = #{pm25Emission,jdbcType=DOUBLE},
      </if>
      <if test="pm10Emission != null" >
        pm10_emission = #{pm10Emission,jdbcType=DOUBLE},
      </if>
      <if test="ocEmission != null" >
        oc_emission = #{ocEmission,jdbcType=DOUBLE},
      </if>
      <if test="bcEmission != null" >
        bc_emission = #{bcEmission,jdbcType=DOUBLE},
      </if>
    </set>
    where road_dustid = #{roadDustid,jdbcType=INTEGER}
  </update>
<!--  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >-->
<!--    delete from f_road_dust_source-->
<!--    where road_dustid = #{roadDustid,jdbcType=INTEGER}-->
<!--  </delete>-->
<!--  <delete id="deleteByExample" parameterType="nankai.xl.business.model.FRoadDustSourceExample" >-->
<!--    delete from f_road_dust_source-->
<!--    <if test="_parameter != null" >-->
<!--      <include refid="Example_Where_Clause" />-->
<!--    </if>-->
<!--  </delete>-->
<!--  <insert id="insert" parameterType="nankai.xl.business.model.FRoadDustSource" >-->
<!--    insert into f_road_dust_source (road_dustid, scccode, factoryid, -->
<!--      company_name, start_longitude, start_latitude, -->
<!--      end_longitude, end_latitude, road_type, -->
<!--      path_length, ispave, aver_width, -->
<!--      aver_weight, car_flow, aver_speed, -->
<!--      clear_time_install, clear_time_uninstall, sweep_spring, -->
<!--      sweep_summer, sweep_fall, water_times_spring, -->
<!--      water_times_summer, water_times_fall, dust_suppression, -->
<!--      control_measures, pm10_factors, pm25_factors, -->
<!--      pm25_emission, pm10_emission, oc_emission, -->
<!--      bc_emission)-->
<!--    values (#{roadDustid,jdbcType=INTEGER}, #{scccode,jdbcType=CHAR}, #{factoryid,jdbcType=INTEGER}, -->
<!--      #{companyName,jdbcType=CHAR}, #{startLongitude,jdbcType=DOUBLE}, #{startLatitude,jdbcType=DOUBLE}, -->
<!--      #{endLongitude,jdbcType=DOUBLE}, #{endLatitude,jdbcType=DOUBLE}, #{roadType,jdbcType=VARCHAR}, -->
<!--      #{pathLength,jdbcType=DOUBLE}, #{ispave,jdbcType=VARCHAR}, #{averWidth,jdbcType=DOUBLE}, -->
<!--      #{averWeight,jdbcType=DOUBLE}, #{carFlow,jdbcType=INTEGER}, #{averSpeed,jdbcType=DOUBLE}, -->
<!--      #{clearTimeInstall,jdbcType=DOUBLE}, #{clearTimeUninstall,jdbcType=DOUBLE}, #{sweepSpring,jdbcType=DOUBLE}, -->
<!--      #{sweepSummer,jdbcType=DOUBLE}, #{sweepFall,jdbcType=DOUBLE}, #{waterTimesSpring,jdbcType=DOUBLE}, -->
<!--      #{waterTimesSummer,jdbcType=DOUBLE}, #{waterTimesFall,jdbcType=DOUBLE}, #{dustSuppression,jdbcType=INTEGER}, -->
<!--      #{controlMeasures,jdbcType=VARCHAR}, #{pm10Factors,jdbcType=DOUBLE}, #{pm25Factors,jdbcType=DOUBLE}, -->
<!--      #{pm25Emission,jdbcType=DOUBLE}, #{pm10Emission,jdbcType=DOUBLE}, #{ocEmission,jdbcType=DOUBLE}, -->
<!--      #{bcEmission,jdbcType=DOUBLE})-->
<!--  </insert>-->
<!--  <insert id="insertSelective" parameterType="nankai.xl.business.model.FRoadDustSource" >-->
<!--    insert into f_road_dust_source-->
<!--    <trim prefix="(" suffix=")" suffixOverrides="," >-->
<!--      <if test="roadDustid != null" >-->
<!--        road_dustid,-->
<!--      </if>-->
<!--      <if test="scccode != null" >-->
<!--        scccode,-->
<!--      </if>-->
<!--      <if test="factoryid != null" >-->
<!--        factoryid,-->
<!--      </if>-->
<!--      <if test="companyName != null" >-->
<!--        company_name,-->
<!--      </if>-->
<!--      <if test="startLongitude != null" >-->
<!--        start_longitude,-->
<!--      </if>-->
<!--      <if test="startLatitude != null" >-->
<!--        start_latitude,-->
<!--      </if>-->
<!--      <if test="endLongitude != null" >-->
<!--        end_longitude,-->
<!--      </if>-->
<!--      <if test="endLatitude != null" >-->
<!--        end_latitude,-->
<!--      </if>-->
<!--      <if test="roadType != null" >-->
<!--        road_type,-->
<!--      </if>-->
<!--      <if test="pathLength != null" >-->
<!--        path_length,-->
<!--      </if>-->
<!--      <if test="ispave != null" >-->
<!--        ispave,-->
<!--      </if>-->
<!--      <if test="averWidth != null" >-->
<!--        aver_width,-->
<!--      </if>-->
<!--      <if test="averWeight != null" >-->
<!--        aver_weight,-->
<!--      </if>-->
<!--      <if test="carFlow != null" >-->
<!--        car_flow,-->
<!--      </if>-->
<!--      <if test="averSpeed != null" >-->
<!--        aver_speed,-->
<!--      </if>-->
<!--      <if test="clearTimeInstall != null" >-->
<!--        clear_time_install,-->
<!--      </if>-->
<!--      <if test="clearTimeUninstall != null" >-->
<!--        clear_time_uninstall,-->
<!--      </if>-->
<!--      <if test="sweepSpring != null" >-->
<!--        sweep_spring,-->
<!--      </if>-->
<!--      <if test="sweepSummer != null" >-->
<!--        sweep_summer,-->
<!--      </if>-->
<!--      <if test="sweepFall != null" >-->
<!--        sweep_fall,-->
<!--      </if>-->
<!--      <if test="waterTimesSpring != null" >-->
<!--        water_times_spring,-->
<!--      </if>-->
<!--      <if test="waterTimesSummer != null" >-->
<!--        water_times_summer,-->
<!--      </if>-->
<!--      <if test="waterTimesFall != null" >-->
<!--        water_times_fall,-->
<!--      </if>-->
<!--      <if test="dustSuppression != null" >-->
<!--        dust_suppression,-->
<!--      </if>-->
<!--      <if test="controlMeasures != null" >-->
<!--        control_measures,-->
<!--      </if>-->
<!--      <if test="pm10Factors != null" >-->
<!--        pm10_factors,-->
<!--      </if>-->
<!--      <if test="pm25Factors != null" >-->
<!--        pm25_factors,-->
<!--      </if>-->
<!--      <if test="pm25Emission != null" >-->
<!--        pm25_emission,-->
<!--      </if>-->
<!--      <if test="pm10Emission != null" >-->
<!--        pm10_emission,-->
<!--      </if>-->
<!--      <if test="ocEmission != null" >-->
<!--        oc_emission,-->
<!--      </if>-->
<!--      <if test="bcEmission != null" >-->
<!--        bc_emission,-->
<!--      </if>-->
<!--    </trim>-->
<!--    <trim prefix="values (" suffix=")" suffixOverrides="," >-->
<!--      <if test="roadDustid != null" >-->
<!--        #{roadDustid,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="scccode != null" >-->
<!--        #{scccode,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="factoryid != null" >-->
<!--        #{factoryid,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="companyName != null" >-->
<!--        #{companyName,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="startLongitude != null" >-->
<!--        #{startLongitude,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="startLatitude != null" >-->
<!--        #{startLatitude,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="endLongitude != null" >-->
<!--        #{endLongitude,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="endLatitude != null" >-->
<!--        #{endLatitude,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="roadType != null" >-->
<!--        #{roadType,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="pathLength != null" >-->
<!--        #{pathLength,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="ispave != null" >-->
<!--        #{ispave,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="averWidth != null" >-->
<!--        #{averWidth,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="averWeight != null" >-->
<!--        #{averWeight,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="carFlow != null" >-->
<!--        #{carFlow,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="averSpeed != null" >-->
<!--        #{averSpeed,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="clearTimeInstall != null" >-->
<!--        #{clearTimeInstall,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="clearTimeUninstall != null" >-->
<!--        #{clearTimeUninstall,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="sweepSpring != null" >-->
<!--        #{sweepSpring,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="sweepSummer != null" >-->
<!--        #{sweepSummer,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="sweepFall != null" >-->
<!--        #{sweepFall,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="waterTimesSpring != null" >-->
<!--        #{waterTimesSpring,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="waterTimesSummer != null" >-->
<!--        #{waterTimesSummer,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="waterTimesFall != null" >-->
<!--        #{waterTimesFall,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="dustSuppression != null" >-->
<!--        #{dustSuppression,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="controlMeasures != null" >-->
<!--        #{controlMeasures,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="pm10Factors != null" >-->
<!--        #{pm10Factors,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="pm25Factors != null" >-->
<!--        #{pm25Factors,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="pm25Emission != null" >-->
<!--        #{pm25Emission,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="pm10Emission != null" >-->
<!--        #{pm10Emission,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="ocEmission != null" >-->
<!--        #{ocEmission,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="bcEmission != null" >-->
<!--        #{bcEmission,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--    </trim>-->
<!--  </insert>-->
<!--  <select id="countByExample" parameterType="nankai.xl.business.model.FRoadDustSourceExample" resultType="java.lang.Integer" >-->
<!--    select count(*) from f_road_dust_source-->
<!--    <if test="_parameter != null" >-->
<!--      <include refid="Example_Where_Clause" />-->
<!--    </if>-->
<!--  </select>-->
<!--  <update id="updateByExampleSelective" parameterType="map" >-->
<!--    update f_road_dust_source-->
<!--    <set >-->
<!--      <if test="record.roadDustid != null" >-->
<!--        road_dustid = #{record.roadDustid,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="record.scccode != null" >-->
<!--        scccode = #{record.scccode,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="record.factoryid != null" >-->
<!--        factoryid = #{record.factoryid,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="record.companyName != null" >-->
<!--        company_name = #{record.companyName,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="record.startLongitude != null" >-->
<!--        start_longitude = #{record.startLongitude,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.startLatitude != null" >-->
<!--        start_latitude = #{record.startLatitude,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.endLongitude != null" >-->
<!--        end_longitude = #{record.endLongitude,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.endLatitude != null" >-->
<!--        end_latitude = #{record.endLatitude,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.roadType != null" >-->
<!--        road_type = #{record.roadType,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="record.pathLength != null" >-->
<!--        path_length = #{record.pathLength,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.ispave != null" >-->
<!--        ispave = #{record.ispave,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="record.averWidth != null" >-->
<!--        aver_width = #{record.averWidth,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.averWeight != null" >-->
<!--        aver_weight = #{record.averWeight,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.carFlow != null" >-->
<!--        car_flow = #{record.carFlow,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="record.averSpeed != null" >-->
<!--        aver_speed = #{record.averSpeed,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.clearTimeInstall != null" >-->
<!--        clear_time_install = #{record.clearTimeInstall,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.clearTimeUninstall != null" >-->
<!--        clear_time_uninstall = #{record.clearTimeUninstall,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.sweepSpring != null" >-->
<!--        sweep_spring = #{record.sweepSpring,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.sweepSummer != null" >-->
<!--        sweep_summer = #{record.sweepSummer,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.sweepFall != null" >-->
<!--        sweep_fall = #{record.sweepFall,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.waterTimesSpring != null" >-->
<!--        water_times_spring = #{record.waterTimesSpring,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.waterTimesSummer != null" >-->
<!--        water_times_summer = #{record.waterTimesSummer,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.waterTimesFall != null" >-->
<!--        water_times_fall = #{record.waterTimesFall,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.dustSuppression != null" >-->
<!--        dust_suppression = #{record.dustSuppression,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="record.controlMeasures != null" >-->
<!--        control_measures = #{record.controlMeasures,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="record.pm10Factors != null" >-->
<!--        pm10_factors = #{record.pm10Factors,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.pm25Factors != null" >-->
<!--        pm25_factors = #{record.pm25Factors,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.pm25Emission != null" >-->
<!--        pm25_emission = #{record.pm25Emission,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.pm10Emission != null" >-->
<!--        pm10_emission = #{record.pm10Emission,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.ocEmission != null" >-->
<!--        oc_emission = #{record.ocEmission,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.bcEmission != null" >-->
<!--        bc_emission = #{record.bcEmission,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--    </set>-->
<!--    <if test="_parameter != null" >-->
<!--      <include refid="Update_By_Example_Where_Clause" />-->
<!--    </if>-->
<!--  </update>-->
<!--  <update id="updateByExample" parameterType="map" >-->
<!--    update f_road_dust_source-->
<!--    set road_dustid = #{record.roadDustid,jdbcType=INTEGER},-->
<!--      scccode = #{record.scccode,jdbcType=CHAR},-->
<!--      factoryid = #{record.factoryid,jdbcType=INTEGER},-->
<!--      company_name = #{record.companyName,jdbcType=CHAR},-->
<!--      start_longitude = #{record.startLongitude,jdbcType=DOUBLE},-->
<!--      start_latitude = #{record.startLatitude,jdbcType=DOUBLE},-->
<!--      end_longitude = #{record.endLongitude,jdbcType=DOUBLE},-->
<!--      end_latitude = #{record.endLatitude,jdbcType=DOUBLE},-->
<!--      road_type = #{record.roadType,jdbcType=VARCHAR},-->
<!--      path_length = #{record.pathLength,jdbcType=DOUBLE},-->
<!--      ispave = #{record.ispave,jdbcType=VARCHAR},-->
<!--      aver_width = #{record.averWidth,jdbcType=DOUBLE},-->
<!--      aver_weight = #{record.averWeight,jdbcType=DOUBLE},-->
<!--      car_flow = #{record.carFlow,jdbcType=INTEGER},-->
<!--      aver_speed = #{record.averSpeed,jdbcType=DOUBLE},-->
<!--      clear_time_install = #{record.clearTimeInstall,jdbcType=DOUBLE},-->
<!--      clear_time_uninstall = #{record.clearTimeUninstall,jdbcType=DOUBLE},-->
<!--      sweep_spring = #{record.sweepSpring,jdbcType=DOUBLE},-->
<!--      sweep_summer = #{record.sweepSummer,jdbcType=DOUBLE},-->
<!--      sweep_fall = #{record.sweepFall,jdbcType=DOUBLE},-->
<!--      water_times_spring = #{record.waterTimesSpring,jdbcType=DOUBLE},-->
<!--      water_times_summer = #{record.waterTimesSummer,jdbcType=DOUBLE},-->
<!--      water_times_fall = #{record.waterTimesFall,jdbcType=DOUBLE},-->
<!--      dust_suppression = #{record.dustSuppression,jdbcType=INTEGER},-->
<!--      control_measures = #{record.controlMeasures,jdbcType=VARCHAR},-->
<!--      pm10_factors = #{record.pm10Factors,jdbcType=DOUBLE},-->
<!--      pm25_factors = #{record.pm25Factors,jdbcType=DOUBLE},-->
<!--      pm25_emission = #{record.pm25Emission,jdbcType=DOUBLE},-->
<!--      pm10_emission = #{record.pm10Emission,jdbcType=DOUBLE},-->
<!--      oc_emission = #{record.ocEmission,jdbcType=DOUBLE},-->
<!--      bc_emission = #{record.bcEmission,jdbcType=DOUBLE}-->
<!--    <if test="_parameter != null" >-->
<!--      <include refid="Update_By_Example_Where_Clause" />-->
<!--    </if>-->
<!--  </update>-->
<!--  <update id="updateByPrimaryKey" parameterType="nankai.xl.business.model.FRoadDustSource" >-->
<!--    update f_road_dust_source-->
<!--    set scccode = #{scccode,jdbcType=CHAR},-->
<!--      factoryid = #{factoryid,jdbcType=INTEGER},-->
<!--      company_name = #{companyName,jdbcType=CHAR},-->
<!--      start_longitude = #{startLongitude,jdbcType=DOUBLE},-->
<!--      start_latitude = #{startLatitude,jdbcType=DOUBLE},-->
<!--      end_longitude = #{endLongitude,jdbcType=DOUBLE},-->
<!--      end_latitude = #{endLatitude,jdbcType=DOUBLE},-->
<!--      road_type = #{roadType,jdbcType=VARCHAR},-->
<!--      path_length = #{pathLength,jdbcType=DOUBLE},-->
<!--      ispave = #{ispave,jdbcType=VARCHAR},-->
<!--      aver_width = #{averWidth,jdbcType=DOUBLE},-->
<!--      aver_weight = #{averWeight,jdbcType=DOUBLE},-->
<!--      car_flow = #{carFlow,jdbcType=INTEGER},-->
<!--      aver_speed = #{averSpeed,jdbcType=DOUBLE},-->
<!--      clear_time_install = #{clearTimeInstall,jdbcType=DOUBLE},-->
<!--      clear_time_uninstall = #{clearTimeUninstall,jdbcType=DOUBLE},-->
<!--      sweep_spring = #{sweepSpring,jdbcType=DOUBLE},-->
<!--      sweep_summer = #{sweepSummer,jdbcType=DOUBLE},-->
<!--      sweep_fall = #{sweepFall,jdbcType=DOUBLE},-->
<!--      water_times_spring = #{waterTimesSpring,jdbcType=DOUBLE},-->
<!--      water_times_summer = #{waterTimesSummer,jdbcType=DOUBLE},-->
<!--      water_times_fall = #{waterTimesFall,jdbcType=DOUBLE},-->
<!--      dust_suppression = #{dustSuppression,jdbcType=INTEGER},-->
<!--      control_measures = #{controlMeasures,jdbcType=VARCHAR},-->
<!--      pm10_factors = #{pm10Factors,jdbcType=DOUBLE},-->
<!--      pm25_factors = #{pm25Factors,jdbcType=DOUBLE},-->
<!--      pm25_emission = #{pm25Emission,jdbcType=DOUBLE},-->
<!--      pm10_emission = #{pm10Emission,jdbcType=DOUBLE},-->
<!--      oc_emission = #{ocEmission,jdbcType=DOUBLE},-->
<!--      bc_emission = #{bcEmission,jdbcType=DOUBLE}-->
<!--    where road_dustid = #{roadDustid,jdbcType=INTEGER}-->
<!--  </update>-->
</mapper>