<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nankai.xl.business.mapper.FYardDustSourceMapper" >
  <resultMap id="BaseResultMap" type="nankai.xl.business.model.FYardDustSource" >
    <id column="wind_dustid" property="windDustid" jdbcType="INTEGER" />
    <result column="scccode" property="scccode" jdbcType="CHAR" />
    <result column="scccode1" property="scccode1" jdbcType="CHAR" />
    <result column="factoryid" property="factoryid" jdbcType="INTEGER" />
    <result column="year" property="year" jdbcType="CHAR" />
    <result column="Company_Name" property="companyName" jdbcType="VARCHAR" />
    <result column="longitude1" property="longitude1" jdbcType="DOUBLE" />
    <result column="latitude1" property="latitude1" jdbcType="DOUBLE" />
    <result column="longitude2" property="longitude2" jdbcType="DOUBLE" />
    <result column="latitude2" property="latitude2" jdbcType="DOUBLE" />
    <result column="longitude3" property="longitude3" jdbcType="DOUBLE" />
    <result column="latitude3" property="latitude3" jdbcType="DOUBLE" />
    <result column="longitude4" property="longitude4" jdbcType="DOUBLE" />
    <result column="latitude4" property="latitude4" jdbcType="DOUBLE" />
    <result column="material_type" property="materialType" jdbcType="VARCHAR" />
    <result column="wind_speed" property="windSpeed" jdbcType="DOUBLE" />
    <result column="material_capacity" property="materialCapacity" jdbcType="DOUBLE" />
    <result column="loading_count" property="loadingCount" jdbcType="DOUBLE" />
    <result column="loading_start" property="loadingStart" jdbcType="TIME" />
    <result column="loading_time" property="loadingTime" jdbcType="TIME" />
    <result column="loading_capacity" property="loadingCapacity" jdbcType="DOUBLE" />
    <result column="control_measures" property="controlMeasures" jdbcType="VARCHAR" />
    <result column="moisture_materia" property="moistureMateria" jdbcType="DOUBLE" />
    <result column="pm10_factors" property="pm10Factors" jdbcType="DOUBLE" />
    <result column="pm25_factors" property="pm25Factors" jdbcType="DOUBLE" />
    <result column="oc_factors" property="ocFactors" jdbcType="DOUBLE" />
    <result column="bc_factors" property="bcFactors" jdbcType="DOUBLE" />
    <result column="pm25_emission" property="pm25Emission" jdbcType="DOUBLE" />
    <result column="pm10_emission" property="pm10Emission" jdbcType="DOUBLE" />
    <result column="bc_emission" property="bcEmission" jdbcType="DOUBLE" />
    <result column="oc_emission" property="ocEmission" jdbcType="DOUBLE" />
    <result column="heap_area" property="heapArea" jdbcType="DOUBLE" />
    <result column="heap_covered" property="heapCovered" jdbcType="DOUBLE" />
    <result column="heap_heigh" property="heapHeigh" jdbcType="DOUBLE" />
    <result column="control_measures1" property="controlMeasures1" jdbcType="VARCHAR" />
    <result column="material_type1" property="materialType1" jdbcType="VARCHAR" />
    <result column="pm10_factors1" property="pm10Factors1" jdbcType="DOUBLE" />
    <result column="pm10_emission1" property="pm10Emission1" jdbcType="DOUBLE" />
    <result column="pm25_factors1" property="pm25Factors1" jdbcType="DOUBLE" />
    <result column="pm25_emission1" property="pm25Emission1" jdbcType="DOUBLE" />
    <result column="oc_factors1" property="ocFactors1" jdbcType="DOUBLE" />
    <result column="bc_factors1" property="bcFactors1" jdbcType="DOUBLE" />
    <result column="oc_emission1" property="ocEmission1" jdbcType="DOUBLE" />
    <result column="bc_emission1" property="bcEmission1" jdbcType="DOUBLE" />
    <result column="shenhe_status" property="shenheStatus" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from f_yard_dust_source
    where wind_dustid = #{windDustid,jdbcType=INTEGER}
  </select>
  <select id="selectByFactoryId" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select * from f_yard_dust_source
    where factoryid = #{factoryid,jdbcType=INTEGER}
  </select>
  <update id="updateById" parameterType="nankai.xl.business.model.FYardDustSource" >
    update f_yard_dust_source
    <set >
      <if test="scccode != null" >
        scccode = #{scccode,jdbcType=CHAR},
      </if>
      <if test="scccode1 != null" >
        scccode1 = #{scccode1,jdbcType=CHAR},
      </if>
      <if test="factoryid != null" >
        factoryid = #{factoryid,jdbcType=INTEGER},
      </if>
      <if test="year != null" >
        year = #{year,jdbcType=CHAR},
      </if>
      <if test="companyName != null" >
        Company_Name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="longitude1 != null" >
        longitude1 = #{longitude1,jdbcType=DOUBLE},
      </if>
      <if test="latitude1 != null" >
        latitude1 = #{latitude1,jdbcType=DOUBLE},
      </if>
      <if test="longitude2 != null" >
        longitude2 = #{longitude2,jdbcType=DOUBLE},
      </if>
      <if test="latitude2 != null" >
        latitude2 = #{latitude2,jdbcType=DOUBLE},
      </if>
      <if test="longitude3 != null" >
        longitude3 = #{longitude3,jdbcType=DOUBLE},
      </if>
      <if test="latitude3 != null" >
        latitude3 = #{latitude3,jdbcType=DOUBLE},
      </if>
      <if test="longitude4 != null" >
        longitude4 = #{longitude4,jdbcType=DOUBLE},
      </if>
      <if test="latitude4 != null" >
        latitude4 = #{latitude4,jdbcType=DOUBLE},
      </if>
      <if test="materialType != null" >
        material_type = #{materialType,jdbcType=VARCHAR},
      </if>
      <if test="windSpeed != null" >
        wind_speed = #{windSpeed,jdbcType=DOUBLE},
      </if>
      <if test="materialCapacity != null" >
        material_capacity = #{materialCapacity,jdbcType=DOUBLE},
      </if>
      <if test="loadingCount != null" >
        loading_count = #{loadingCount,jdbcType=DOUBLE},
      </if>
      <if test="loadingStart != null" >
        loading_start = #{loadingStart,jdbcType=TIME},
      </if>
      <if test="loadingTime != null" >
        loading_time = #{loadingTime,jdbcType=TIME},
      </if>
      <if test="loadingCapacity != null" >
        loading_capacity = #{loadingCapacity,jdbcType=DOUBLE},
      </if>
      <if test="controlMeasures != null" >
        control_measures = #{controlMeasures,jdbcType=VARCHAR},
      </if>
      <if test="moistureMateria != null" >
        moisture_materia = #{moistureMateria,jdbcType=DOUBLE},
      </if>
      <if test="pm10Factors != null" >
        pm10_factors = #{pm10Factors,jdbcType=DOUBLE},
      </if>
      <if test="pm25Factors != null" >
        pm25_factors = #{pm25Factors,jdbcType=DOUBLE},
      </if>
      <if test="ocFactors != null" >
        oc_factors = #{ocFactors,jdbcType=DOUBLE},
      </if>
      <if test="bcFactors != null" >
        bc_factors = #{bcFactors,jdbcType=DOUBLE},
      </if>
      <if test="pm25Emission != null" >
        pm25_emission = #{pm25Emission,jdbcType=DOUBLE},
      </if>
      <if test="pm10Emission != null" >
        pm10_emission = #{pm10Emission,jdbcType=DOUBLE},
      </if>
      <if test="bcEmission != null" >
        bc_emission = #{bcEmission,jdbcType=DOUBLE},
      </if>
      <if test="ocEmission != null" >
        oc_emission = #{ocEmission,jdbcType=DOUBLE},
      </if>
      <if test="heapArea != null" >
        heap_area = #{heapArea,jdbcType=DOUBLE},
      </if>
      <if test="heapCovered != null" >
        heap_covered = #{heapCovered,jdbcType=DOUBLE},
      </if>
      <if test="heapHeigh != null" >
        heap_heigh = #{heapHeigh,jdbcType=DOUBLE},
      </if>
      <if test="controlMeasures1 != null" >
        control_measures1 = #{controlMeasures1,jdbcType=VARCHAR},
      </if>
      <if test="materialType1 != null" >
        material_type1 = #{materialType1,jdbcType=VARCHAR},
      </if>
      <if test="pm10Factors1 != null" >
        pm10_factors1 = #{pm10Factors1,jdbcType=DOUBLE},
      </if>
      <if test="pm10Emission1 != null" >
        pm10_emission1 = #{pm10Emission1,jdbcType=DOUBLE},
      </if>
      <if test="pm25Factors1 != null" >
        pm25_factors1 = #{pm25Factors1,jdbcType=DOUBLE},
      </if>
      <if test="pm25Emission1 != null" >
        pm25_emission1 = #{pm25Emission1,jdbcType=DOUBLE},
      </if>
      <if test="ocFactors1 != null" >
        oc_factors1 = #{ocFactors1,jdbcType=DOUBLE},
      </if>
      <if test="bcFactors1 != null" >
        bc_factors1 = #{bcFactors1,jdbcType=DOUBLE},
      </if>
      <if test="ocEmission1 != null" >
        oc_emission1 = #{ocEmission1,jdbcType=DOUBLE},
      </if>
      <if test="bcEmission1 != null" >
        bc_emission1 = #{bcEmission1,jdbcType=DOUBLE},
      </if>
      <if test="shenheStatus != null" >
        shenhe_status = #{shenheStatus,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where wind_dustid = #{windDustid,jdbcType=INTEGER}
  </update>
<!--  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >-->
<!--    delete from f_yard_dust_source-->
<!--    where wind_dustid = #{windDustid,jdbcType=INTEGER}-->
<!--  </delete>-->
<!--  <delete id="deleteByExample" parameterType="nankai.xl.business.model.FYardDustSourceExample" >-->
<!--    delete from f_yard_dust_source-->
<!--    <if test="_parameter != null" >-->
<!--      <include refid="Example_Where_Clause" />-->
<!--    </if>-->
<!--  </delete>-->
<!--  <insert id="insert" parameterType="nankai.xl.business.model.FYardDustSource" >-->
<!--    insert into f_yard_dust_source (wind_dustid, scccode, scccode1, -->
<!--      factoryid, year, Company_Name, -->
<!--      longitude1, latitude1, longitude2, -->
<!--      latitude2, longitude3, latitude3, -->
<!--      longitude4, latitude4, material_type, -->
<!--      wind_speed, material_capacity, loading_count, -->
<!--      loading_start, loading_time, loading_capacity, -->
<!--      control_measures, moisture_materia, pm10_factors, -->
<!--      pm25_factors, oc_factors, bc_factors, -->
<!--      pm25_emission, pm10_emission, bc_emission, -->
<!--      oc_emission, heap_area, heap_covered, -->
<!--      heap_heigh, control_measures1, material_type1, -->
<!--      pm10_factors1, pm10_emission1, pm25_factors1, -->
<!--      pm25_emission1, oc_factors1, bc_factors1, -->
<!--      oc_emission1, bc_emission1, shenhe_status, -->
<!--      note)-->
<!--    values (#{windDustid,jdbcType=INTEGER}, #{scccode,jdbcType=CHAR}, #{scccode1,jdbcType=CHAR}, -->
<!--      #{factoryid,jdbcType=INTEGER}, #{year,jdbcType=CHAR}, #{companyName,jdbcType=VARCHAR}, -->
<!--      #{longitude1,jdbcType=DOUBLE}, #{latitude1,jdbcType=DOUBLE}, #{longitude2,jdbcType=DOUBLE}, -->
<!--      #{latitude2,jdbcType=DOUBLE}, #{longitude3,jdbcType=DOUBLE}, #{latitude3,jdbcType=DOUBLE}, -->
<!--      #{longitude4,jdbcType=DOUBLE}, #{latitude4,jdbcType=DOUBLE}, #{materialType,jdbcType=VARCHAR}, -->
<!--      #{windSpeed,jdbcType=DOUBLE}, #{materialCapacity,jdbcType=DOUBLE}, #{loadingCount,jdbcType=DOUBLE}, -->
<!--      #{loadingStart,jdbcType=TIME}, #{loadingTime,jdbcType=TIME}, #{loadingCapacity,jdbcType=DOUBLE}, -->
<!--      #{controlMeasures,jdbcType=VARCHAR}, #{moistureMateria,jdbcType=DOUBLE}, #{pm10Factors,jdbcType=DOUBLE}, -->
<!--      #{pm25Factors,jdbcType=DOUBLE}, #{ocFactors,jdbcType=DOUBLE}, #{bcFactors,jdbcType=DOUBLE}, -->
<!--      #{pm25Emission,jdbcType=DOUBLE}, #{pm10Emission,jdbcType=DOUBLE}, #{bcEmission,jdbcType=DOUBLE}, -->
<!--      #{ocEmission,jdbcType=DOUBLE}, #{heapArea,jdbcType=DOUBLE}, #{heapCovered,jdbcType=DOUBLE}, -->
<!--      #{heapHeigh,jdbcType=DOUBLE}, #{controlMeasures1,jdbcType=VARCHAR}, #{materialType1,jdbcType=VARCHAR}, -->
<!--      #{pm10Factors1,jdbcType=DOUBLE}, #{pm10Emission1,jdbcType=DOUBLE}, #{pm25Factors1,jdbcType=DOUBLE}, -->
<!--      #{pm25Emission1,jdbcType=DOUBLE}, #{ocFactors1,jdbcType=DOUBLE}, #{bcFactors1,jdbcType=DOUBLE}, -->
<!--      #{ocEmission1,jdbcType=DOUBLE}, #{bcEmission1,jdbcType=DOUBLE}, #{shenheStatus,jdbcType=VARCHAR}, -->
<!--      #{note,jdbcType=VARCHAR})-->
<!--  </insert>-->
<!--  <insert id="insertSelective" parameterType="nankai.xl.business.model.FYardDustSource" >-->
<!--    insert into f_yard_dust_source-->
<!--    <trim prefix="(" suffix=")" suffixOverrides="," >-->
<!--      <if test="windDustid != null" >-->
<!--        wind_dustid,-->
<!--      </if>-->
<!--      <if test="scccode != null" >-->
<!--        scccode,-->
<!--      </if>-->
<!--      <if test="scccode1 != null" >-->
<!--        scccode1,-->
<!--      </if>-->
<!--      <if test="factoryid != null" >-->
<!--        factoryid,-->
<!--      </if>-->
<!--      <if test="year != null" >-->
<!--        year,-->
<!--      </if>-->
<!--      <if test="companyName != null" >-->
<!--        Company_Name,-->
<!--      </if>-->
<!--      <if test="longitude1 != null" >-->
<!--        longitude1,-->
<!--      </if>-->
<!--      <if test="latitude1 != null" >-->
<!--        latitude1,-->
<!--      </if>-->
<!--      <if test="longitude2 != null" >-->
<!--        longitude2,-->
<!--      </if>-->
<!--      <if test="latitude2 != null" >-->
<!--        latitude2,-->
<!--      </if>-->
<!--      <if test="longitude3 != null" >-->
<!--        longitude3,-->
<!--      </if>-->
<!--      <if test="latitude3 != null" >-->
<!--        latitude3,-->
<!--      </if>-->
<!--      <if test="longitude4 != null" >-->
<!--        longitude4,-->
<!--      </if>-->
<!--      <if test="latitude4 != null" >-->
<!--        latitude4,-->
<!--      </if>-->
<!--      <if test="materialType != null" >-->
<!--        material_type,-->
<!--      </if>-->
<!--      <if test="windSpeed != null" >-->
<!--        wind_speed,-->
<!--      </if>-->
<!--      <if test="materialCapacity != null" >-->
<!--        material_capacity,-->
<!--      </if>-->
<!--      <if test="loadingCount != null" >-->
<!--        loading_count,-->
<!--      </if>-->
<!--      <if test="loadingStart != null" >-->
<!--        loading_start,-->
<!--      </if>-->
<!--      <if test="loadingTime != null" >-->
<!--        loading_time,-->
<!--      </if>-->
<!--      <if test="loadingCapacity != null" >-->
<!--        loading_capacity,-->
<!--      </if>-->
<!--      <if test="controlMeasures != null" >-->
<!--        control_measures,-->
<!--      </if>-->
<!--      <if test="moistureMateria != null" >-->
<!--        moisture_materia,-->
<!--      </if>-->
<!--      <if test="pm10Factors != null" >-->
<!--        pm10_factors,-->
<!--      </if>-->
<!--      <if test="pm25Factors != null" >-->
<!--        pm25_factors,-->
<!--      </if>-->
<!--      <if test="ocFactors != null" >-->
<!--        oc_factors,-->
<!--      </if>-->
<!--      <if test="bcFactors != null" >-->
<!--        bc_factors,-->
<!--      </if>-->
<!--      <if test="pm25Emission != null" >-->
<!--        pm25_emission,-->
<!--      </if>-->
<!--      <if test="pm10Emission != null" >-->
<!--        pm10_emission,-->
<!--      </if>-->
<!--      <if test="bcEmission != null" >-->
<!--        bc_emission,-->
<!--      </if>-->
<!--      <if test="ocEmission != null" >-->
<!--        oc_emission,-->
<!--      </if>-->
<!--      <if test="heapArea != null" >-->
<!--        heap_area,-->
<!--      </if>-->
<!--      <if test="heapCovered != null" >-->
<!--        heap_covered,-->
<!--      </if>-->
<!--      <if test="heapHeigh != null" >-->
<!--        heap_heigh,-->
<!--      </if>-->
<!--      <if test="controlMeasures1 != null" >-->
<!--        control_measures1,-->
<!--      </if>-->
<!--      <if test="materialType1 != null" >-->
<!--        material_type1,-->
<!--      </if>-->
<!--      <if test="pm10Factors1 != null" >-->
<!--        pm10_factors1,-->
<!--      </if>-->
<!--      <if test="pm10Emission1 != null" >-->
<!--        pm10_emission1,-->
<!--      </if>-->
<!--      <if test="pm25Factors1 != null" >-->
<!--        pm25_factors1,-->
<!--      </if>-->
<!--      <if test="pm25Emission1 != null" >-->
<!--        pm25_emission1,-->
<!--      </if>-->
<!--      <if test="ocFactors1 != null" >-->
<!--        oc_factors1,-->
<!--      </if>-->
<!--      <if test="bcFactors1 != null" >-->
<!--        bc_factors1,-->
<!--      </if>-->
<!--      <if test="ocEmission1 != null" >-->
<!--        oc_emission1,-->
<!--      </if>-->
<!--      <if test="bcEmission1 != null" >-->
<!--        bc_emission1,-->
<!--      </if>-->
<!--      <if test="shenheStatus != null" >-->
<!--        shenhe_status,-->
<!--      </if>-->
<!--      <if test="note != null" >-->
<!--        note,-->
<!--      </if>-->
<!--    </trim>-->
<!--    <trim prefix="values (" suffix=")" suffixOverrides="," >-->
<!--      <if test="windDustid != null" >-->
<!--        #{windDustid,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="scccode != null" >-->
<!--        #{scccode,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="scccode1 != null" >-->
<!--        #{scccode1,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="factoryid != null" >-->
<!--        #{factoryid,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="year != null" >-->
<!--        #{year,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="companyName != null" >-->
<!--        #{companyName,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="longitude1 != null" >-->
<!--        #{longitude1,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="latitude1 != null" >-->
<!--        #{latitude1,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="longitude2 != null" >-->
<!--        #{longitude2,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="latitude2 != null" >-->
<!--        #{latitude2,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="longitude3 != null" >-->
<!--        #{longitude3,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="latitude3 != null" >-->
<!--        #{latitude3,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="longitude4 != null" >-->
<!--        #{longitude4,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="latitude4 != null" >-->
<!--        #{latitude4,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="materialType != null" >-->
<!--        #{materialType,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="windSpeed != null" >-->
<!--        #{windSpeed,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="materialCapacity != null" >-->
<!--        #{materialCapacity,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="loadingCount != null" >-->
<!--        #{loadingCount,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="loadingStart != null" >-->
<!--        #{loadingStart,jdbcType=TIME},-->
<!--      </if>-->
<!--      <if test="loadingTime != null" >-->
<!--        #{loadingTime,jdbcType=TIME},-->
<!--      </if>-->
<!--      <if test="loadingCapacity != null" >-->
<!--        #{loadingCapacity,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="controlMeasures != null" >-->
<!--        #{controlMeasures,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="moistureMateria != null" >-->
<!--        #{moistureMateria,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="pm10Factors != null" >-->
<!--        #{pm10Factors,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="pm25Factors != null" >-->
<!--        #{pm25Factors,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="ocFactors != null" >-->
<!--        #{ocFactors,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="bcFactors != null" >-->
<!--        #{bcFactors,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="pm25Emission != null" >-->
<!--        #{pm25Emission,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="pm10Emission != null" >-->
<!--        #{pm10Emission,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="bcEmission != null" >-->
<!--        #{bcEmission,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="ocEmission != null" >-->
<!--        #{ocEmission,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="heapArea != null" >-->
<!--        #{heapArea,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="heapCovered != null" >-->
<!--        #{heapCovered,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="heapHeigh != null" >-->
<!--        #{heapHeigh,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="controlMeasures1 != null" >-->
<!--        #{controlMeasures1,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="materialType1 != null" >-->
<!--        #{materialType1,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="pm10Factors1 != null" >-->
<!--        #{pm10Factors1,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="pm10Emission1 != null" >-->
<!--        #{pm10Emission1,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="pm25Factors1 != null" >-->
<!--        #{pm25Factors1,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="pm25Emission1 != null" >-->
<!--        #{pm25Emission1,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="ocFactors1 != null" >-->
<!--        #{ocFactors1,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="bcFactors1 != null" >-->
<!--        #{bcFactors1,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="ocEmission1 != null" >-->
<!--        #{ocEmission1,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="bcEmission1 != null" >-->
<!--        #{bcEmission1,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="shenheStatus != null" >-->
<!--        #{shenheStatus,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="note != null" >-->
<!--        #{note,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--    </trim>-->
<!--  </insert>-->
<!--  <select id="countByExample" parameterType="nankai.xl.business.model.FYardDustSourceExample" resultType="java.lang.Integer" >-->
<!--    select count(*) from f_yard_dust_source-->
<!--    <if test="_parameter != null" >-->
<!--      <include refid="Example_Where_Clause" />-->
<!--    </if>-->
<!--  </select>-->
<!--  <update id="updateByExampleSelective" parameterType="map" >-->
<!--    update f_yard_dust_source-->
<!--    <set >-->
<!--      <if test="record.windDustid != null" >-->
<!--        wind_dustid = #{record.windDustid,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="record.scccode != null" >-->
<!--        scccode = #{record.scccode,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="record.scccode1 != null" >-->
<!--        scccode1 = #{record.scccode1,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="record.factoryid != null" >-->
<!--        factoryid = #{record.factoryid,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="record.year != null" >-->
<!--        year = #{record.year,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="record.companyName != null" >-->
<!--        Company_Name = #{record.companyName,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="record.longitude1 != null" >-->
<!--        longitude1 = #{record.longitude1,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.latitude1 != null" >-->
<!--        latitude1 = #{record.latitude1,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.longitude2 != null" >-->
<!--        longitude2 = #{record.longitude2,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.latitude2 != null" >-->
<!--        latitude2 = #{record.latitude2,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.longitude3 != null" >-->
<!--        longitude3 = #{record.longitude3,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.latitude3 != null" >-->
<!--        latitude3 = #{record.latitude3,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.longitude4 != null" >-->
<!--        longitude4 = #{record.longitude4,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.latitude4 != null" >-->
<!--        latitude4 = #{record.latitude4,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.materialType != null" >-->
<!--        material_type = #{record.materialType,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="record.windSpeed != null" >-->
<!--        wind_speed = #{record.windSpeed,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.materialCapacity != null" >-->
<!--        material_capacity = #{record.materialCapacity,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.loadingCount != null" >-->
<!--        loading_count = #{record.loadingCount,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.loadingStart != null" >-->
<!--        loading_start = #{record.loadingStart,jdbcType=TIME},-->
<!--      </if>-->
<!--      <if test="record.loadingTime != null" >-->
<!--        loading_time = #{record.loadingTime,jdbcType=TIME},-->
<!--      </if>-->
<!--      <if test="record.loadingCapacity != null" >-->
<!--        loading_capacity = #{record.loadingCapacity,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.controlMeasures != null" >-->
<!--        control_measures = #{record.controlMeasures,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="record.moistureMateria != null" >-->
<!--        moisture_materia = #{record.moistureMateria,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.pm10Factors != null" >-->
<!--        pm10_factors = #{record.pm10Factors,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.pm25Factors != null" >-->
<!--        pm25_factors = #{record.pm25Factors,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.ocFactors != null" >-->
<!--        oc_factors = #{record.ocFactors,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.bcFactors != null" >-->
<!--        bc_factors = #{record.bcFactors,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.pm25Emission != null" >-->
<!--        pm25_emission = #{record.pm25Emission,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.pm10Emission != null" >-->
<!--        pm10_emission = #{record.pm10Emission,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.bcEmission != null" >-->
<!--        bc_emission = #{record.bcEmission,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.ocEmission != null" >-->
<!--        oc_emission = #{record.ocEmission,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.heapArea != null" >-->
<!--        heap_area = #{record.heapArea,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.heapCovered != null" >-->
<!--        heap_covered = #{record.heapCovered,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.heapHeigh != null" >-->
<!--        heap_heigh = #{record.heapHeigh,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.controlMeasures1 != null" >-->
<!--        control_measures1 = #{record.controlMeasures1,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="record.materialType1 != null" >-->
<!--        material_type1 = #{record.materialType1,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="record.pm10Factors1 != null" >-->
<!--        pm10_factors1 = #{record.pm10Factors1,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.pm10Emission1 != null" >-->
<!--        pm10_emission1 = #{record.pm10Emission1,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.pm25Factors1 != null" >-->
<!--        pm25_factors1 = #{record.pm25Factors1,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.pm25Emission1 != null" >-->
<!--        pm25_emission1 = #{record.pm25Emission1,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.ocFactors1 != null" >-->
<!--        oc_factors1 = #{record.ocFactors1,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.bcFactors1 != null" >-->
<!--        bc_factors1 = #{record.bcFactors1,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.ocEmission1 != null" >-->
<!--        oc_emission1 = #{record.ocEmission1,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.bcEmission1 != null" >-->
<!--        bc_emission1 = #{record.bcEmission1,jdbcType=DOUBLE},-->
<!--      </if>-->
<!--      <if test="record.shenheStatus != null" >-->
<!--        shenhe_status = #{record.shenheStatus,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="record.note != null" >-->
<!--        note = #{record.note,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--    </set>-->
<!--    <if test="_parameter != null" >-->
<!--      <include refid="Update_By_Example_Where_Clause" />-->
<!--    </if>-->
<!--  </update>-->
<!--  <update id="updateByExample" parameterType="map" >-->
<!--    update f_yard_dust_source-->
<!--    set wind_dustid = #{record.windDustid,jdbcType=INTEGER},-->
<!--      scccode = #{record.scccode,jdbcType=CHAR},-->
<!--      scccode1 = #{record.scccode1,jdbcType=CHAR},-->
<!--      factoryid = #{record.factoryid,jdbcType=INTEGER},-->
<!--      year = #{record.year,jdbcType=CHAR},-->
<!--      Company_Name = #{record.companyName,jdbcType=VARCHAR},-->
<!--      longitude1 = #{record.longitude1,jdbcType=DOUBLE},-->
<!--      latitude1 = #{record.latitude1,jdbcType=DOUBLE},-->
<!--      longitude2 = #{record.longitude2,jdbcType=DOUBLE},-->
<!--      latitude2 = #{record.latitude2,jdbcType=DOUBLE},-->
<!--      longitude3 = #{record.longitude3,jdbcType=DOUBLE},-->
<!--      latitude3 = #{record.latitude3,jdbcType=DOUBLE},-->
<!--      longitude4 = #{record.longitude4,jdbcType=DOUBLE},-->
<!--      latitude4 = #{record.latitude4,jdbcType=DOUBLE},-->
<!--      material_type = #{record.materialType,jdbcType=VARCHAR},-->
<!--      wind_speed = #{record.windSpeed,jdbcType=DOUBLE},-->
<!--      material_capacity = #{record.materialCapacity,jdbcType=DOUBLE},-->
<!--      loading_count = #{record.loadingCount,jdbcType=DOUBLE},-->
<!--      loading_start = #{record.loadingStart,jdbcType=TIME},-->
<!--      loading_time = #{record.loadingTime,jdbcType=TIME},-->
<!--      loading_capacity = #{record.loadingCapacity,jdbcType=DOUBLE},-->
<!--      control_measures = #{record.controlMeasures,jdbcType=VARCHAR},-->
<!--      moisture_materia = #{record.moistureMateria,jdbcType=DOUBLE},-->
<!--      pm10_factors = #{record.pm10Factors,jdbcType=DOUBLE},-->
<!--      pm25_factors = #{record.pm25Factors,jdbcType=DOUBLE},-->
<!--      oc_factors = #{record.ocFactors,jdbcType=DOUBLE},-->
<!--      bc_factors = #{record.bcFactors,jdbcType=DOUBLE},-->
<!--      pm25_emission = #{record.pm25Emission,jdbcType=DOUBLE},-->
<!--      pm10_emission = #{record.pm10Emission,jdbcType=DOUBLE},-->
<!--      bc_emission = #{record.bcEmission,jdbcType=DOUBLE},-->
<!--      oc_emission = #{record.ocEmission,jdbcType=DOUBLE},-->
<!--      heap_area = #{record.heapArea,jdbcType=DOUBLE},-->
<!--      heap_covered = #{record.heapCovered,jdbcType=DOUBLE},-->
<!--      heap_heigh = #{record.heapHeigh,jdbcType=DOUBLE},-->
<!--      control_measures1 = #{record.controlMeasures1,jdbcType=VARCHAR},-->
<!--      material_type1 = #{record.materialType1,jdbcType=VARCHAR},-->
<!--      pm10_factors1 = #{record.pm10Factors1,jdbcType=DOUBLE},-->
<!--      pm10_emission1 = #{record.pm10Emission1,jdbcType=DOUBLE},-->
<!--      pm25_factors1 = #{record.pm25Factors1,jdbcType=DOUBLE},-->
<!--      pm25_emission1 = #{record.pm25Emission1,jdbcType=DOUBLE},-->
<!--      oc_factors1 = #{record.ocFactors1,jdbcType=DOUBLE},-->
<!--      bc_factors1 = #{record.bcFactors1,jdbcType=DOUBLE},-->
<!--      oc_emission1 = #{record.ocEmission1,jdbcType=DOUBLE},-->
<!--      bc_emission1 = #{record.bcEmission1,jdbcType=DOUBLE},-->
<!--      shenhe_status = #{record.shenheStatus,jdbcType=VARCHAR},-->
<!--      note = #{record.note,jdbcType=VARCHAR}-->
<!--    <if test="_parameter != null" >-->
<!--      <include refid="Update_By_Example_Where_Clause" />-->
<!--    </if>-->
<!--  </update>-->
<!--  <update id="updateByPrimaryKey" parameterType="nankai.xl.business.model.FYardDustSource" >-->
<!--    update f_yard_dust_source-->
<!--    set scccode = #{scccode,jdbcType=CHAR},-->
<!--      scccode1 = #{scccode1,jdbcType=CHAR},-->
<!--      factoryid = #{factoryid,jdbcType=INTEGER},-->
<!--      year = #{year,jdbcType=CHAR},-->
<!--      Company_Name = #{companyName,jdbcType=VARCHAR},-->
<!--      longitude1 = #{longitude1,jdbcType=DOUBLE},-->
<!--      latitude1 = #{latitude1,jdbcType=DOUBLE},-->
<!--      longitude2 = #{longitude2,jdbcType=DOUBLE},-->
<!--      latitude2 = #{latitude2,jdbcType=DOUBLE},-->
<!--      longitude3 = #{longitude3,jdbcType=DOUBLE},-->
<!--      latitude3 = #{latitude3,jdbcType=DOUBLE},-->
<!--      longitude4 = #{longitude4,jdbcType=DOUBLE},-->
<!--      latitude4 = #{latitude4,jdbcType=DOUBLE},-->
<!--      material_type = #{materialType,jdbcType=VARCHAR},-->
<!--      wind_speed = #{windSpeed,jdbcType=DOUBLE},-->
<!--      material_capacity = #{materialCapacity,jdbcType=DOUBLE},-->
<!--      loading_count = #{loadingCount,jdbcType=DOUBLE},-->
<!--      loading_start = #{loadingStart,jdbcType=TIME},-->
<!--      loading_time = #{loadingTime,jdbcType=TIME},-->
<!--      loading_capacity = #{loadingCapacity,jdbcType=DOUBLE},-->
<!--      control_measures = #{controlMeasures,jdbcType=VARCHAR},-->
<!--      moisture_materia = #{moistureMateria,jdbcType=DOUBLE},-->
<!--      pm10_factors = #{pm10Factors,jdbcType=DOUBLE},-->
<!--      pm25_factors = #{pm25Factors,jdbcType=DOUBLE},-->
<!--      oc_factors = #{ocFactors,jdbcType=DOUBLE},-->
<!--      bc_factors = #{bcFactors,jdbcType=DOUBLE},-->
<!--      pm25_emission = #{pm25Emission,jdbcType=DOUBLE},-->
<!--      pm10_emission = #{pm10Emission,jdbcType=DOUBLE},-->
<!--      bc_emission = #{bcEmission,jdbcType=DOUBLE},-->
<!--      oc_emission = #{ocEmission,jdbcType=DOUBLE},-->
<!--      heap_area = #{heapArea,jdbcType=DOUBLE},-->
<!--      heap_covered = #{heapCovered,jdbcType=DOUBLE},-->
<!--      heap_heigh = #{heapHeigh,jdbcType=DOUBLE},-->
<!--      control_measures1 = #{controlMeasures1,jdbcType=VARCHAR},-->
<!--      material_type1 = #{materialType1,jdbcType=VARCHAR},-->
<!--      pm10_factors1 = #{pm10Factors1,jdbcType=DOUBLE},-->
<!--      pm10_emission1 = #{pm10Emission1,jdbcType=DOUBLE},-->
<!--      pm25_factors1 = #{pm25Factors1,jdbcType=DOUBLE},-->
<!--      pm25_emission1 = #{pm25Emission1,jdbcType=DOUBLE},-->
<!--      oc_factors1 = #{ocFactors1,jdbcType=DOUBLE},-->
<!--      bc_factors1 = #{bcFactors1,jdbcType=DOUBLE},-->
<!--      oc_emission1 = #{ocEmission1,jdbcType=DOUBLE},-->
<!--      bc_emission1 = #{bcEmission1,jdbcType=DOUBLE},-->
<!--      shenhe_status = #{shenheStatus,jdbcType=VARCHAR},-->
<!--      note = #{note,jdbcType=VARCHAR}-->
<!--    where wind_dustid = #{windDustid,jdbcType=INTEGER}-->
<!--  </update>-->
</mapper>