<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nankai.xl.business.mapper.RepastBarbecueMapper" >
  <resultMap id="BaseResultMap" type="nankai.xl.business.model.RepastBarbecue">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="factoryid" jdbcType="INTEGER" property="factoryid" />
    <result column="year" jdbcType="CHAR" property="year" />
    <result column="scccode" jdbcType="CHAR" property="scccode" />
    <result column="annual_runtime" jdbcType="INTEGER" property="annualRuntime" />
    <result column="day_runntime" jdbcType="DOUBLE" property="dayRunntime" />
    <result column="pm_emission" jdbcType="DOUBLE" property="pmEmission" />
    <result column="pm10_emission" jdbcType="DOUBLE" property="pm10Emission" />
    <result column="pm25_emission" jdbcType="DOUBLE" property="pm25Emission" />
    <result column="so2_emission" jdbcType="DOUBLE" property="so2Emission" />
    <result column="nox_emission" jdbcType="DOUBLE" property="noxEmission" />
    <result column="co_emission" jdbcType="DOUBLE" property="coEmission" />
    <result column="nh3_emission" jdbcType="DOUBLE" property="nh3Emission" />
    <result column="voc_emission" jdbcType="DOUBLE" property="vocEmission" />
    <result column="oc_emission" jdbcType="DOUBLE" property="ocEmission" />
    <result column="bc_emission" jdbcType="DOUBLE" property="bcEmission" />
    <result column="flag" jdbcType="BIT" property="flag" />
    <result column="gas_consumption" jdbcType="DOUBLE" property="gasConsumption" />
    <result column="coal_consumption" jdbcType="DOUBLE" property="coalConsumption" />
    <result column="power_consumption" jdbcType="DOUBLE" property="powerConsumption" />
    <result column="methanol_consumption" jdbcType="DOUBLE" property="methanolConsumption" />
    <result column="other_consumption" jdbcType="DOUBLE" property="otherConsumption" />
    <result column="other_conunit" jdbcType="CHAR" property="otherConunit" />
    <result column="meal_consumption" jdbcType="DOUBLE" property="mealConsumption" />
    <result column="source_discrip" jdbcType="VARCHAR" property="sourceDiscrip" />
  </resultMap>
  <select id="selectByExample" resultType="nankai.xl.business.model.vo.RepastBarbecueVo" parameterType="nankai.xl.business.model.vo.RepastBarbecueVo" >
    SELECT repast_barbecue.*,company.*,co.COUNTY_NAME,co.city_code,co.city_name,SUBSTR(repast_barbecue.scccode,1,2) AS scc1,SUBSTR(repast_barbecue.scccode,3,2) AS scc2,
    SUBSTR(repast_barbecue.scccode,5,3) AS scc3,SUBSTR(repast_barbecue.scccode,8,3) AS scc4
    FROM repast_barbecue
    LEFT JOIN company
    ON repast_barbecue.factoryid=company.com_id
    LEFT JOIN (
      SELECT county.COUNTY_ID,county.COUNTY_NAME,city.city_name,city.city_code
      FROM county
      LEFT JOIN city
      ON county.city_code=city.city_code
    ) co
    ON co.COUNTY_ID=company.county_id
    <where>
      <if test="year != null and year != ''">
        repast_barbecue.year = #{year}
      </if>
      <if test="countyId != null and countyId != ''">
        AND company.county_id = #{countyId}
      </if>
      <if test="cityCode != null and cityCode != ''">
        AND co.city_code = #{cityCode}
      </if>
    </where>
  </select>
  <select id="selectById" resultType="nankai.xl.business.model.vo.RepastBarbecueVo" parameterType="java.lang.Integer" >
    SELECT repast_barbecue.*,company.*,co.COUNTY_NAME,co.city_code,co.city_name,SUBSTR(repast_barbecue.scccode,1,2) AS scc1,SUBSTR(repast_barbecue.scccode,3,2) AS scc2,
    SUBSTR(repast_barbecue.scccode,5,3) AS scc3,SUBSTR(repast_barbecue.scccode,8,3) AS scc4
    FROM repast_barbecue
    LEFT JOIN company
    ON repast_barbecue.factoryid=company.com_id
    LEFT JOIN (
      SELECT county.COUNTY_ID,county.COUNTY_NAME,city.city_name,city.city_code
      FROM county
      LEFT JOIN city
      ON county.city_code=city.city_code
    ) co
    ON co.COUNTY_ID=company.county_id
    where repast_barbecue.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from repast_barbecue
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="nankai.xl.business.model.RepastBarbecue">
    insert into repast_barbecue
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="factoryid != null">
        factoryid,
      </if>
      <if test="year != null">
        year,
      </if>
      <if test="scccode != null">
        scccode,
      </if>
      <if test="annualRuntime != null">
        annual_runtime,
      </if>
      <if test="dayRunntime != null">
        day_runntime,
      </if>
      <if test="pmEmission != null">
        pm_emission,
      </if>
      <if test="pm10Emission != null">
        pm10_emission,
      </if>
      <if test="pm25Emission != null">
        pm25_emission,
      </if>
      <if test="so2Emission != null">
        so2_emission,
      </if>
      <if test="noxEmission != null">
        nox_emission,
      </if>
      <if test="coEmission != null">
        co_emission,
      </if>
      <if test="nh3Emission != null">
        nh3_emission,
      </if>
      <if test="vocEmission != null">
        voc_emission,
      </if>
      <if test="ocEmission != null">
        oc_emission,
      </if>
      <if test="bcEmission != null">
        bc_emission,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="gasConsumption != null">
        gas_consumption,
      </if>
      <if test="coalConsumption != null">
        coal_consumption,
      </if>
      <if test="powerConsumption != null">
        power_consumption,
      </if>
      <if test="methanolConsumption != null">
        methanol_consumption,
      </if>
      <if test="otherConsumption != null">
        other_consumption,
      </if>
      <if test="otherConunit != null">
        other_conunit,
      </if>
      <if test="mealConsumption != null">
        meal_consumption,
      </if>
      <if test="sourceDiscrip != null">
        source_discrip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="factoryid != null">
        #{factoryid,jdbcType=INTEGER},
      </if>
      <if test="year != null">
        #{year,jdbcType=CHAR},
      </if>
      <if test="scccode != null">
        #{scccode,jdbcType=CHAR},
      </if>
      <if test="annualRuntime != null">
        #{annualRuntime,jdbcType=INTEGER},
      </if>
      <if test="dayRunntime != null">
        #{dayRunntime,jdbcType=DOUBLE},
      </if>
      <if test="pmEmission != null">
        #{pmEmission,jdbcType=DOUBLE},
      </if>
      <if test="pm10Emission != null">
        #{pm10Emission,jdbcType=DOUBLE},
      </if>
      <if test="pm25Emission != null">
        #{pm25Emission,jdbcType=DOUBLE},
      </if>
      <if test="so2Emission != null">
        #{so2Emission,jdbcType=DOUBLE},
      </if>
      <if test="noxEmission != null">
        #{noxEmission,jdbcType=DOUBLE},
      </if>
      <if test="coEmission != null">
        #{coEmission,jdbcType=DOUBLE},
      </if>
      <if test="nh3Emission != null">
        #{nh3Emission,jdbcType=DOUBLE},
      </if>
      <if test="vocEmission != null">
        #{vocEmission,jdbcType=DOUBLE},
      </if>
      <if test="ocEmission != null">
        #{ocEmission,jdbcType=DOUBLE},
      </if>
      <if test="bcEmission != null">
        #{bcEmission,jdbcType=DOUBLE},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=BIT},
      </if>
      <if test="gasConsumption != null">
        #{gasConsumption,jdbcType=DOUBLE},
      </if>
      <if test="coalConsumption != null">
        #{coalConsumption,jdbcType=DOUBLE},
      </if>
      <if test="powerConsumption != null">
        #{powerConsumption,jdbcType=DOUBLE},
      </if>
      <if test="methanolConsumption != null">
        #{methanolConsumption,jdbcType=DOUBLE},
      </if>
      <if test="otherConsumption != null">
        #{otherConsumption,jdbcType=DOUBLE},
      </if>
      <if test="otherConunit != null">
        #{otherConunit,jdbcType=CHAR},
      </if>
      <if test="mealConsumption != null">
        #{mealConsumption,jdbcType=DOUBLE},
      </if>
      <if test="sourceDiscrip != null">
        #{sourceDiscrip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="insertOrUpdate" parameterType="nankai.xl.business.model.RepastBarbecue" >
    insert into repast_barbecue (id, factoryid, year, 
      scccode, annual_runtime, day_runntime, 
      pm_emission, pm10_emission, pm25_emission,
      so2_emission, nox_emission, co_emission,
      nh3_emission, voc_emission, oc_emission,
      bc_emission, flag, gas_consumption,
      coal_consumption, power_consumption, methanol_consumption, 
      other_consumption, other_conunit, meal_consumption, 
      source_discrip)
    values (#{id,jdbcType=INTEGER}, #{factoryid,jdbcType=INTEGER}, #{year,jdbcType=CHAR},
      #{scccode,jdbcType=CHAR}, #{annualRuntime,jdbcType=INTEGER}, #{dayRunntime,jdbcType=DOUBLE}, 
      #{pmEmission,jdbcType=DOUBLE}, #{pm10Emission,jdbcType=DOUBLE}, #{pm25Emission,jdbcType=DOUBLE},
      #{so2Emission,jdbcType=DOUBLE}, #{noxEmission,jdbcType=DOUBLE}, #{coEmission,jdbcType=DOUBLE},
      #{nh3Emission,jdbcType=DOUBLE}, #{vocEmission,jdbcType=DOUBLE}, #{ocEmission,jdbcType=DOUBLE},
      #{bcEmission,jdbcType=DOUBLE}, #{flag,jdbcType=BIT}, #{gasConsumption,jdbcType=DOUBLE},
      #{coalConsumption,jdbcType=DOUBLE}, #{powerConsumption,jdbcType=DOUBLE}, #{methanolConsumption,jdbcType=DOUBLE}, 
      #{otherConsumption,jdbcType=DOUBLE}, #{otherConunit,jdbcType=CHAR}, #{mealConsumption,jdbcType=DOUBLE}, 
      #{sourceDiscrip,jdbcType=VARCHAR})
    ON DUPLICATE KEY UPDATE
      id = #{id,jdbcType=INTEGER},
      factoryid = #{factoryid,jdbcType=INTEGER},
      year = #{year,jdbcType=CHAR},
      scccode = #{scccode,jdbcType=CHAR},
      annual_runtime = #{annualRuntime,jdbcType=INTEGER},
      day_runntime = #{dayRunntime,jdbcType=DOUBLE},
      pm_emission = #{pmEmission,jdbcType=DOUBLE},
      pm10_emission = #{pm10Emission,jdbcType=DOUBLE},
      pm25_emission = #{pm25Emission,jdbcType=DOUBLE},
      so2_emission = #{so2Emission,jdbcType=DOUBLE},
      nox_emission = #{noxEmission,jdbcType=DOUBLE},
      co_emission = #{coEmission,jdbcType=DOUBLE},
      nh3_emission = #{nh3Emission,jdbcType=DOUBLE},
      voc_emission = #{vocEmission,jdbcType=DOUBLE},
      oc_emission = #{ocEmission,jdbcType=DOUBLE},
      bc_emission = #{bcEmission,jdbcType=DOUBLE},
      flag = #{flag,jdbcType=BIT},
      gas_consumption = #{gasConsumption,jdbcType=DOUBLE},
      coal_consumption = #{coalConsumption,jdbcType=DOUBLE},
      power_consumption = #{powerConsumption,jdbcType=DOUBLE},
      methanol_consumption = #{methanolConsumption,jdbcType=DOUBLE},
      other_consumption = #{otherConsumption,jdbcType=DOUBLE},
      other_conunit = #{otherConunit,jdbcType=CHAR},
      meal_consumption = #{mealConsumption,jdbcType=DOUBLE},
      source_discrip = #{sourceDiscrip,jdbcType=VARCHAR}
  </insert>
  <insert id="insertList" parameterType="java.util.List">
    INSERT INTO repast_barbecue (id, factoryid, year,
    scccode, annual_runtime, day_runntime,
    pm_emission, pm10_emission, pm25_emission,
    so2_emission, nox_emission, co_emission,
    nh3_emission, voc_emission, oc_emission,
    bc_emission, flag, gas_consumption,
    coal_consumption, power_consumption, methanol_consumption,
    other_consumption, other_conunit, meal_consumption,
    source_discrip)
    VALUES
    <foreach collection="list"  index="index" item="item" separator=",">
      (
      #{item.id,jdbcType=INTEGER},#{item.factoryid,jdbcType=INTEGER},#{item.year,jdbcType=CHAR},
      #{item.scccode,jdbcType=CHAR},#{item.annualRuntime,jdbcType=INTEGER},#{item.dayRunntime,jdbcType=DOUBLE},
      #{item.pmEmission,jdbcType=DOUBLE},#{item.pm10Emission,jdbcType=DOUBLE},#{item.pm25Emission,jdbcType=DOUBLE},
      #{item.so2Emission,jdbcType=DOUBLE},#{item.noxEmission,jdbcType=DOUBLE},#{item.coEmission,jdbcType=DOUBLE},
      #{item.nh3Emission,jdbcType=DOUBLE},#{item.vocEmission,jdbcType=DOUBLE},#{item.ocEmission,jdbcType=DOUBLE},
      #{item.bcEmission,jdbcType=DOUBLE},#{item.flag,jdbcType=BIT},#{item.gasConsumption,jdbcType=DOUBLE},
      #{item.coalConsumption,jdbcType=DOUBLE},#{item.powerConsumption,jdbcType=DOUBLE},#{item.methanolConsumption,jdbcType=DOUBLE},
      #{item.otherConsumption,jdbcType=DOUBLE},#{item.otherConunit,jdbcType=CHAR},#{item.mealConsumption,jdbcType=DOUBLE},
      #{item.sourceDiscrip,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>
  <update id="updateById" parameterType="nankai.xl.business.model.RepastBarbecue" >
    update repast_barbecue
    <set>
      <if test="factoryid != null">
        factoryid = #{factoryid,jdbcType=INTEGER},
      </if>
      <if test="year != null">
        year = #{year,jdbcType=CHAR},
      </if>
      <if test="scccode != null">
        scccode = #{scccode,jdbcType=CHAR},
      </if>
      <if test="annualRuntime != null">
        annual_runtime = #{annualRuntime,jdbcType=INTEGER},
      </if>
      <if test="dayRunntime != null">
        day_runntime = #{dayRunntime,jdbcType=DOUBLE},
      </if>
      <if test="pmEmission != null">
        pm_emission = #{pmEmission,jdbcType=DOUBLE},
      </if>
      <if test="pm10Emission != null">
        pm10_emission = #{pm10Emission,jdbcType=DOUBLE},
      </if>
      <if test="pm25Emission != null">
        pm25_emission = #{pm25Emission,jdbcType=DOUBLE},
      </if>
      <if test="so2Emission != null">
        so2_emission = #{so2Emission,jdbcType=DOUBLE},
      </if>
      <if test="noxEmission != null">
        nox_emission = #{noxEmission,jdbcType=DOUBLE},
      </if>
      <if test="coEmission != null">
        co_emission = #{coEmission,jdbcType=DOUBLE},
      </if>
      <if test="nh3Emission != null">
        nh3_emission = #{nh3Emission,jdbcType=DOUBLE},
      </if>
      <if test="vocEmission != null">
        voc_emission = #{vocEmission,jdbcType=DOUBLE},
      </if>
      <if test="ocEmission != null">
        oc_emission = #{ocEmission,jdbcType=DOUBLE},
      </if>
      <if test="bcEmission != null">
        bc_emission = #{bcEmission,jdbcType=DOUBLE},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=BIT},
      </if>
      <if test="gasConsumption != null">
        gas_consumption = #{gasConsumption,jdbcType=DOUBLE},
      </if>
      <if test="coalConsumption != null">
        coal_consumption = #{coalConsumption,jdbcType=DOUBLE},
      </if>
      <if test="powerConsumption != null">
        power_consumption = #{powerConsumption,jdbcType=DOUBLE},
      </if>
      <if test="methanolConsumption != null">
        methanol_consumption = #{methanolConsumption,jdbcType=DOUBLE},
      </if>
      <if test="otherConsumption != null">
        other_consumption = #{otherConsumption,jdbcType=DOUBLE},
      </if>
      <if test="otherConunit != null">
        other_conunit = #{otherConunit,jdbcType=CHAR},
      </if>
      <if test="mealConsumption != null">
        meal_consumption = #{mealConsumption,jdbcType=DOUBLE},
      </if>
      <if test="sourceDiscrip != null">
        source_discrip = #{sourceDiscrip,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>