<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nankai.xl.business.mapper.RoadPaveMapper" >
  <resultMap id="BaseResultMap" type="nankai.xl.business.model.vo.RoadPaveVo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="year" property="year" jdbcType="CHAR" />
    <result column="county_id" property="countyId" jdbcType="CHAR" />
    <result column="asphalt" property="asphalt" jdbcType="DOUBLE" />
    <result column="scccode" property="scccode" jdbcType="CHAR" />
    <result column="pm10_emission" property="pm10Emission" jdbcType="DOUBLE" />
    <result column="pm25_emission" property="pm25Emission" jdbcType="DOUBLE" />
    <result column="voc_emission" property="vocEmission" jdbcType="DOUBLE" />
    <result column="nh3_emission" property="nh3Emission" jdbcType="DOUBLE" />
    <result column="so2_emission" property="so2Emission" jdbcType="DOUBLE" />
    <result column="co_emission" property="coEmission" jdbcType="DOUBLE" />
    <result column="oc_emission" property="ocEmission" jdbcType="DOUBLE" />
    <result column="bc_emission" property="bcEmission" jdbcType="DOUBLE" />
    <result column="nox_emission" property="noxEmission" jdbcType="DOUBLE" />
    <result column="flagd" property="flagd" jdbcType="TINYINT" />
    <result column="source_descrip" property="sourceDescrip" jdbcType="VARCHAR" />
    <result column="COUNTY_NAME" property="countyName" jdbcType="CHAR" />
  </resultMap>
  <select id="selectByExample" resultType="nankai.xl.business.model.vo.RoadPaveVo" parameterType="nankai.xl.business.model.vo.RoadPaveVo" >
    SELECT rj_road_pave.*,co.COUNTY_NAME,co.city_code,co.city_name,SUBSTR(rj_road_pave.scccode,1,2) AS scc1,SUBSTR(rj_road_pave.scccode,3,2) AS scc2,
    SUBSTR(rj_road_pave.scccode,5,3) AS scc3,SUBSTR(rj_road_pave.scccode,8,3) AS scc4
    FROM rj_road_pave
    LEFT JOIN (
      SELECT county.COUNTY_ID,county.COUNTY_NAME,city.city_name,city.city_code
      FROM county
      LEFT JOIN city
      ON county.city_code=city.city_code
    ) co
    ON co.COUNTY_ID=rj_road_pave.county_id
    <where>
      <if test="year != null and year != ''">
        rj_road_pave.year = #{year}
      </if>
      <if test="countyId != null and countyId != ''">
        AND rj_road_pave.county_id = #{countyId}
      </if>
      <if test="cityCode != null and cityCode != ''">
        AND co.city_code = #{cityCode}
      </if>
    </where>
  </select>
  <select id="selectById" resultType="nankai.xl.business.model.vo.RoadPaveVo" parameterType="java.lang.Integer" >
    SELECT rj_road_pave.*,co.COUNTY_NAME,co.city_code,co.city_name,SUBSTR(rj_road_pave.scccode,1,2) AS scc1,SUBSTR(rj_road_pave.scccode,3,2) AS scc2,
				SUBSTR(rj_road_pave.scccode,5,3) AS scc3,SUBSTR(rj_road_pave.scccode,8,3) AS scc4
    FROM rj_road_pave
    LEFT JOIN (
      SELECT county.COUNTY_ID,county.COUNTY_NAME,city.city_name,city.city_code
      FROM county
      LEFT JOIN city
      ON county.city_code=city.city_code
    ) co
    ON co.COUNTY_ID=rj_road_pave.county_id
    where rj_road_pave.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from rj_road_pave
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="nankai.xl.business.model.RoadPave" >
    insert into rj_road_pave
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="countyId != null" >
        county_id,
      </if>
      <if test="asphalt != null" >
        asphalt,
      </if>
      <if test="scccode != null" >
        scccode,
      </if>
      <if test="pm10Emission != null" >
        pm10_emission,
      </if>
      <if test="pm25Emission != null" >
        pm25_emission,
      </if>
      <if test="vocEmission != null" >
        voc_emission,
      </if>
      <if test="nh3Emission != null" >
        nh3_emission,
      </if>
      <if test="so2Emission != null" >
        so2_emission,
      </if>
      <if test="coEmission != null" >
        co_emission,
      </if>
      <if test="ocEmission != null" >
        oc_emission,
      </if>
      <if test="bcEmission != null" >
        bc_emission,
      </if>
      <if test="noxEmission != null" >
        nox_emission,
      </if>
      <if test="flagd != null" >
        flagd,
      </if>
      <if test="sourceDescrip != null" >
        source_descrip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="year != null" >
        #{year,jdbcType=CHAR},
      </if>
      <if test="countyId != null" >
        #{countyId,jdbcType=CHAR},
      </if>
      <if test="asphalt != null" >
        #{asphalt,jdbcType=DOUBLE},
      </if>
      <if test="scccode != null" >
        #{scccode,jdbcType=CHAR},
      </if>
      <if test="pm10Emission != null" >
        #{pm10Emission,jdbcType=DOUBLE},
      </if>
      <if test="pm25Emission != null" >
        #{pm25Emission,jdbcType=DOUBLE},
      </if>
      <if test="vocEmission != null" >
        #{vocEmission,jdbcType=DOUBLE},
      </if>
      <if test="nh3Emission != null" >
        #{nh3Emission,jdbcType=DOUBLE},
      </if>
      <if test="so2Emission != null" >
        #{so2Emission,jdbcType=DOUBLE},
      </if>
      <if test="coEmission != null" >
        #{coEmission,jdbcType=DOUBLE},
      </if>
      <if test="ocEmission != null" >
        #{ocEmission,jdbcType=DOUBLE},
      </if>
      <if test="bcEmission != null" >
        #{bcEmission,jdbcType=DOUBLE},
      </if>
      <if test="noxEmission != null" >
        #{noxEmission,jdbcType=DOUBLE},
      </if>
      <if test="flagd != null" >
        #{flagd,jdbcType=TINYINT},
      </if>
      <if test="sourceDescrip != null" >
        #{sourceDescrip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="insertOrUpdate" parameterType="nankai.xl.business.model.RoadPave" >
    insert into rj_road_pave (id, year, county_id, 
      asphalt, scccode, pm10_emission, 
      pm25_emission, voc_emission, nh3_emission, 
      so2_emission, co_emission, oc_emission, 
      bc_emission, nox_emission, flagd, 
      source_descrip)
    values (#{id,jdbcType=INTEGER}, #{year,jdbcType=CHAR}, #{countyId,jdbcType=CHAR}, 
      #{asphalt,jdbcType=DOUBLE}, #{scccode,jdbcType=CHAR}, #{pm10Emission,jdbcType=DOUBLE}, 
      #{pm25Emission,jdbcType=DOUBLE}, #{vocEmission,jdbcType=DOUBLE}, #{nh3Emission,jdbcType=DOUBLE}, 
      #{so2Emission,jdbcType=DOUBLE}, #{coEmission,jdbcType=DOUBLE}, #{ocEmission,jdbcType=DOUBLE}, 
      #{bcEmission,jdbcType=DOUBLE}, #{noxEmission,jdbcType=DOUBLE}, #{flagd,jdbcType=TINYINT}, 
      #{sourceDescrip,jdbcType=VARCHAR})
    ON DUPLICATE KEY UPDATE
      id = #{item.id,jdbcType=INTEGER},
      year = #{item.year,jdbcType=CHAR},
      county_id = #{item.countyId,jdbcType=CHAR},
      asphalt = #{item.asphalt,jdbcType=DOUBLE},
      scccode = #{item.scccode,jdbcType=CHAR},
      pm10_emission = #{item.pm10Emission,jdbcType=DOUBLE},
      pm25_emission = #{item.pm25Emission,jdbcType=DOUBLE},
      voc_emission = #{item.vocEmission,jdbcType=DOUBLE},
      nh3_emission = #{item.nh3Emission,jdbcType=DOUBLE},
      so2_emission = #{item.so2Emission,jdbcType=DOUBLE},
      co_emission = #{item.coEmission,jdbcType=DOUBLE},
      oc_emission = #{item.ocEmission,jdbcType=DOUBLE},
      bc_emission = #{item.bcEmission,jdbcType=DOUBLE},
      nox_emission = #{item.noxEmission,jdbcType=DOUBLE},
      flagd = #{item.flagd,jdbcType=TINYINT},
      source_descrip = #{item.sourceDescrip,jdbcType=VARCHAR}
  </insert>
  <insert id="insertList" parameterType="java.util.List">
    INSERT INTO rj_road_pave (id, year, county_id,
    asphalt, scccode, pm10_emission,
    pm25_emission, voc_emission, nh3_emission,
    so2_emission, co_emission, oc_emission,
    bc_emission, nox_emission, flagd,
    source_descrip)
    VALUES
    <foreach collection="list"  index="index" item="item" separator=",">
      (
      id = #{item.id,jdbcType=INTEGER},
      year = #{item.year,jdbcType=CHAR},
      county_id = #{item.countyId,jdbcType=CHAR},
      asphalt = #{item.asphalt,jdbcType=DOUBLE},
      scccode = #{item.scccode,jdbcType=CHAR},
      pm10_emission = #{item.pm10Emission,jdbcType=DOUBLE},
      pm25_emission = #{item.pm25Emission,jdbcType=DOUBLE},
      voc_emission = #{item.vocEmission,jdbcType=DOUBLE},
      nh3_emission = #{item.nh3Emission,jdbcType=DOUBLE},
      so2_emission = #{item.so2Emission,jdbcType=DOUBLE},
      co_emission = #{item.coEmission,jdbcType=DOUBLE},
      oc_emission = #{item.ocEmission,jdbcType=DOUBLE},
      bc_emission = #{item.bcEmission,jdbcType=DOUBLE},
      nox_emission = #{item.noxEmission,jdbcType=DOUBLE},
      flagd = #{item.flagd,jdbcType=TINYINT},
      source_descrip = #{item.sourceDescrip,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>
  <update id="updateById" parameterType="nankai.xl.business.model.RoadPave" >
    update rj_road_pave
    <set >
      <if test="year != null" >
        year = #{year,jdbcType=CHAR},
      </if>
      <if test="countyId != null" >
        county_id = #{countyId,jdbcType=CHAR},
      </if>
      <if test="asphalt != null" >
        asphalt = #{asphalt,jdbcType=DOUBLE},
      </if>
      <if test="scccode != null" >
        scccode = #{scccode,jdbcType=CHAR},
      </if>
      <if test="pm10Emission != null" >
        pm10_emission = #{pm10Emission,jdbcType=DOUBLE},
      </if>
      <if test="pm25Emission != null" >
        pm25_emission = #{pm25Emission,jdbcType=DOUBLE},
      </if>
      <if test="vocEmission != null" >
        voc_emission = #{vocEmission,jdbcType=DOUBLE},
      </if>
      <if test="nh3Emission != null" >
        nh3_emission = #{nh3Emission,jdbcType=DOUBLE},
      </if>
      <if test="so2Emission != null" >
        so2_emission = #{so2Emission,jdbcType=DOUBLE},
      </if>
      <if test="coEmission != null" >
        co_emission = #{coEmission,jdbcType=DOUBLE},
      </if>
      <if test="ocEmission != null" >
        oc_emission = #{ocEmission,jdbcType=DOUBLE},
      </if>
      <if test="bcEmission != null" >
        bc_emission = #{bcEmission,jdbcType=DOUBLE},
      </if>
      <if test="noxEmission != null" >
        nox_emission = #{noxEmission,jdbcType=DOUBLE},
      </if>
      <if test="flagd != null" >
        flagd = #{flagd,jdbcType=TINYINT},
      </if>
      <if test="sourceDescrip != null" >
        source_descrip = #{sourceDescrip,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>