<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nankai.xl.business.mapper.RongjiRawMapper" >
  <resultMap id="BaseResultMap" type="nankai.xl.business.model.RongjiRaw">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nk_no" jdbcType="INTEGER" property="nkNo" />
    <result column="factory_id" jdbcType="INTEGER" property="factoryId" />
    <result column="mname" jdbcType="VARCHAR" property="mname" />
    <result column="musage" jdbcType="DOUBLE" property="musage" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="scc2" jdbcType="CHAR" property="scc2" />
    <result column="scc3" jdbcType="CHAR" property="scc3" />
    <result column="scc4" jdbcType="CHAR" property="scc4" />
    <result column="scc_code" jdbcType="CHAR" property="sccCode" />
    <result column="pm10" jdbcType="DOUBLE" property="pm10" />
    <result column="pm25" jdbcType="DOUBLE" property="pm25" />
    <result column="nox" jdbcType="DOUBLE" property="nox" />
    <result column="co" jdbcType="DOUBLE" property="co" />
    <result column="pm" jdbcType="DOUBLE" property="pm" />
    <result column="so2" jdbcType="DOUBLE" property="so2" />
    <result column="voc" jdbcType="DOUBLE" property="voc" />
    <result column="nh3" jdbcType="DOUBLE" property="nh3" />
    <result column="oc" jdbcType="DOUBLE" property="oc" />
    <result column="bc" jdbcType="DOUBLE" property="bc" />
    <result column="gas_no" jdbcType="INTEGER" property="gasNo" />
    <result column="gas_pre" jdbcType="DOUBLE" property="gasPre" />
    <result column="gas_vocs" jdbcType="DOUBLE" property="gasVocs" />
    <result column="treat_no" jdbcType="INTEGER" property="treatNo" />
    <result column="treat_pre" jdbcType="DOUBLE" property="treatPre" />
    <result column="Jan_useamount" jdbcType="DOUBLE" property="janUseamount" />
    <result column="Feb_useamount" jdbcType="DOUBLE" property="febUseamount" />
    <result column="Mar_useamount" jdbcType="DOUBLE" property="marUseamount" />
    <result column="Apr_useamount" jdbcType="DOUBLE" property="aprUseamount" />
    <result column="May_useamount" jdbcType="DOUBLE" property="mayUseamount" />
    <result column="June_useamount" jdbcType="DOUBLE" property="juneUseamount" />
    <result column="July_useamount" jdbcType="DOUBLE" property="julyUseamount" />
    <result column="aug_useamount" jdbcType="DOUBLE" property="augUseamount" />
    <result column="sept_useamount" jdbcType="DOUBLE" property="septUseamount" />
    <result column="oct_use_amount" jdbcType="DOUBLE" property="octUseAmount" />
    <result column="nov_useamount" jdbcType="DOUBLE" property="novUseamount" />
    <result column="dec_useamount" jdbcType="DOUBLE" property="decUseamount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, nk_no, factory_id, mname, musage, unit, scc2, scc3, scc4, scc_code, pm10, pm25,
    nox, co, pm, so2, voc, nh3, oc, bc, gas_no, gas_pre, gas_vocs, treat_no, treat_pre,
    Jan_useamount, Feb_useamount, Mar_useamount, Apr_useamount, May_useamount, June_useamount,
    July_useamount, aug_useamount, sept_useamount, oct_use_amount, nov_useamount, dec_useamount
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from rongji_raw
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByFactoryId" resultType="nankai.xl.business.model.RongjiRaw" parameterType="java.lang.Integer" >
    SELECT rongji_raw.id,rongji_raw.nk_no FROM rongji_raw
    WHERE factory_id= #{factoryId,jdbcType=INTEGER}
  </select>
  <update id="updateById" parameterType="nankai.xl.business.model.RongjiRaw" >
    update rongji_raw
    <set>
      <if test="nkNo != null">
        nk_no = #{nkNo,jdbcType=INTEGER},
      </if>
      <if test="factoryId != null">
        factory_id = #{factoryId,jdbcType=INTEGER},
      </if>
      <if test="mname != null">
        mname = #{mname,jdbcType=VARCHAR},
      </if>
      <if test="musage != null">
        musage = #{musage,jdbcType=DOUBLE},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="scc2 != null">
        scc2 = #{scc2,jdbcType=CHAR},
      </if>
      <if test="scc3 != null">
        scc3 = #{scc3,jdbcType=CHAR},
      </if>
      <if test="scc4 != null">
        scc4 = #{scc4,jdbcType=CHAR},
      </if>
      <if test="sccCode != null">
        scc_code = #{sccCode,jdbcType=CHAR},
      </if>
      <if test="pm10 != null">
        pm10 = #{pm10,jdbcType=DOUBLE},
      </if>
      <if test="pm25 != null">
        pm25 = #{pm25,jdbcType=DOUBLE},
      </if>
      <if test="nox != null">
        nox = #{nox,jdbcType=DOUBLE},
      </if>
      <if test="co != null">
        co = #{co,jdbcType=DOUBLE},
      </if>
      <if test="pm != null">
        pm = #{pm,jdbcType=DOUBLE},
      </if>
      <if test="so2 != null">
        so2 = #{so2,jdbcType=DOUBLE},
      </if>
      <if test="voc != null">
        voc = #{voc,jdbcType=DOUBLE},
      </if>
      <if test="nh3 != null">
        nh3 = #{nh3,jdbcType=DOUBLE},
      </if>
      <if test="oc != null">
        oc = #{oc,jdbcType=DOUBLE},
      </if>
      <if test="bc != null">
        bc = #{bc,jdbcType=DOUBLE},
      </if>
      <if test="gasNo != null">
        gas_no = #{gasNo,jdbcType=INTEGER},
      </if>
      <if test="gasPre != null">
        gas_pre = #{gasPre,jdbcType=DOUBLE},
      </if>
      <if test="gasVocs != null">
        gas_vocs = #{gasVocs,jdbcType=DOUBLE},
      </if>
      <if test="treatNo != null">
        treat_no = #{treatNo,jdbcType=INTEGER},
      </if>
      <if test="treatPre != null">
        treat_pre = #{treatPre,jdbcType=DOUBLE},
      </if>
      <if test="janUseamount != null">
        Jan_useamount = #{janUseamount,jdbcType=DOUBLE},
      </if>
      <if test="febUseamount != null">
        Feb_useamount = #{febUseamount,jdbcType=DOUBLE},
      </if>
      <if test="marUseamount != null">
        Mar_useamount = #{marUseamount,jdbcType=DOUBLE},
      </if>
      <if test="aprUseamount != null">
        Apr_useamount = #{aprUseamount,jdbcType=DOUBLE},
      </if>
      <if test="mayUseamount != null">
        May_useamount = #{mayUseamount,jdbcType=DOUBLE},
      </if>
      <if test="juneUseamount != null">
        June_useamount = #{juneUseamount,jdbcType=DOUBLE},
      </if>
      <if test="julyUseamount != null">
        July_useamount = #{julyUseamount,jdbcType=DOUBLE},
      </if>
      <if test="augUseamount != null">
        aug_useamount = #{augUseamount,jdbcType=DOUBLE},
      </if>
      <if test="septUseamount != null">
        sept_useamount = #{septUseamount,jdbcType=DOUBLE},
      </if>
      <if test="octUseAmount != null">
        oct_use_amount = #{octUseAmount,jdbcType=DOUBLE},
      </if>
      <if test="novUseamount != null">
        nov_useamount = #{novUseamount,jdbcType=DOUBLE},
      </if>
      <if test="decUseamount != null">
        dec_useamount = #{decUseamount,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>