<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nankai.xl.business.mapper.ScatteredCoalMapper" >
  <resultMap id="BaseResultMap" type="nankai.xl.business.model.ScatteredCoal" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="scc_code" property="sccCode" jdbcType="CHAR" />
    <result column="year" property="year" jdbcType="CHAR" />
    <result column="county_id" property="countyId" jdbcType="CHAR" />
    <result column="activity_level" property="activityLevel" jdbcType="CHAR" />
    <result column="fuel_metering_unit" property="fuelMeteringUnit" jdbcType="CHAR" />
    <result column="activity_level_num" property="activityLevelNum" jdbcType="DOUBLE" />
    <result column="control_measure" property="controlMeasure" jdbcType="CHAR" />
    <result column="sulfur_content" property="sulfurContent" jdbcType="DOUBLE" />
    <result column="ash_content" property="ashContent" jdbcType="DOUBLE" />
    <result column="pm25_emission" property="pm25Emission" jdbcType="DOUBLE" />
    <result column="pm10_emission" property="pm10Emission" jdbcType="DOUBLE" />
    <result column="co_emission" property="coEmission" jdbcType="DOUBLE" />
    <result column="voc_emission" property="vocEmission" jdbcType="DOUBLE" />
    <result column="so2_emission" property="so2Emission" jdbcType="DOUBLE" />
    <result column="nox_emission" property="noxEmission" jdbcType="DOUBLE" />
    <result column="nh3_emission" property="nh3Emission" jdbcType="DOUBLE" />
    <result column="oc_emission" property="ocEmission" jdbcType="DOUBLE" />
    <result column="bc_emission" property="bcEmission" jdbcType="DOUBLE" />
    <result column="source_description" property="sourceDescription" jdbcType="CHAR" />
    <result column="COUNTY_NAME" property="countyName" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, scc_code, year, county_id, activity_level, fuel_metering_unit, activity_level_num,
    control_measure, sulfur_content, ash_content, pm25_emission, pm10_emission, co_emission,
    voc_emission, so2_emission, nox_emission, nh3_emission, oc_emission, bc_emission,
    source_description,COUNTY_NAME
  </sql>
  <select id="selectByScatteredCoal" resultType="nankai.xl.business.model.vo.ScatteredCoalVo" parameterType="nankai.xl.business.model.ScatteredCoal" >
    SELECT scattered_coal.*,co.COUNTY_NAME,co.city_code,co.city_name
    FROM scattered_coal
    INNER JOIN (
    SELECT county.COUNTY_ID,county.COUNTY_NAME,city.city_name,city.city_code
    FROM county
    LEFT JOIN city
    ON county.city_code=city.city_code
    ) co
    ON co.COUNTY_ID=scattered_coal.county_id
    <where>
      <if test="year != null and year != ''">
        scattered_coal.year = #{year}
      </if>
      <if test="countyId != null and countyId != ''">
        AND scattered_coal.county_id = #{countyId}
      </if>
      <if test="cityCode != null and cityCode != ''">
        AND co.city_code = #{cityCode}
      </if>
    </where>
  </select>
  <select id="selectAll" resultType="nankai.xl.business.model.vo.ScatteredCoalVo">
    SELECT scattered_coal.*,co.COUNTY_NAME,co.city_code,co.city_name
    FROM scattered_coal
    INNER JOIN (
    SELECT county.COUNTY_ID,county.COUNTY_NAME,city.city_name,city.city_code
    FROM county
    LEFT JOIN city
    ON county.city_code=city.city_code
    ) co
    ON co.COUNTY_ID=scattered_coal.county_id
  </select>
  <select id="selectById" resultType="nankai.xl.business.model.vo.ScatteredCoalVo" parameterType="java.lang.Integer">
    SELECT scattered_coal.*,co.COUNTY_NAME,co.city_code,co.city_name
    FROM scattered_coal
    INNER JOIN (
    SELECT county.COUNTY_ID,county.COUNTY_NAME,city.city_name,city.city_code
    FROM county
    LEFT JOIN city
    ON county.city_code=city.city_code
    ) co
    ON co.COUNTY_ID=scattered_coal.county_id
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" parameterType="nankai.xl.business.model.ScatteredCoal" >
    insert into scattered_coal
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sccCode != null" >
        scc_code,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="countyId != null" >
        county_id,
      </if>
      <if test="activityLevel != null" >
        activity_level,
      </if>
      <if test="fuelMeteringUnit != null" >
        fuel_metering_unit,
      </if>
      <if test="activityLevelNum != null" >
        activity_level_num,
      </if>
      <if test="controlMeasure != null" >
        control_measure,
      </if>
      <if test="sulfurContent != null" >
        sulfur_content,
      </if>
      <if test="ashContent != null" >
        ash_content,
      </if>
      <if test="pm25Emission != null" >
        pm25_emission,
      </if>
      <if test="pm10Emission != null" >
        pm10_emission,
      </if>
      <if test="coEmission != null" >
        co_emission,
      </if>
      <if test="vocEmission != null" >
        voc_emission,
      </if>
      <if test="so2Emission != null" >
        so2_emission,
      </if>
      <if test="noxEmission != null" >
        nox_emission,
      </if>
      <if test="nh3Emission != null" >
        nh3_emission,
      </if>
      <if test="ocEmission != null" >
        oc_emission,
      </if>
      <if test="bcEmission != null" >
        bc_emission,
      </if>
      <if test="sourceDescription != null" >
        source_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sccCode != null" >
        #{sccCode,jdbcType=CHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=CHAR},
      </if>
      <if test="countyId != null" >
        #{countyId,jdbcType=CHAR},
      </if>
      <if test="activityLevel != null" >
        #{activityLevel,jdbcType=CHAR},
      </if>
      <if test="fuelMeteringUnit != null" >
        #{fuelMeteringUnit,jdbcType=CHAR},
      </if>
      <if test="activityLevelNum != null" >
        #{activityLevelNum,jdbcType=DOUBLE},
      </if>
      <if test="controlMeasure != null" >
        #{controlMeasure,jdbcType=CHAR},
      </if>
      <if test="sulfurContent != null" >
        #{sulfurContent,jdbcType=DOUBLE},
      </if>
      <if test="ashContent != null" >
        #{ashContent,jdbcType=DOUBLE},
      </if>
      <if test="pm25Emission != null" >
        #{pm25Emission,jdbcType=DOUBLE},
      </if>
      <if test="pm10Emission != null" >
        #{pm10Emission,jdbcType=DOUBLE},
      </if>
      <if test="coEmission != null" >
        #{coEmission,jdbcType=DOUBLE},
      </if>
      <if test="vocEmission != null" >
        #{vocEmission,jdbcType=DOUBLE},
      </if>
      <if test="so2Emission != null" >
        #{so2Emission,jdbcType=DOUBLE},
      </if>
      <if test="noxEmission != null" >
        #{noxEmission,jdbcType=DOUBLE},
      </if>
      <if test="nh3Emission != null" >
        #{nh3Emission,jdbcType=DOUBLE},
      </if>
      <if test="ocEmission != null" >
        #{ocEmission,jdbcType=DOUBLE},
      </if>
      <if test="bcEmission != null" >
        #{bcEmission,jdbcType=DOUBLE},
      </if>
      <if test="sourceDescription != null" >
        #{sourceDescription,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <insert id="insertOrUpdate" parameterType="nankai.xl.business.model.ScatteredCoal" >
    insert into scattered_coal (id, scc_code, year, 
      county_id, activity_level, fuel_metering_unit, 
      activity_level_num, control_measure, sulfur_content, 
      ash_content, pm25_emission, pm10_emission, 
      co_emission, voc_emission, so2_emission, 
      nox_emission, nh3_emission, oc_emission, 
      bc_emission, source_description)
    values (#{id,jdbcType=INTEGER}, #{sccCode,jdbcType=CHAR}, #{year,jdbcType=CHAR}, 
      #{countyId,jdbcType=CHAR}, #{activityLevel,jdbcType=CHAR}, #{fuelMeteringUnit,jdbcType=CHAR}, 
      #{activityLevelNum,jdbcType=DOUBLE}, #{controlMeasure,jdbcType=CHAR}, #{sulfurContent,jdbcType=DOUBLE}, 
      #{ashContent,jdbcType=DOUBLE}, #{pm25Emission,jdbcType=DOUBLE}, #{pm10Emission,jdbcType=DOUBLE}, 
      #{coEmission,jdbcType=DOUBLE}, #{vocEmission,jdbcType=DOUBLE}, #{so2Emission,jdbcType=DOUBLE}, 
      #{noxEmission,jdbcType=DOUBLE}, #{nh3Emission,jdbcType=DOUBLE}, #{ocEmission,jdbcType=DOUBLE}, 
      #{bcEmission,jdbcType=DOUBLE}, #{sourceDescription,jdbcType=CHAR})
    ON DUPLICATE KEY UPDATE
      id = #{id,jdbcType=INTEGER},
      scc_code = #{sccCode,jdbcType=CHAR},
      year = #{year,jdbcType=CHAR},
      county_id = #{countyId,jdbcType=CHAR},
      activity_level = #{activityLevel,jdbcType=CHAR},
      fuel_metering_unit = #{fuelMeteringUnit,jdbcType=CHAR},
      activity_level_num = #{activityLevelNum,jdbcType=DOUBLE},
      control_measure = #{controlMeasure,jdbcType=CHAR},
      sulfur_content = #{sulfurContent,jdbcType=DOUBLE},
      ash_content = #{ashContent,jdbcType=DOUBLE},
      pm25_emission = #{pm25Emission,jdbcType=DOUBLE},
      pm10_emission = #{pm10Emission,jdbcType=DOUBLE},
      co_emission = #{coEmission,jdbcType=DOUBLE},
      voc_emission = #{vocEmission,jdbcType=DOUBLE},
      so2_emission = #{so2Emission,jdbcType=DOUBLE},
      nox_emission = #{noxEmission,jdbcType=DOUBLE},
      nh3_emission = #{nh3Emission,jdbcType=DOUBLE},
      oc_emission = #{ocEmission,jdbcType=DOUBLE},
      bc_emission = #{bcEmission,jdbcType=DOUBLE},
      source_description = #{sourceDescription,jdbcType=CHAR}
  </insert>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from scattered_coal
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="updateById" parameterType="nankai.xl.business.model.ScatteredCoal" >
    update scattered_coal
    <set >
      <if test="sccCode != null" >
        scc_code = #{sccCode,jdbcType=CHAR},
      </if>
      <if test="year != null" >
        year = #{year,jdbcType=CHAR},
      </if>
      <if test="countyId != null" >
        county_id = #{countyId,jdbcType=CHAR},
      </if>
      <if test="activityLevel != null" >
        activity_level = #{activityLevel,jdbcType=CHAR},
      </if>
      <if test="fuelMeteringUnit != null" >
        fuel_metering_unit = #{fuelMeteringUnit,jdbcType=CHAR},
      </if>
      <if test="activityLevelNum != null" >
        activity_level_num = #{activityLevelNum,jdbcType=DOUBLE},
      </if>
      <if test="controlMeasure != null" >
        control_measure = #{controlMeasure,jdbcType=CHAR},
      </if>
      <if test="sulfurContent != null" >
        sulfur_content = #{sulfurContent,jdbcType=DOUBLE},
      </if>
      <if test="ashContent != null" >
        ash_content = #{ashContent,jdbcType=DOUBLE},
      </if>
      <if test="pm25Emission != null" >
        pm25_emission = #{pm25Emission,jdbcType=DOUBLE},
      </if>
      <if test="pm10Emission != null" >
        pm10_emission = #{pm10Emission,jdbcType=DOUBLE},
      </if>
      <if test="coEmission != null" >
        co_emission = #{coEmission,jdbcType=DOUBLE},
      </if>
      <if test="vocEmission != null" >
        voc_emission = #{vocEmission,jdbcType=DOUBLE},
      </if>
      <if test="so2Emission != null" >
        so2_emission = #{so2Emission,jdbcType=DOUBLE},
      </if>
      <if test="noxEmission != null" >
        nox_emission = #{noxEmission,jdbcType=DOUBLE},
      </if>
      <if test="nh3Emission != null" >
        nh3_emission = #{nh3Emission,jdbcType=DOUBLE},
      </if>
      <if test="ocEmission != null" >
        oc_emission = #{ocEmission,jdbcType=DOUBLE},
      </if>
      <if test="bcEmission != null" >
        bc_emission = #{bcEmission,jdbcType=DOUBLE},
      </if>
      <if test="sourceDescription != null" >
        source_description = #{sourceDescription,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>