<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nankai.xl.business.mapper.Scc4Mapper" >
  <resultMap id="BaseResultMap" type="nankai.xl.business.model.Scc4" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="scc_1" property="scc1" jdbcType="CHAR" />
    <result column="scc_2" property="scc2" jdbcType="CHAR" />
    <result column="scc_3" property="scc3" jdbcType="CHAR" />
    <result column="scc_4" property="scc4" jdbcType="CHAR" />
    <result column="description" property="description" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, scc_1, scc_2, scc_3, scc_4, description
  </sql>
  <select id="selectByScc4" resultMap="BaseResultMap" parameterType="nankai.xl.business.model.Scc4" >
    select
    <include refid="Base_Column_List" />
    from scc_4
    <where>
      <if test="scc1 != null and scc1 != ''">
        scc_1 = #{scc1}
      </if>
      <if test="scc2 != null and scc2 != ''">
        AND scc_2 = #{scc2}
      </if>
      <if test="scc3 != null and scc3 != ''">
        AND scc_3 = #{scc3}
      </if>
      <if test="scc4 != null and scc4 != ''">
        AND scc_4 = #{scc4}
      </if>
    </where>
  </select>
  <select id="selectBySccCode" resultType="nankai.xl.business.model.vo.SccVo" parameterType="java.lang.String" >
      SELECT * FROM scc_describe
      WHERE scc_code= #{sccCode}
  </select>
<!--  <select id="selectBySccCode" resultType="nankai.xl.business.model.vo.SccVo" parameterType="java.lang.String" >-->
<!--    SELECT REPLACE(REPLACE(REPLACE(REPLACE(description,CHAR(13),''),CHAR(10),''),CHAR(9),''),' ','') AS description,scc_code FROM (-->
<!--      SELECT CONCAT(scc_4.scc_1,scc_4.scc_2,scc_4.scc_3,scc_4.scc_4) AS scc_code,-->
<!--      CONCAT(scc_1.description,'/',scc_2.description,'/',scc_3.description,'/',scc_4.description) AS description FROM scc_4-->
<!--      INNER JOIN scc_1-->
<!--      ON scc_1.scc_1=scc_4.scc_1-->
<!--      INNER JOIN scc_2-->
<!--      ON scc_2.scc_1=scc_4.scc_1 AND scc_2.scc_2=scc_4.scc_2-->
<!--      INNER JOIN scc_3-->
<!--      ON scc_3.scc_1=scc_4.scc_1 AND scc_3.scc_2=scc_4.scc_2 AND scc_3.scc_3=scc_4.scc_3-->
<!--    ) scc-->
<!--    where scc.scc_code = #{sccCode}-->
<!--  </select>-->
  <select id="selectBySccCode123" resultType="nankai.xl.business.model.Scc4" parameterType="java.lang.String" >
    SELECT * FROM scc_4
    WHERE CONCAT(scc_4.scc_1,scc_4.scc_2,scc_4.scc_3)=#{sccCode123}
  </select>
<!--  <sql id="Example_Where_Clause" >-->
<!--    <where >-->
<!--      <foreach collection="oredCriteria" item="criteria" separator="or" >-->
<!--        <if test="criteria.valid" >-->
<!--          <trim prefix="(" suffix=")" prefixOverrides="and" >-->
<!--            <foreach collection="criteria.criteria" item="criterion" >-->
<!--              <choose >-->
<!--                <when test="criterion.noValue" >-->
<!--                  and ${criterion.condition}-->
<!--                </when>-->
<!--                <when test="criterion.singleValue" >-->
<!--                  and ${criterion.condition} #{criterion.value}-->
<!--                </when>-->
<!--                <when test="criterion.betweenValue" >-->
<!--                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}-->
<!--                </when>-->
<!--                <when test="criterion.listValue" >-->
<!--                  and ${criterion.condition}-->
<!--                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >-->
<!--                    #{listItem}-->
<!--                  </foreach>-->
<!--                </when>-->
<!--              </choose>-->
<!--            </foreach>-->
<!--          </trim>-->
<!--        </if>-->
<!--      </foreach>-->
<!--    </where>-->
<!--  </sql>-->
<!--  <sql id="Update_By_Example_Where_Clause" >-->
<!--    <where >-->
<!--      <foreach collection="example.oredCriteria" item="criteria" separator="or" >-->
<!--        <if test="criteria.valid" >-->
<!--          <trim prefix="(" suffix=")" prefixOverrides="and" >-->
<!--            <foreach collection="criteria.criteria" item="criterion" >-->
<!--              <choose >-->
<!--                <when test="criterion.noValue" >-->
<!--                  and ${criterion.condition}-->
<!--                </when>-->
<!--                <when test="criterion.singleValue" >-->
<!--                  and ${criterion.condition} #{criterion.value}-->
<!--                </when>-->
<!--                <when test="criterion.betweenValue" >-->
<!--                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}-->
<!--                </when>-->
<!--                <when test="criterion.listValue" >-->
<!--                  and ${criterion.condition}-->
<!--                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >-->
<!--                    #{listItem}-->
<!--                  </foreach>-->
<!--                </when>-->
<!--              </choose>-->
<!--            </foreach>-->
<!--          </trim>-->
<!--        </if>-->
<!--      </foreach>-->
<!--    </where>-->
<!--  </sql>-->
<!--  <sql id="Base_Column_List" >-->
<!--    id, scc_1, scc_2, scc_3, scc_4, description-->
<!--  </sql>-->
<!--  <select id="selectByExample" resultMap="BaseResultMap" parameterType="nankai.xl.business.model.Scc4Example" >-->
<!--    select-->
<!--    <if test="distinct" >-->
<!--      distinct-->
<!--    </if>-->
<!--    <include refid="Base_Column_List" />-->
<!--    from scc_4-->
<!--    <if test="_parameter != null" >-->
<!--      <include refid="Example_Where_Clause" />-->
<!--    </if>-->
<!--    <if test="orderByClause != null" >-->
<!--      order by ${orderByClause}-->
<!--    </if>-->
<!--  </select>-->
<!--  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >-->
<!--    select -->
<!--    <include refid="Base_Column_List" />-->
<!--    from scc_4-->
<!--    where id = #{id,jdbcType=INTEGER}-->
<!--  </select>-->
<!--  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >-->
<!--    delete from scc_4-->
<!--    where id = #{id,jdbcType=INTEGER}-->
<!--  </delete>-->
<!--  <delete id="deleteByExample" parameterType="nankai.xl.business.model.Scc4Example" >-->
<!--    delete from scc_4-->
<!--    <if test="_parameter != null" >-->
<!--      <include refid="Example_Where_Clause" />-->
<!--    </if>-->
<!--  </delete>-->
<!--  <insert id="insert" parameterType="nankai.xl.business.model.Scc4" >-->
<!--    insert into scc_4 (id, scc_1, scc_2, scc_3, -->
<!--      scc_4, description)-->
<!--    values (#{id,jdbcType=INTEGER}, #{scc1,jdbcType=CHAR}, #{scc2,jdbcType=CHAR}, #{scc3,jdbcType=CHAR}, -->
<!--      #{scc4,jdbcType=CHAR}, #{description,jdbcType=CHAR})-->
<!--  </insert>-->
<!--  <insert id="insertSelective" parameterType="nankai.xl.business.model.Scc4" >-->
<!--    insert into scc_4-->
<!--    <trim prefix="(" suffix=")" suffixOverrides="," >-->
<!--      <if test="id != null" >-->
<!--        id,-->
<!--      </if>-->
<!--      <if test="scc1 != null" >-->
<!--        scc_1,-->
<!--      </if>-->
<!--      <if test="scc2 != null" >-->
<!--        scc_2,-->
<!--      </if>-->
<!--      <if test="scc3 != null" >-->
<!--        scc_3,-->
<!--      </if>-->
<!--      <if test="scc4 != null" >-->
<!--        scc_4,-->
<!--      </if>-->
<!--      <if test="description != null" >-->
<!--        description,-->
<!--      </if>-->
<!--    </trim>-->
<!--    <trim prefix="values (" suffix=")" suffixOverrides="," >-->
<!--      <if test="id != null" >-->
<!--        #{id,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="scc1 != null" >-->
<!--        #{scc1,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="scc2 != null" >-->
<!--        #{scc2,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="scc3 != null" >-->
<!--        #{scc3,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="scc4 != null" >-->
<!--        #{scc4,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="description != null" >-->
<!--        #{description,jdbcType=CHAR},-->
<!--      </if>-->
<!--    </trim>-->
<!--  </insert>-->
<!--  <select id="countByExample" parameterType="nankai.xl.business.model.Scc4Example" resultType="java.lang.Integer" >-->
<!--    select count(*) from scc_4-->
<!--    <if test="_parameter != null" >-->
<!--      <include refid="Example_Where_Clause" />-->
<!--    </if>-->
<!--  </select>-->
<!--  <update id="updateByExampleSelective" parameterType="map" >-->
<!--    update scc_4-->
<!--    <set >-->
<!--      <if test="record.id != null" >-->
<!--        id = #{record.id,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="record.scc1 != null" >-->
<!--        scc_1 = #{record.scc1,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="record.scc2 != null" >-->
<!--        scc_2 = #{record.scc2,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="record.scc3 != null" >-->
<!--        scc_3 = #{record.scc3,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="record.scc4 != null" >-->
<!--        scc_4 = #{record.scc4,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="record.description != null" >-->
<!--        description = #{record.description,jdbcType=CHAR},-->
<!--      </if>-->
<!--    </set>-->
<!--    <if test="_parameter != null" >-->
<!--      <include refid="Update_By_Example_Where_Clause" />-->
<!--    </if>-->
<!--  </update>-->
<!--  <update id="updateByExample" parameterType="map" >-->
<!--    update scc_4-->
<!--    set id = #{record.id,jdbcType=INTEGER},-->
<!--      scc_1 = #{record.scc1,jdbcType=CHAR},-->
<!--      scc_2 = #{record.scc2,jdbcType=CHAR},-->
<!--      scc_3 = #{record.scc3,jdbcType=CHAR},-->
<!--      scc_4 = #{record.scc4,jdbcType=CHAR},-->
<!--      description = #{record.description,jdbcType=CHAR}-->
<!--    <if test="_parameter != null" >-->
<!--      <include refid="Update_By_Example_Where_Clause" />-->
<!--    </if>-->
<!--  </update>-->
<!--  <update id="updateByPrimaryKeySelective" parameterType="nankai.xl.business.model.Scc4" >-->
<!--    update scc_4-->
<!--    <set >-->
<!--      <if test="scc1 != null" >-->
<!--        scc_1 = #{scc1,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="scc2 != null" >-->
<!--        scc_2 = #{scc2,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="scc3 != null" >-->
<!--        scc_3 = #{scc3,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="scc4 != null" >-->
<!--        scc_4 = #{scc4,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="description != null" >-->
<!--        description = #{description,jdbcType=CHAR},-->
<!--      </if>-->
<!--    </set>-->
<!--    where id = #{id,jdbcType=INTEGER}-->
<!--  </update>-->
<!--  <update id="updateByPrimaryKey" parameterType="nankai.xl.business.model.Scc4" >-->
<!--    update scc_4-->
<!--    set scc_1 = #{scc1,jdbcType=CHAR},-->
<!--      scc_2 = #{scc2,jdbcType=CHAR},-->
<!--      scc_3 = #{scc3,jdbcType=CHAR},-->
<!--      scc_4 = #{scc4,jdbcType=CHAR},-->
<!--      description = #{description,jdbcType=CHAR}-->
<!--    where id = #{id,jdbcType=INTEGER}-->
<!--  </update>-->
</mapper>