<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nankai.xl.business.mapper.SulphurremoveMapper" >
  <resultMap id="BaseResultMap" type="nankai.xl.business.model.Sulphurremove" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sulphur_remove_id" property="sulphurRemoveId" jdbcType="CHAR" />
    <result column="sulphur_classify" property="sulphurClassify" jdbcType="CHAR" />
    <result column="sulphur_method" property="sulphurMethod" jdbcType="CHAR" />
    <result column="sulphur_remove_effi" property="sulphurRemoveEffi" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sulphur_remove_id, sulphur_classify, sulphur_method, sulphur_remove_effi
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sulphurremove
    where 1=1
  </select>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from sulphurremove
    where id = #{id,jdbcType=INTEGER}
  </select>
</mapper>