<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nankai.xl.business.mapper.YcsoildustMapper" >
  <resultMap id="BaseResultMap" type="nankai.xl.business.model.vo.YcSoildustVo" >
    <id column="sd_id" property="sdId" jdbcType="INTEGER" />
    <result column="scccode" property="scccode" jdbcType="CHAR" />
    <result column="county_id" property="countyId" jdbcType="CHAR" />
    <result column="sd_year" property="sdYear" jdbcType="CHAR" />
    <result column="sd_takemeasures" property="sdTakemeasures" jdbcType="VARCHAR" />
    <result column="sd_utype" property="sdUtype" jdbcType="VARCHAR" />
    <result column="sd_soiltype" property="sdSoiltype" jdbcType="VARCHAR" />
    <result column="sd_area" property="sdArea" jdbcType="DOUBLE" />
    <result column="soilindexpm25" property="soilindexpm25" jdbcType="DOUBLE" />
    <result column="soilindexpm10" property="soilindexpm10" jdbcType="DOUBLE" />
    <result column="surindex" property="surindex" jdbcType="DOUBLE" />
    <result column="noindex" property="noindex" jdbcType="DOUBLE" />
    <result column="pindex" property="pindex" jdbcType="DOUBLE" />
    <result column="pm25_emission" property="pm25Emission" jdbcType="DOUBLE" />
    <result column="pm10_emission" property="pm10Emission" jdbcType="DOUBLE" />
    <result column="voc_emission" property="vocEmission" jdbcType="DOUBLE" />
    <result column="nh3_emission" property="nh3Emission" jdbcType="DOUBLE" />
    <result column="so2_emission" property="so2Emission" jdbcType="DOUBLE" />
    <result column="co_emission" property="coEmission" jdbcType="DOUBLE" />
    <result column="oc_emission" property="ocEmission" jdbcType="DOUBLE" />
    <result column="bc_emission" property="bcEmission" jdbcType="DOUBLE" />
    <result column="nox_emission" property="noxEmission" jdbcType="DOUBLE" />
    <result column="pm25_max" property="pm25Max" jdbcType="DOUBLE" />
    <result column="pm10_max" property="pm10Max" jdbcType="DOUBLE" />
    <result column="voc_max" property="vocMax" jdbcType="DOUBLE" />
    <result column="nh3_max" property="nh3Max" jdbcType="DOUBLE" />
    <result column="so2_max" property="so2Max" jdbcType="DOUBLE" />
    <result column="co_max" property="coMax" jdbcType="DOUBLE" />
    <result column="oc_max" property="ocMax" jdbcType="DOUBLE" />
    <result column="bc_max" property="bcMax" jdbcType="DOUBLE" />
    <result column="nox_max" property="noxMax" jdbcType="DOUBLE" />
    <result column="scc_describe" property="sccDescribe" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="COUNTY_NAME" property="countyName" jdbcType="CHAR" />
  </resultMap>
  <select id="selectByExample" resultType="nankai.xl.business.model.vo.YcSoildustVo" parameterType="nankai.xl.business.model.vo.YcSoildustVo" >
    SELECT yc_soildust.*,co.COUNTY_NAME,co.city_code,co.city_name,SUBSTR(yc_soildust.scccode,1,2) AS scc1,SUBSTR(yc_soildust.scccode,3,2) AS scc2,
    SUBSTR(yc_soildust.scccode,5,3) AS scc3,SUBSTR(yc_soildust.scccode,8,3) AS scc4
    FROM yc_soildust
    LEFT JOIN (
      SELECT county.COUNTY_ID,county.COUNTY_NAME,city.city_name,city.city_code
      FROM county
      LEFT JOIN city
      ON county.city_code=city.city_code
    ) co
    ON co.COUNTY_ID=yc_soildust.county_id
    <where>
      <if test="sdYear != null and sdYear != ''">
        yc_soildust.sd_year = #{sdYear}
      </if>
      <if test="countyId != null and countyId != ''">
        AND yc_soildust.county_id = #{countyId}
      </if>
      <if test="cityCode != null and cityCode != ''">
        AND co.city_code = #{cityCode}
      </if>
    </where>
  </select>
  <select id="selectById" resultType="nankai.xl.business.model.vo.YcSoildustVo" parameterType="java.lang.Integer" >
    SELECT yc_soildust.*,co.COUNTY_NAME,co.city_code,co.city_name,SUBSTR(yc_soildust.scccode,1,2) AS scc1,SUBSTR(yc_soildust.scccode,3,2) AS scc2,
				SUBSTR(yc_soildust.scccode,5,3) AS scc3,SUBSTR(yc_soildust.scccode,8,3) AS scc4
    FROM yc_soildust
    LEFT JOIN (
      SELECT county.COUNTY_ID,county.COUNTY_NAME,city.city_name,city.city_code
      FROM county
      LEFT JOIN city
      ON county.city_code=city.city_code
    ) co
    ON co.COUNTY_ID=yc_soildust.county_id
    where yc_soildust.sd_id = #{sdId,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from yc_soildust
    where sd_id = #{sdId,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="nankai.xl.business.model.YcSoildust" >
    insert into yc_soildust
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sdId != null" >
        sd_id,
      </if>
      <if test="scccode != null" >
        scccode,
      </if>
      <if test="countyId != null" >
        county_id,
      </if>
      <if test="sdYear != null" >
        sd_year,
      </if>
      <if test="sdTakemeasures != null" >
        sd_takemeasures,
      </if>
      <if test="sdUtype != null" >
        sd_utype,
      </if>
      <if test="sdSoiltype != null" >
        sd_soiltype,
      </if>
      <if test="sdArea != null" >
        sd_area,
      </if>
      <if test="soilindexpm25 != null" >
        soilindexpm25,
      </if>
      <if test="soilindexpm10 != null" >
        soilindexpm10,
      </if>
      <if test="surindex != null" >
        surindex,
      </if>
      <if test="noindex != null" >
        noindex,
      </if>
      <if test="pindex != null" >
        pindex,
      </if>
      <if test="pm25Emission != null" >
        pm25_emission,
      </if>
      <if test="pm10Emission != null" >
        pm10_emission,
      </if>
      <if test="vocEmission != null" >
        voc_emission,
      </if>
      <if test="nh3Emission != null" >
        nh3_emission,
      </if>
      <if test="so2Emission != null" >
        so2_emission,
      </if>
      <if test="coEmission != null" >
        co_emission,
      </if>
      <if test="ocEmission != null" >
        oc_emission,
      </if>
      <if test="bcEmission != null" >
        bc_emission,
      </if>
      <if test="noxEmission != null" >
        nox_emission,
      </if>
      <if test="pm25Max != null" >
        pm25_max,
      </if>
      <if test="pm10Max != null" >
        pm10_max,
      </if>
      <if test="vocMax != null" >
        voc_max,
      </if>
      <if test="nh3Max != null" >
        nh3_max,
      </if>
      <if test="so2Max != null" >
        so2_max,
      </if>
      <if test="coMax != null" >
        co_max,
      </if>
      <if test="ocMax != null" >
        oc_max,
      </if>
      <if test="bcMax != null" >
        bc_max,
      </if>
      <if test="noxMax != null" >
        nox_max,
      </if>
      <if test="sccDescribe != null" >
        scc_describe,
      </if>
      <if test="flag != null" >
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sdId != null" >
        #{sdId,jdbcType=INTEGER},
      </if>
      <if test="scccode != null" >
        #{scccode,jdbcType=CHAR},
      </if>
      <if test="countyId != null" >
        #{countyId,jdbcType=CHAR},
      </if>
      <if test="sdYear != null" >
        #{sdYear,jdbcType=CHAR},
      </if>
      <if test="sdTakemeasures != null" >
        #{sdTakemeasures,jdbcType=VARCHAR},
      </if>
      <if test="sdUtype != null" >
        #{sdUtype,jdbcType=VARCHAR},
      </if>
      <if test="sdSoiltype != null" >
        #{sdSoiltype,jdbcType=VARCHAR},
      </if>
      <if test="sdArea != null" >
        #{sdArea,jdbcType=DOUBLE},
      </if>
      <if test="soilindexpm25 != null" >
        #{soilindexpm25,jdbcType=DOUBLE},
      </if>
      <if test="soilindexpm10 != null" >
        #{soilindexpm10,jdbcType=DOUBLE},
      </if>
      <if test="surindex != null" >
        #{surindex,jdbcType=DOUBLE},
      </if>
      <if test="noindex != null" >
        #{noindex,jdbcType=DOUBLE},
      </if>
      <if test="pindex != null" >
        #{pindex,jdbcType=DOUBLE},
      </if>
      <if test="pm25Emission != null" >
        #{pm25Emission,jdbcType=DOUBLE},
      </if>
      <if test="pm10Emission != null" >
        #{pm10Emission,jdbcType=DOUBLE},
      </if>
      <if test="vocEmission != null" >
        #{vocEmission,jdbcType=DOUBLE},
      </if>
      <if test="nh3Emission != null" >
        #{nh3Emission,jdbcType=DOUBLE},
      </if>
      <if test="so2Emission != null" >
        #{so2Emission,jdbcType=DOUBLE},
      </if>
      <if test="coEmission != null" >
        #{coEmission,jdbcType=DOUBLE},
      </if>
      <if test="ocEmission != null" >
        #{ocEmission,jdbcType=DOUBLE},
      </if>
      <if test="bcEmission != null" >
        #{bcEmission,jdbcType=DOUBLE},
      </if>
      <if test="noxEmission != null" >
        #{noxEmission,jdbcType=DOUBLE},
      </if>
      <if test="pm25Max != null" >
        #{pm25Max,jdbcType=DOUBLE},
      </if>
      <if test="pm10Max != null" >
        #{pm10Max,jdbcType=DOUBLE},
      </if>
      <if test="vocMax != null" >
        #{vocMax,jdbcType=DOUBLE},
      </if>
      <if test="nh3Max != null" >
        #{nh3Max,jdbcType=DOUBLE},
      </if>
      <if test="so2Max != null" >
        #{so2Max,jdbcType=DOUBLE},
      </if>
      <if test="coMax != null" >
        #{coMax,jdbcType=DOUBLE},
      </if>
      <if test="ocMax != null" >
        #{ocMax,jdbcType=DOUBLE},
      </if>
      <if test="bcMax != null" >
        #{bcMax,jdbcType=DOUBLE},
      </if>
      <if test="noxMax != null" >
        #{noxMax,jdbcType=DOUBLE},
      </if>
      <if test="sccDescribe != null" >
        #{sccDescribe,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <insert id="insertOrUpdate" parameterType="nankai.xl.business.model.YcSoildust" >
    insert into yc_soildust (sd_id, scccode, county_id,
      sd_year, sd_takemeasures, sd_utype, 
      sd_soiltype, sd_area, soilindexpm25, 
      soilindexpm10, surindex, noindex, 
      pindex, pm25_emission, pm10_emission, 
      voc_emission, nh3_emission, so2_emission, 
      co_emission, oc_emission, bc_emission, 
      nox_emission, pm25_max, pm10_max, 
      voc_max, nh3_max, so2_max, 
      co_max, oc_max, bc_max, nox_max, 
      scc_describe, flag)
    values (#{sdId,jdbcType=INTEGER}, #{scccode,jdbcType=CHAR}, #{countyId,jdbcType=CHAR}, 
      #{sdYear,jdbcType=CHAR}, #{sdTakemeasures,jdbcType=VARCHAR}, #{sdUtype,jdbcType=VARCHAR}, 
      #{sdSoiltype,jdbcType=VARCHAR}, #{sdArea,jdbcType=DOUBLE}, #{soilindexpm25,jdbcType=DOUBLE}, 
      #{soilindexpm10,jdbcType=DOUBLE}, #{surindex,jdbcType=DOUBLE}, #{noindex,jdbcType=DOUBLE}, 
      #{pindex,jdbcType=DOUBLE}, #{pm25Emission,jdbcType=DOUBLE}, #{pm10Emission,jdbcType=DOUBLE}, 
      #{vocEmission,jdbcType=DOUBLE}, #{nh3Emission,jdbcType=DOUBLE}, #{so2Emission,jdbcType=DOUBLE}, 
      #{coEmission,jdbcType=DOUBLE}, #{ocEmission,jdbcType=DOUBLE}, #{bcEmission,jdbcType=DOUBLE}, 
      #{noxEmission,jdbcType=DOUBLE}, #{pm25Max,jdbcType=DOUBLE}, #{pm10Max,jdbcType=DOUBLE}, 
      #{vocMax,jdbcType=DOUBLE}, #{nh3Max,jdbcType=DOUBLE}, #{so2Max,jdbcType=DOUBLE}, 
      #{coMax,jdbcType=DOUBLE}, #{ocMax,jdbcType=DOUBLE}, #{bcMax,jdbcType=DOUBLE}, #{noxMax,jdbcType=DOUBLE}, 
      #{sccDescribe,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER})
    ON DUPLICATE KEY UPDATE 
      sd_id = #{sdId,jdbcType=INTEGER},
      scccode = #{scccode,jdbcType=CHAR},
      county_id = #{countyId,jdbcType=CHAR},
      sd_year = #{sdYear,jdbcType=CHAR},
      sd_takemeasures = #{sdTakemeasures,jdbcType=VARCHAR},
      sd_utype = #{sdUtype,jdbcType=VARCHAR},
      sd_soiltype = #{sdSoiltype,jdbcType=VARCHAR},
      sd_area = #{sdArea,jdbcType=DOUBLE},
      soilindexpm25 = #{soilindexpm25,jdbcType=DOUBLE},
      soilindexpm10 = #{soilindexpm10,jdbcType=DOUBLE},
      surindex = #{surindex,jdbcType=DOUBLE},
      noindex = #{noindex,jdbcType=DOUBLE},
      pindex = #{pindex,jdbcType=DOUBLE},
      pm25_emission = #{pm25Emission,jdbcType=DOUBLE},
      pm10_emission = #{pm10Emission,jdbcType=DOUBLE},
      voc_emission = #{vocEmission,jdbcType=DOUBLE},
      nh3_emission = #{nh3Emission,jdbcType=DOUBLE},
      so2_emission = #{so2Emission,jdbcType=DOUBLE},
      co_emission = #{coEmission,jdbcType=DOUBLE},
      oc_emission = #{ocEmission,jdbcType=DOUBLE},
      bc_emission = #{bcEmission,jdbcType=DOUBLE},
      nox_emission = #{noxEmission,jdbcType=DOUBLE},
      pm25_max = #{pm25Max,jdbcType=DOUBLE},
      pm10_max = #{pm10Max,jdbcType=DOUBLE},
      voc_max = #{vocMax,jdbcType=DOUBLE},
      nh3_max = #{nh3Max,jdbcType=DOUBLE},
      so2_max = #{so2Max,jdbcType=DOUBLE},
      co_max = #{coMax,jdbcType=DOUBLE},
      oc_max = #{ocMax,jdbcType=DOUBLE},
      bc_max = #{bcMax,jdbcType=DOUBLE},
      nox_max = #{noxMax,jdbcType=DOUBLE},
      scc_describe = #{sccDescribe,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER}   
  </insert>
  <insert id="insertList" parameterType="java.util.List">
    INSERT INTO yc_soildust (sd_id, scccode, county_id,
    sd_year, sd_takemeasures, sd_utype,
    sd_soiltype, sd_area, soilindexpm25,
    soilindexpm10, surindex, noindex,
    pindex, pm25_emission, pm10_emission,
    voc_emission, nh3_emission, so2_emission,
    co_emission, oc_emission, bc_emission,
    nox_emission, pm25_max, pm10_max,
    voc_max, nh3_max, so2_max,
    co_max, oc_max, bc_max, nox_max,
    scc_describe, flag)
    VALUES
    <foreach collection="list"  index="index" item="item" separator=",">
      (
      sd_id = #{item.sdId,jdbcType=INTEGER},
      scccode = #{item.scccode,jdbcType=CHAR},
      county_id = #{item.countyId,jdbcType=CHAR},
      sd_year = #{item.sdYear,jdbcType=CHAR},
      sd_takemeasures = #{item.sdTakemeasures,jdbcType=VARCHAR},
      sd_utype = #{item.sdUtype,jdbcType=VARCHAR},
      sd_soiltype = #{item.sdSoiltype,jdbcType=VARCHAR},
      sd_area = #{item.sdArea,jdbcType=DOUBLE},
      soilindexpm25 = #{item.soilindexpm25,jdbcType=DOUBLE},
      soilindexpm10 = #{item.soilindexpm10,jdbcType=DOUBLE},
      surindex = #{item.surindex,jdbcType=DOUBLE},
      noindex = #{item.noindex,jdbcType=DOUBLE},
      pindex = #{item.pindex,jdbcType=DOUBLE},
      pm25_emission = #{item.pm25Emission,jdbcType=DOUBLE},
      pm10_emission = #{item.pm10Emission,jdbcType=DOUBLE},
      voc_emission = #{item.vocEmission,jdbcType=DOUBLE},
      nh3_emission = #{item.nh3Emission,jdbcType=DOUBLE},
      so2_emission = #{item.so2Emission,jdbcType=DOUBLE},
      co_emission = #{item.coEmission,jdbcType=DOUBLE},
      oc_emission = #{item.ocEmission,jdbcType=DOUBLE},
      bc_emission = #{item.bcEmission,jdbcType=DOUBLE},
      nox_emission = #{item.noxEmission,jdbcType=DOUBLE},
      pm25_max = #{item.pm25Max,jdbcType=DOUBLE},
      pm10_max = #{item.pm10Max,jdbcType=DOUBLE},
      voc_max = #{item.vocMax,jdbcType=DOUBLE},
      nh3_max = #{item.nh3Max,jdbcType=DOUBLE},
      so2_max = #{item.so2Max,jdbcType=DOUBLE},
      co_max = #{item.coMax,jdbcType=DOUBLE},
      oc_max = #{item.ocMax,jdbcType=DOUBLE},
      bc_max = #{item.bcMax,jdbcType=DOUBLE},
      nox_max = #{item.noxMax,jdbcType=DOUBLE},
      scc_describe = #{item.sccDescribe,jdbcType=VARCHAR},
      flag = #{item.flag,jdbcType=INTEGER}
      )
    </foreach>
  </insert>
  <update id="updateById" parameterType="nankai.xl.business.model.YcSoildust" >
    update yc_soildust
    <set >
      <if test="scccode != null" >
        scccode = #{scccode,jdbcType=CHAR},
      </if>
      <if test="countyId != null" >
        county_id = #{countyId,jdbcType=CHAR},
      </if>
      <if test="sdYear != null" >
        sd_year = #{sdYear,jdbcType=CHAR},
      </if>
      <if test="sdTakemeasures != null" >
        sd_takemeasures = #{sdTakemeasures,jdbcType=VARCHAR},
      </if>
      <if test="sdUtype != null" >
        sd_utype = #{sdUtype,jdbcType=VARCHAR},
      </if>
      <if test="sdSoiltype != null" >
        sd_soiltype = #{sdSoiltype,jdbcType=VARCHAR},
      </if>
      <if test="sdArea != null" >
        sd_area = #{sdArea,jdbcType=DOUBLE},
      </if>
      <if test="soilindexpm25 != null" >
        soilindexpm25 = #{soilindexpm25,jdbcType=DOUBLE},
      </if>
      <if test="soilindexpm10 != null" >
        soilindexpm10 = #{soilindexpm10,jdbcType=DOUBLE},
      </if>
      <if test="surindex != null" >
        surindex = #{surindex,jdbcType=DOUBLE},
      </if>
      <if test="noindex != null" >
        noindex = #{noindex,jdbcType=DOUBLE},
      </if>
      <if test="pindex != null" >
        pindex = #{pindex,jdbcType=DOUBLE},
      </if>
      <if test="pm25Emission != null" >
        pm25_emission = #{pm25Emission,jdbcType=DOUBLE},
      </if>
      <if test="pm10Emission != null" >
        pm10_emission = #{pm10Emission,jdbcType=DOUBLE},
      </if>
      <if test="vocEmission != null" >
        voc_emission = #{vocEmission,jdbcType=DOUBLE},
      </if>
      <if test="nh3Emission != null" >
        nh3_emission = #{nh3Emission,jdbcType=DOUBLE},
      </if>
      <if test="so2Emission != null" >
        so2_emission = #{so2Emission,jdbcType=DOUBLE},
      </if>
      <if test="coEmission != null" >
        co_emission = #{coEmission,jdbcType=DOUBLE},
      </if>
      <if test="ocEmission != null" >
        oc_emission = #{ocEmission,jdbcType=DOUBLE},
      </if>
      <if test="bcEmission != null" >
        bc_emission = #{bcEmission,jdbcType=DOUBLE},
      </if>
      <if test="noxEmission != null" >
        nox_emission = #{noxEmission,jdbcType=DOUBLE},
      </if>
      <if test="pm25Max != null" >
        pm25_max = #{pm25Max,jdbcType=DOUBLE},
      </if>
      <if test="pm10Max != null" >
        pm10_max = #{pm10Max,jdbcType=DOUBLE},
      </if>
      <if test="vocMax != null" >
        voc_max = #{vocMax,jdbcType=DOUBLE},
      </if>
      <if test="nh3Max != null" >
        nh3_max = #{nh3Max,jdbcType=DOUBLE},
      </if>
      <if test="so2Max != null" >
        so2_max = #{so2Max,jdbcType=DOUBLE},
      </if>
      <if test="coMax != null" >
        co_max = #{coMax,jdbcType=DOUBLE},
      </if>
      <if test="ocMax != null" >
        oc_max = #{ocMax,jdbcType=DOUBLE},
      </if>
      <if test="bcMax != null" >
        bc_max = #{bcMax,jdbcType=DOUBLE},
      </if>
      <if test="noxMax != null" >
        nox_max = #{noxMax,jdbcType=DOUBLE},
      </if>
      <if test="sccDescribe != null" >
        scc_describe = #{sccDescribe,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
    </set>
    where sd_id = #{sdId,jdbcType=INTEGER}
  </update>
</mapper>