<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>源统计数据</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
</head>

<body>
    <div class="z-body animated fadeIn">
        <div class="layui-row layui-col-space15" id="chartsDiv">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header"><h3>锅炉、窑炉燃料使用量统计：煤（吨）、液化石油气、天然气（立方米）</h3></div>
                        <div class="layui-card-body" >
                            <div class="layui-carousel" id="carousel_1" >
                                <div carousel-item="" >
                                    <div id="upAndDowmBar" style="height: 560px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!--            <div class="layui-row layui-col-space15">-->
<!--                <div class="layui-col-md12">-->
<!--                    <div class="layui-card">-->
<!--                        <div class="layui-card-header"><h3>污染源排放区域信息及排放特征</h3></div>-->
<!--                        <div class="layui-card-body" >-->
<!--                            <div class="layui-carousel" id="carousel_2" >-->
<!--                                <div carousel-item="" >-->
<!--                                    <div id="pieRadarDiv" style="height: 560px"></div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>


    </div>

    <script th:src="@{/lib/jquery/jquery.min.js}"></script>
    <script th:src="@{/lib/layui/layui.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/lib/echarts/dist/echarts.js}"></script>
    <script th:src="@{/js/myEcharts.js}"></script>
    <style type="text/css">
        .anchorBL{
            display:none
        }
    </style>
    <script type="application/javascript">
        layui.use(['carousel','element','jquery','form'], function() {
            var carousel = layui.carousel
            var $ = layui.jquery
                , element = layui.element //Tab的切换功能，切换事件监听等，需要依赖element模块
                ,form = layui.form //form表单
            // $(function(){
            //     element.progress('storage', '70%')
            //     $('#storage').css("background-color","red")
            // });
            carousel.render({
                elem: '#carousel_1'
                , arrow: 'hover'
                , width: '100%' //设置容器宽度
                , height: '560px'
                , indicator: 'none'
                , interval: 5000
            });
            carousel.render({
                elem: '#carousel_2'
                , arrow: 'hover'
                , width: '100%' //设置容器宽度
                , height: '560px'
                , indicator: 'none'
                , interval: 5000
            });
            var parentWith = $('#chartsDiv').width();


            // var legendData=['化石','工艺', '联盟广告','视频广告','搜索引擎']
            // var radarIndicator=[
            //     { text: 'PM25' },
            //     { text: 'PM10' },
            //     { text: '指标三' },
            //     { text: '指标四' },
            //     { text: '指标五' }
            // ]
            // var radarSeriesData=[
            //     {
            //         value: [100, 8, 0.40, -80, 20000],
            //         name: '化石'
            //     },
            //     {
            //         value: [60, 5, 0.30, -100, 15000],
            //         name: '工艺'
            //     }
            // ]
            // var pieSeriesData=[
            //     {value:335, name:'化石'},
            //     {value:310, name:'工艺'},
            //     {value:234, name:'联盟广告'},
            //     {value:135, name:'视频广告'},
            //     {value:1548, name:'搜索引擎'}
            // ]
            // layui.$("#pieRadarDiv").css("width", (parentWith - 50) + 'px');
            // var myChartPieRadar= echarts.init(document.getElementById('pieRadarDiv'));
            // initPieRadar(myChartPieRadar,legendData,radarIndicator,radarSeriesData,pieSeriesData,'污染源活动水平','污染源排放详情')
            // var sourceData=[
            //     ['product', '新疆', '2013', '2014', '2015'],
            //         ['天然气', 41.1, 30.4, 65.1, 53.3],
            //         ['Milk Tea', 86.5, 92.1, 85.7, 83.1],
            //         ['Cheese Cocoa', 24.1, 67.2, 79.5, 86.4]
            //     ]

            layui.$.get('/data/source/fixed', function (result) {
                layui.$("#upAndDowmBar").css("width", (parentWith - 50) + 'px');
                var myChartPieRadar= echarts.init(document.getElementById('upAndDowmBar'));
                initUpAndDowmBar(myChartPieRadar,result);
            });
            // var seriesData = [{
            //     name: 'Grandpa',
            //     children: [{
            //         name: 'Uncle Leo',
            //         value: 15
            //     }, {
            //         name: 'Aunt Jane',
            //         value: 4
            //     }, {
            //         name: 'Father',
            //         value: 10
            //     }]
            // }, {
            //     name: 'Mike',
            //     children: [{
            //         name: 'Uncle Dan',
            //         value: 10
            //     }]
            // }, {
            //     name: 'Nancy',
            //     children: [{
            //         name: 'Uncle Nike',
            //         value: 2
            //     }]
            // }];
            // layui.$("#sunburstDiv").css("width", (parentWith - 50) + 'px');
            // var myChartSunburst= echarts.init(document.getElementById('sunburstDiv'));
            // initSunburst(myChartSunburst,seriesData,'行业分类企业数量旭日图')
            // layui.$.get('/source/StackArea/scc1', function (result) {
            //     layui.$("#StackAreaDiv").css("width", (parentWith - 50) + 'px');
            //     var myChartStackArea = echarts.init(document.getElementById('StackAreaDiv'));
            //     var xAxisData=['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'];
            //     initStackArea(myChartStackArea,"源排放时间系列图",result.legendData,xAxisData,result.seriesData);
            // });
        });
    </script>
</body>
</html>