<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>固定燃烧源散煤</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
</head>

<body>
    <div class="z-body animated fadeIn">
        <form class="layui-form layui-form-pane" name="coalForm" id="coalForm" >
            <blockquote class="layui-elem-quote">
                <legend>SCC编码：<span th:text="${scatteredCoalVo?.sccCode}"></span>&nbsp;&nbsp;&nbsp;
                         详情：<span th:text="${scatteredCoalVo?.sourceDescription}"></span></legend>
            </blockquote>
            <input type="hidden" id="id" name="id"  th:value="${scatteredCoalVo?.id}">
            <input type="hidden" id="scc1" name="scc1"  th:value="${scc1}">
            <input type="hidden" id="scc2" name="scc2"  th:value="${scc2}">
            <div class="layui-form-item">
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px">三级编码</label>
                    <div class="layui-input-block" style="width: 240px">
                        <select id="scc3" name="scc3" th:field="*{scatteredCoalVo.scc3}" lay-filter="scc3" lay-verify="required">
                            <option value="">请选择</option>
                            <option th:each="scc3 : ${scc3s}" th:value="${scc3.scc3}" th:text="${scc3.description}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px">四级编码</label>
                    <div class="layui-input-block" style="width: 240px">
                        <select id="scc4" name="scc4" th:field="*{scatteredCoalVo.scc4}" lay-filter="model" lay-verify="required">
                            <option value="">请选择</option>
                            <option th:each="scc4 : ${scc4s}" th:value="${scc4.scc4}" th:text="${scc4.description}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 190px">污染物系统运算/人工填报</label>
                    <div class="layui-input-block" style="width: 160px">
                        <input type="checkbox" id="isCul" name="isCul" lay-skin="switch" lay-filter="isCul" lay-text="ON|OFF">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px;">活动水平</label>
                    <div class="layui-input-block" style="width: 240px;">
                        <select id="activityLevel" name="activityLevel" th:field="*{scatteredCoalVo.activityLevel}" lay-verify="required">
                            <option value="煤炭" >煤炭</option>
                            <option value="液化石油气">液化石油气</option>
                            <option value="天然气">天然气</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px;">活动数量</label>
                    <div class="layui-input-block"  style="width: 240px;">
                        <input id="activityLevelNum" name="activityLevelNum" th:value="${scatteredCoalVo?.activityLevelNum}" class="layui-input" type="text"  lay-verify="required|pos-num">
                    </div>
                </div>
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px;">计量单位</label>
                    <div class="layui-input-block" style="width: 240px;">
                        <select id="fuelMeteringUnit" name="fuelMeteringUnit" th:field="*{scatteredCoalVo.fuelMeteringUnit}" lay-verify="required">
                            <option value="吨" >吨</option>
                            <option value="立方米">立方米</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 180px;">控制技术</label>
                    <div class="layui-input-block" >
                        <input id="controlMeasure" name="controlMeasure" style="width: 170px;" th:value="${scatteredCoalVo?.controlMeasure}"  class="layui-input" type="text" lay-verify="required">
                    </div>
                </div>
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 180px;">燃料平均硫分(%)</label>
                    <div class="layui-input-block">
                        <input id="sulfurContent" name="sulfurContent" style="width: 170px;" th:value="${scatteredCoalVo?.sulfurContent}" class="layui-input" type="text"  lay-verify="required|ratio">
                    </div>
                </div>
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label"  style="width: 180px;">燃料平均灰分(%)</label>
                    <div class="layui-input-block">
                        <input id="ashContent" name="ashContent" style="width: 170px;" th:value="${scatteredCoalVo?.ashContent}" class="layui-input" type="text"  lay-verify="required|ratio">
                    </div>
                </div>
            </div>
            <div id="emission" name="emission" style="display: none">
                <div class="layui-form-item">
                    <div class="layui-inline" style="width: 350px;">
                        <label class="layui-form-label" style="width: 180px;">PM2.5</label>
                        <div class="layui-input-block" >
                            <input id="pm25Emission" name="pm25Emission" style="width: 170px;" th:value="${scatteredCoalVo?.pm25Emission}" class="layui-input" type="text" lay-verify="pos-num">
                        </div>
                    </div>
                    <div class="layui-inline" style="width: 350px;">
                        <label class="layui-form-label" style="width: 180px;">PM10</label>
                        <div class="layui-input-block">
                            <input id="pm10Emission" name="pm10Emission" style="width: 170px;" th:value="${scatteredCoalVo?.pm10Emission}" class="layui-input" type="text" lay-verify="pos-num">
                        </div>
                    </div>
                    <div class="layui-inline" style="width: 350px;">
                        <label class="layui-form-label"  style="width: 180px;">CO</label>
                        <div class="layui-input-block">
                            <input id="coEmission" name="coEmission" style="width: 170px;" th:value="${scatteredCoalVo?.coEmission}" class="layui-input" type="text" lay-verify="pos-num">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline" style="width: 350px;">
                        <label class="layui-form-label" style="width: 180px;">VOCs</label>
                        <div class="layui-input-block" >
                            <input id="vocEmission" name="vocEmission" style="width: 170px;" th:value="${scatteredCoalVo?.vocEmission}" class="layui-input" type="text" lay-verify="pos-num">
                        </div>
                    </div>
                    <div class="layui-inline" style="width: 350px;">
                        <label class="layui-form-label" style="width: 180px;">SO2</label>
                        <div class="layui-input-block">
                            <input id="so2Emission" name="so2Emission" style="width: 170px;" th:value="${scatteredCoalVo?.so2Emission}" class="layui-input" type="text" lay-verify="pos-num">
                        </div>
                    </div>
                    <div class="layui-inline" style="width: 350px;">
                        <label class="layui-form-label"  style="width: 180px;">NOx</label>
                        <div class="layui-input-block">
                            <input id="noxEmission" name="noxEmission" style="width: 170px;" th:value="${scatteredCoalVo?.noxEmission}" class="layui-input" type="text" lay-verify="pos-num">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline" style="width: 350px;">
                        <label class="layui-form-label" style="width: 180px;">NH3</label>
                        <div class="layui-input-block" >
                            <input id="nh3Emission" name="nh3Emission" style="width: 170px;" th:value="${scatteredCoalVo?.nh3Emission}" class="layui-input" type="text" lay-verify="pos-num">
                        </div>
                    </div>
                    <div class="layui-inline" style="width: 350px;">
                        <label class="layui-form-label" style="width: 180px;">OC</label>
                        <div class="layui-input-block">
                            <input id="ocEmission" name="ocEmission" style="width: 170px;" th:value="${scatteredCoalVo?.ocEmission}" class="layui-input" type="text" lay-verify="pos-num">
                        </div>
                    </div>
                    <div class="layui-inline" style="width: 350px;">
                        <label class="layui-form-label"  style="width: 180px;">BC</label>
                        <div class="layui-input-block">
                            <input id="bcEmission" name="bcEmission" style="width: 170px;" th:value="${scatteredCoalVo?.bcEmission}" class="layui-input" type="text" lay-verify="pos-num">
                        </div>
                    </div>
                </div>
            </div>
            <shiro:hasPermission name="factoryAuth:scatteredCoal:update">
                <div class="layui-input-inline login-btn" style="margin-left: 40%;margin-top: 10px">
                    <button class="layui-btn layui-btn-blue" lay-filter="edit" lay-submit="">保存提交</button>
                </div>
            </shiro:hasPermission>
        </form>
    </div>
    <script th:src="@{/lib/jquery/jquery.min.js}"></script>
    <script th:src="@{/lib/layui/layui.js}"></script>
    <script th:src="@{/js/common.js}"></script>

    <script type="application/javascript">
        layui.use(['form', 'layer','jquery'], function(){
            $ = layui.jquery;
            var form = layui.form
                , layer = layui.layer

            form.verify({
                "ratio": function(value, item) {
                    var reg = new RegExp(/^100$|^(\d|[1-9]\d)(\.\d+)*$/);
                    if (value.length > 0 && !reg.test(value)) {
                        return '请输入0-100的数！！'
                    }
                },
                "pos-num": function(value, item) {
                    var reg1 = new RegExp(/^\d+(\.{0,10}\d+){0,10}$/);
                    var reg2 = new RegExp(/[+-]*\d+\.?\d*[Ee]*[+-]*\d+/);
                    if (value.length > 0 && !reg1.test(value)) {
                        if (!reg2.test(value)) {
                            return '请输入正数！！'
                        }
                    }
                }
            });

            form.on('select(scc3)',function(data){
                var formData = {};
                var t = $('form').serializeArray();
                $.each(t, function() {
                    formData [this.name] = this.value;
                });
                var scc1=formData["scc1"];
                var scc2=formData["scc2"];

                var scc3=data.value;
                $.ajax({
                    url: '/factoryAuth/seleScc3/' + scc2+"/"+scc3,
                    data: {scc1: scc1,scc2: scc2,scc3: scc3},//发送的参数
                    type: "post",
                    success: function (datas) {
                        $("select[name=scc4]").html('<option value="">请选择</option>'); //清空
                        if(datas.length>0){
                            $.each(datas, function(key, val) {
                                var option1 = $("<option>").val(val.scc4).text(val.description);
                                $("select[name=scc4]").append(option1);
                                form.render('select');
                            });
                        }else{
                            form.render('select');
                        }
                    },
                    error:function(){
                        //失败执行的方法
                        layer.msg("更新失败!", {icon: 6});
                    }
                })
            });

            //监听指定开关
            form.on('switch(isCul)', function(data){
                if (this.checked){
                    $("#emission").attr("style","display:block;");//显示div
                }else {
                    $("#emission").attr("style","display:none;");//隐藏div
                }
            });
            //监听提交
            form.on('submit(edit)', function (form) {
                form.field._method = 'PUT';
                var data = form.field;
                var isCul=$('input[name="isCul"]:checked').is(':checked');
                data.isCul=isCul;
                $.post('/source/fixed/coal/edit/', data, function (result) {
                    handlerResult(result, function (data) {
                        layer.msg("提交成功！",{icon: 6, time:1000});
                    });
                });
                return false;
                form.render();
            });
        });
    </script>
</body>
</html>