<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>VOC处理装置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
</head>

<body>
    <div class="z-body animated fadeIn">
        <form class="layui-form layui-form-pane">
            <blockquote class="layui-elem-quote">
                <legend>SCC编码：<span th:text="${shVocdeviceeffiVo.scccode}"></span>&nbsp;&nbsp;&nbsp;
                         详情：<span th:text="${shVocdeviceeffiVo.sourceDiscrip}"></span></legend>
            </blockquote>
            <input type="hidden" id="id" name="id"  th:value="${shVocdeviceeffiVo.id}">
            <input type="hidden" id="comId" name="comId"  th:value="${shVocdeviceeffiVo.comId}">
            <input type="hidden" id="scccode" name="scccode"  th:value="${shVocdeviceeffiVo.scccode}">
            <div class="layui-form-item">
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px">年份</label>
                    <div class="layui-input-block" style="width: 240px">
                        <input type="text" class="layui-input" id="year" name="year" th:value="${shVocdeviceeffiVo.year}" placeholder="年份">
                    </div>
                </div>
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px">城市</label>
                    <div class="layui-input-block" style="width: 240px">
                        <select id="cityCode" name="cityCode" th:field="*{shVocdeviceeffiVo.cityCode}" lay-filter="cityCode">
                            <option value="">请选择</option>
                            <option th:each="city : ${citys}" th:value="${city.cityCode}" th:text="${city.cityName}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px">区县</label>
                    <div class="layui-input-block" style="width: 240px">
                        <select id="countyId" name="countyId" th:field="*{shVocdeviceeffiVo.countyId}" lay-filter="countyId">
                            <option value="">请选择</option>
                            <option th:each="county : ${countys}" th:value="${county.countyId}" th:text="${county.countyName}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px;">企业名称</label>
                    <div class="layui-input-block"  style="width: 240px;">
                        <input id="companyName" name="companyName" th:value="${shVocdeviceeffiVo.companyName}" class="layui-input" type="text"  lay-verify="required|chinese">
                    </div>
                </div>
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px;">地址</label>
                    <div class="layui-input-block"  style="width: 240px;">
                        <input id="address" name="address" th:value="${shVocdeviceeffiVo.address}" class="layui-input" type="text"  lay-verify="required|chinese">
                    </div>
                </div>
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px;">企业备注</label>
                    <div class="layui-input-block" style="width: 240px;">
                        <input id="category" name="category" th:value="${shVocdeviceeffiVo.category}" class="layui-input" type="text"  lay-verify="">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px;">经度</label>
                    <div class="layui-input-block"  style="width: 240px;">
                        <input id="longitude" name="longitude" th:value="${shVocdeviceeffiVo.longitude}" class="layui-input" type="text"  lay-verify="required|longitude">
                    </div>
                </div>
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px;">纬度</label>
                    <div class="layui-input-block"  style="width: 240px;">
                        <input id="latitude" name="latitude" th:value="${shVocdeviceeffiVo.latitude}" class="layui-input" type="text"  lay-verify="required|latitude">
                    </div>
                </div>
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px;">年运行小时数(h)</label>
                    <div class="layui-input-block"  style="width: 240px;">
                        <input id="annualRuntime" name="annualRuntime" th:value="${shVocdeviceeffiVo.annualRuntime}" class="layui-input" type="text"  lay-verify="required|number">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px;">处理工艺</label>
                    <div class="layui-input-block" style="width: 240px;">
                        <input id="gyName" name="gyName" th:value="${shVocdeviceeffiVo.gyName}" class="layui-input" type="text"  lay-verify="required">
                    </div>
                </div>
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px;">工段</label>
                    <div class="layui-input-block" style="width: 240px;">
                        <input id="workshopSection" name="workshopSection" th:value="${shVocdeviceeffiVo.workshopSection}" class="layui-input" type="text"  lay-verify="required">
                    </div>
                </div>
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px;">出口风量(m3/h)</label>
                    <div class="layui-input-block"  style="width: 240px;">
                        <input id="exitAirvolume" name="exitAirvolume" th:value="${shVocdeviceeffiVo.exitAirvolume}" class="layui-input" type="text"  lay-verify="required|pos-num">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px;">出口浓度(mg/m3)</label>
                    <div class="layui-input-block" style="width: 240px;">
                        <input id="exitConcentration" name="exitConcentration" th:value="${shVocdeviceeffiVo.exitConcentration}" class="layui-input" type="text"  lay-verify="required|pos-num">
                    </div>
                </div>
                <div class="layui-inline" style="width: 350px;">
                    <label class="layui-form-label" style="width: 110px;">效率</label>
                    <div class="layui-input-block" style="width: 240px;">
                        <input id="efficency" name="efficency" th:value="${shVocdeviceeffiVo.efficency}" class="layui-input" type="text"  lay-verify="required|ratio">
                    </div>
                </div>
                <th:block  th:include="common/emission::isCul" />
            </div>
            <div id="emissionDiv" name="emissionDiv">
                <div class="layui-form-item">
                    <div class="layui-inline" style="width: 350px;">
                        <label class="layui-form-label" style="width: 180px;">PM2.5</label>
                        <div class="layui-input-block" >
                            <input id="pm25Emission" name="pm25Emission" style="width: 170px;" th:value="${shVocdeviceeffiVo.pm25Emission}" class="layui-input" type="text" lay-verify="pos-num">
                        </div>
                    </div>
                    <div class="layui-inline" style="width: 350px;">
                        <label class="layui-form-label" style="width: 180px;">PM10</label>
                        <div class="layui-input-block">
                            <input id="pm10Emission" name="pm10Emission" style="width: 170px;" th:value="${shVocdeviceeffiVo.pm10Emission}" class="layui-input" type="text" lay-verify="pos-num">
                        </div>
                    </div>
                    <div class="layui-inline" style="width: 350px;">
                        <label class="layui-form-label"  style="width: 180px;">CO</label>
                        <div class="layui-input-block">
                            <input id="coEmission" name="coEmission" style="width: 170px;" th:value="${shVocdeviceeffiVo.coEmission}" class="layui-input" type="text" lay-verify="pos-num">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline" style="width: 350px;">
                        <label class="layui-form-label" style="width: 180px;">VOCs</label>
                        <div class="layui-input-block" >
                            <input id="vocEmission" name="vocEmission" style="width: 170px;" th:value="${shVocdeviceeffiVo.vocEmission}" class="layui-input" type="text" lay-verify="pos-num">
                        </div>
                    </div>
                    <div class="layui-inline" style="width: 350px;">
                        <label class="layui-form-label" style="width: 180px;">SO2</label>
                        <div class="layui-input-block">
                            <input id="so2Emission" name="so2Emission" style="width: 170px;" th:value="${shVocdeviceeffiVo.so2Emission}" class="layui-input" type="text" lay-verify="pos-num">
                        </div>
                    </div>
                    <div class="layui-inline" style="width: 350px;">
                        <label class="layui-form-label"  style="width: 180px;">NOx</label>
                        <div class="layui-input-block">
                            <input id="noxEmission" name="noxEmission" style="width: 170px;" th:value="${shVocdeviceeffiVo.noxEmission}" class="layui-input" type="text" lay-verify="pos-num">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline" style="width: 350px;">
                        <label class="layui-form-label" style="width: 180px;">NH3</label>
                        <div class="layui-input-block" >
                            <input id="nh3Emission" name="nh3Emission" style="width: 170px;" th:value="${shVocdeviceeffiVo.nh3Emission}" class="layui-input" type="text" lay-verify="pos-num">
                        </div>
                    </div>
                    <div class="layui-inline" style="width: 350px;">
                        <label class="layui-form-label" style="width: 180px;">OC</label>
                        <div class="layui-input-block">
                            <input id="ocEmission" name="ocEmission" style="width: 170px;" th:value="${shVocdeviceeffiVo.ocEmission}" class="layui-input" type="text" lay-verify="pos-num">
                        </div>
                    </div>
                    <div class="layui-inline" style="width: 350px;">
                        <label class="layui-form-label"  style="width: 180px;">BC</label>
                        <div class="layui-input-block">
                            <input id="bcEmission" name="bcEmission" style="width: 170px;" th:value="${shVocdeviceeffiVo.bcEmission}" class="layui-input" type="text" lay-verify="pos-num">
                        </div>
                    </div>
                </div>
            </div>
            <shiro:hasPermission name="factoryAuth:scatteredCoal:update">
                <div class="layui-input-inline login-btn" style="margin-left: 40%;margin-top: 10px">
                    <button class="layui-btn layui-btn-blue"  lay-submit=""  lay-filter="edit">提交保存</button>
                </div>
            </shiro:hasPermission>
        </form>
    </div>
    <script th:src="@{/lib/jquery/jquery.min.js}"></script>
    <script th:src="@{/lib/layui/layui.js}"></script>
    <script th:src="@{/js/common.js}"></script>

    <script type="application/javascript">
        layui.use(['form', 'layer','jquery'], function(){
            $ = layui.jquery;
            var form = layui.form
                , layer = layui.layer

            //监听提交
            form.on('submit(edit)', function (form) {
                form.field._method = 'PUT';
                var data = form.field;
                var isCul=$('input[name="isCul"]:checked').is(':checked');
                data.isCul=isCul;
                $.post('/source/process/shVoc/edit', form.field, function (result) {
                    handlerResult(result, function (data) {
                        layer.msg("提交成功！",{icon: 6, time:1000});
                    });
                });
                return false;
            });
        });
    </script>
</body>
</html>